<form accept-charset="UTF-8" action="<%= crear_documento_path %>" class="new_doc" id="new_doc" method="post" enctype="multipart/form-data">
	<div class="row" id="bloque_archivos">
		<div class="col-md-12">
			<div class="row form-horizontal">
				<div class="col-lg-12">
					<div class="main-box">
						<header class="main-box-header clearfix">
							<h2>Documentos Adjuntos</h2>
						</header>
						<div class="main-box-body clearfix">
							<div class="form-group">
								<label  class="col-lg-2 control-label">
								Documento:</label>
								<div class="col-lg-10">
									<select class="required form-control input-transparent" name="doc[name]" id="tipo_doc">
										<option value="">Seleccione tipo documento</option>
										<option value="Decreto">Decreto</option>
										<option value="Cotizacion">Cotización</option>
										<option value="Terminos de Referencia">Terminos de Referencia</option>
										<option value="Especificación Técnica">Especificación Técnica</option>
										<option value="Orden de Compra">Orden de Compra</option>
										<option value="Acta Evaluación">Acta Evaluación</option>
										<option value="Imagen Referencial">Imagen Referencial</option>
										<option value="Boleta">Boleta</option>
										<option value="Factura">Factura</option>
										<option value="Programa">Programa</option>
										<option value="Guia de Estudio">Guia de Estudio</option>
										<option value="Certificado Proveedor Unico">Certificado Proveedor Unico</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Archivo</label>
								<div class="col-lg-10">
									<input type="file" name="doc[archivo]" class="required form-control input-transparent"> 
								</div>
							</div>

							<div class="form-group">
								<label  class="col-lg-2 control-label"></label>
								<div class="col-lg-10">
									<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-upload"></i> Subir</button>
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label"></label>
								<div class="col-lg-10">
									<table id="t_doc" class="table" role="grid" aria-describedby="datatable-table_info">
										<thead>
											<th>#</th>
											<th>Fecha</th>
											<th>Documento</th>
											<th>Departamento</th>
											<th>Subido por</th>
											<th>Enlace</th>
										</thead>
										<tbody>
											<% @orden.documentos.each_with_index do |d, i| %>
											<tr>
											<td><%= i + 1 %></td>
											<td><%= d.created_at.strftime("%d/%m/%Y %H:%M") %></td>
											<td><%= d.name %></td>
											<td><%= d.departamento.nombre %></td>
											<td><%= d.usuario.nombre %> <%= d.usuario.apaterno %></td>
												<td>
												<a href='<%= d.archivo %>' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>
												<input type='hidden' name='id_doc' value='<%= d.id %>'> 
												<% if @orden.es_editable? %>
												<button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</button>
												<% end %>
												</td>
											</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>