
<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Origen</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">estado</th>
                <th class="text-center">Creada</th>
                <th class="text-center">Ubicación</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @ordenes.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                  <td class="text-left">
                    <%= o.titulo %>
                  </td>
                  <td class="text-left">
                    <%= o.departamento.nombre %> - <%= o.departamento.establecimiento.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>
                  <td class="text-center">
                    <% case o.estado %>
                    <% when "En proceso" %>
                     <span class="label label-primary"><%= o.estado %></span>
                    <% when "En consulta" %>
                     <span class="label label-info"><%= o.estado %></span>
                     <% when "Recepcionada" %>
                     <span class="label label-success"><%= o.estado %></span>
                     <% when "Comprada" %>
                     <span class="label label-success"><%= o.estado %></span>
                     <% when "Rechazada" %>
                     <span class="label label-danger"><%= o.estado %></span>
                     <% when "Terminada" %>
                      <span class="label label-warning"><%= o.estado %></span>
                     <% else %>
                        <span class="label label-default"><%= o.estado %></span>
                     <% end %>
                  </td>
                  <td class="text-left">
                    <%= o.created_at.strftime('%d/%m/%Y %H:%M') %>
                  </td>
                  <td class="text-left">
                  <%= ubicacion_opi(o.id) %>
                  </td>
                  <td style="width: 15%;">

                    <a href="<%= ver_opi_path o.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver Orden">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>

                    <% if not o.ubicacion.blank? %>
                    <% if o.ubicacion.departamento_id == @usuario_actual.departamento_id %>
                        <a href="<%= gestionar_orden_path o.id %>" class="table-link"  data-toggle="tooltip" data-placement="top" title="Gestionar Orden">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>  

                        <% end %>
                        <% end %>
                    

                  </td>
                  <td>
                  <% if o.departamento_id == @usuario_actual.departamento_id and o.movimientos.size <= 1   %>
                  
                      <form action="<%= eliminar_orden_path o.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar la Orden ID: <%= o.id %>?');">
                        <button type="submit"  class="btn btn-link table-link"  data-toggle="tooltip" data-placement="top" title="Eliminar Orden">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                          </span>
                        </button>    
                      </form>
                        
                  
                  
                    <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>