
<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID Orden</th>
                <th>Codigo</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Origen</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">estado</th>
                <th class="text-center">inicio</th>
                <th class="text-center">Termino</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @ordenes.licitacions(:estado => "Publicada").each do |l| %>
                <tr>
                  <td>
                    <%= l.orden.id %>
                  </td>
                  <td>
                    <%= l.cod %>
                  </td>
                  <td class="text-left">
                    <%= l.orden.titulo %>
                  </td>
                  <td class="text-left">
                    <%= l.orden.departamento.nombre %> - <%= l.orden.departamento.establecimiento.nombre %>
                  </td>
                  <td class="text-left">
                    <%= l.orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>
                  <td class="text-center">
                     <%  if Time.now < l.inicio %>
                      <span class="label label-warning">En espera</span>
                     <% end %>
                     <%  if Time.now < l.termino and Time.now > l.inicio %>
                      <span class="label label-success">En Licitacion</span>
                      <% end %>
                     <% if Time.now > l.termino %>
                      <span class="label label-danger">Espera de decreto adjudicación</span>
                     <% end %>
                  </td>
                  <td class="text-left">
                    <%= l.inicio.strftime('%d/%m/%Y') %>
                  </td>
                  <td class="text-left">
                    <%= l.termino.strftime('%d/%m/%Y') %>
                  </td>
                  <td style="width: 15%;">
                        <a href="<%= gestionar_licitacion_path l.orden.id %>" class="table-link"  data-toggle="tooltip" data-placement="top" title="Gestionar Licitacion">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>                     

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>