<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Gestionar orden Pedido</span></li>
		</ol>
		<h1>OPI ID: <%= @orden.id %> | Periodo <%= @orden.periodo.anio %></h1>
	</div>
</div>



<% if @orden.ubicacion.departamento_id.to_i == @usuario_actual.departamento_id.to_i  %>

<%= render "ordens/gestionar/ultimo_movimiento" %>


<% if @orden.estado == "Comprada" %>
	<%= render "ordens/gestionar/comprada" %>
<% else %>

<%= render "ordens/gestionar/gestionar" %>

<% end %>

<%= render "archivo" %>
<%= render "ordens/gestionar/licitacion" %>






<%= render "ordens/show/orden_compra" %>

<% if @orden.es_editable %>
<form action="<%= actualiza_orden_path %>" method="post" id="actualiza_form">
<% end %>
<%= render "ordens/show/orden" %>
<%= render "ordens/show/subvencion" %>

<%= render "ordens/show/cuenta_gasto" %>


<% if !@orden.orden_tiene_accion.blank? %>
	<%= render "ordens/show/pme_show" %>
<% end %>

<div id="bloque_area" style="display:none">
	<%= render "ordens/show/pme" %>
</div>
<% if !@orden.bien_servicios.blank? %>
<div  id="bloque_articulos">
	<%= render "ordens/show/articulos" %>
</div>
<% else
		if @orden.es_editable %>
			<div  id="bloque_articulos">
				<%= render "ordens/show/articulos" %>
			</div>
		<% end %>
<% end %>
<% if !@orden.recurso_humano.blank? %>
<div  id="bloque_personal"  >
	<%= render "ordens/show/personal" %>
</div>
<div id="bloque_contrato" >
	<%= render "ordens/show/contrato" %>
</div>
<% end %>

<% if @orden.es_editable %>
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">

      </header>
      <div class="main-box-body clearfix">
        <div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Guardar Cambios</button>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
</form>
<% end %>



<%= render "movimientos" %>	
<% else %>
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong><i class="fa fa-check"></i> Usted no tiene permiso para gestionar esta orden</strong> 
</div>
<% end %>


<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">

      </header>
      <div class="main-box-body clearfix">
        <div class="form-group">
			<div class="col-lg-12 text-center">
				<%= link_to 'Volver', :back, :class => "btn btn-default" %>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>





<script type="text/javascript">

function showRequest_actualiza(formData, jqForm, options) { 
      
     
} 
function showResponse_actualiza(responseText, statusText)  { 

 if(responseText.estado == "Exito"){

      alertify.success("Se ha guardado el documento exitosamente");
  
  }else{
  	alertify.error(responseText.estado);
  }
}
// pre-submit callback 
function showRequest(formData, jqForm, options) { 

	var validator = $( "#new_doc" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}
      
     
} 
 


// post-submit callback 
function showResponse(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){

      $("table#t_doc tbody").append("<tr>" +
        "<td>" + responseText.name + "</td>" +
        "<td>" +
          "<a href='" + responseText.url + "' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
          "<input type='hidden' name='id_doc' value='" + responseText.id + "'> <button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</buttton>" +
          "</td>" +
      "</tr>");
      $("#doc_orden").append("<input type='hidden' name='doc_guardar[][id]' value='" + responseText.id + "'>");	
      alertify.success("Se ha guardado el documento exitosamente");
  
  }
}

$(document).ready(function() {

	$('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= Time.now.day %>/<%= Time.now.month %>/<%= Time.now.year %>',
			    endDate: '<%= Time.now.day %>/<%= Time.now.month + 1 %>/<%= Time.now.year %>'
			});  

	$("#ordenes").on("click", "button.rm_orden", function() {
		$(this).parent().parent().parent().remove();
	})

	$("#licitacion").on("click", "button.rm_licitacion", function() {
		$(this).parent().parent().parent().remove();
	})
	$("#btn_licitacion").click(function() {
		$("#licitacion").append('<div><hr /><div class="form-group" >' +
						'<label  class="col-lg-2 control-label">Cod Mercado Publico:</label>' +
							'<div class="col-lg-10">' +
								'<input type="text"  name="licitacion[][cod]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">URL Mercado Publico:</label>' +
							'<div class="col-lg-10">' +
								'<input type="text"  name="licitacion[][url]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Fecha Inicio:</label>' +
							'<div class="col-lg-10">' +
								'<div class="input-group">' +
									'<input type="date" class="form-control required" placeholder="Desde..." name="licitacion[][inicio]">' +
									'<span class="input-group-addon"><i class="fa fa-calendar"></i></span>' +
								'</div>' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Fecha Termino:</label>' +
							'<div class="col-lg-10">' +
								'<div class="input-group">' +
									'<input type="date" class="form-control required" placeholder="hasta..." name="licitacion[][termino]">' +
									'<span class="input-group-addon"><i class="fa fa-calendar"></i></span>' +
								'</div>' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label class="col-lg-2 control-label"></label>' +
							'<div class="col-lg-10">' +
								'<button type="button" class="btn btn-default rm_licitacion"><i class="fa fa-minus"></fa></button>' +
							'</div>' +
						'</div></div>')
	})

	$("#btn_orden").click(function() {
		$("#ordenes").append('<div><hr /><div class="form-group" >' +
							'<label  class="col-lg-2 control-label">ID OC:</label>' +
							'<div class="col-lg-10">' +
								'<input type="text"  name="compra[][orden_compra]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Fecha OC:</label>' +
							'<div class="col-lg-10">' +
								'<input type="date" placeholder="Ej. 15/03/2015"  name="compra[][fecha]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Monto OC:</label>' +
							'<div class="col-lg-10">' +
								'<input type="number"  name="compra[][monto]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label"></label>' +
							'<div class="col-lg-10">' +
								'<button type="button" class="btn btn-default rm_orden"><i class="fa fa-minus"></i></button>' +
							'</div>' +		
						'</div></div>')
	})

	$("#sl_accion_gestionar").change(function() {
		$("#licitacion").hide("slow");
		$("#destinos").hide("slow");
		$("#compra").hide("slow");
		$("#cuenta_gasto").hide("slow");
		$("#enviar_btn").show()
		$("#enviar_btn_terminar").hide()
		$("#enviar_btn_otra_pc").hide()
		if($(this).val() == "Consulta"){
			$("#destinos").show("slow")
		}else if($(this).val() == "Licitar"){
			$("#licitacion").show("slow");
		}else if($(this).val() == "Comprar"){
			$("#compra").show("slow");
			$("#enviar_btn").hide()
			$("#enviar_btn_terminar").show()
			$("#enviar_btn_otra_pc").show()
		}else if($(this).val() == "Aprobada"){
			$("#cuenta_gasto").show("slow");	
		}else{
			$("#licitacion").hide("slow");
			$("#destinos").hide("slow");
			$("#compra").hide("slow");
			$("#cuenta_gasto").hide("slow");
		}
	})

	$("table#t_doc tbody").on("click", "button.borra_doc", function(){
		$id = $(this).parent().find("input[name^='id_doc']").val()
		$("#doc_orden").append("<input type='hidden' name='doc_borrar[id]' value='" + $id + "'>");		
		$(this).parent().parent().remove();

	})

    var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
        dataType:  'json'
    }; 

    var options_actualiza = { 
        beforeSubmit:  showRequest_actualiza,  // pre-submit callback 
        success:       showResponse_actualiza,  // post-submit callback 
        dataType:  'json'
    }; 

    $('#actualiza_form').submit(function() { 
        $(this).ajaxSubmit(options_actualiza); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 
 
    // bind to the form's submit event 
    $('#new_doc').submit(function() { 
        $(this).ajaxSubmit(options); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

    $("#gestionar_orden").validate();

  });
  
  </script>  