<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Nueva orden Pedido</span></li>
		</ol>
		<h1>Nueva Orden Pedido</h1>
	</div>
</div>


<form action="<% ordens_path %>" class="new_orden " id="new_orden" method="post" onKeypress="if(event.keyCode == 13) event.returnValue = false;">

	<%= render "ordens/new/orden" %>

		<div id="bloque_area" style="display:none">
		<%= render "ordens/new/pme" %>
	</div>
	<%= render "ordens/new/presupuesto" %>
	<%= render "ordens/new/subvencion" %>


	
	<div  id="bloque_articulos" >
		<%= render "ordens/new/articulos" %>
	</div>
	<div  id="bloque_personal" style="display:none" >
		<%= render "ordens/new/personal" %>
	</div>
	<div id="bloque_contrato" style="display:none" >
		<%= render "ordens/new/contrato" %>
		<%= render "ordens/new/remuneracion" %>
	</div>
	<div id="doc_orden">
						
					</div>
</form>
<form accept-charset="UTF-8" action="<%= crear_documento_path %>" class="new_doc" id="new_doc" method="post" enctype="multipart/form-data">
	<div class="row" id="bloque_archivos">
		<div class="col-md-12">
		<%= render "ordens/new/archivo" %>
		</div>
	</div>
</form>
	<div class="form-actions">
		<button type="button" id="crear_btn" class="btn btn-primary">Crear Orden</button>
		<button type="button" class="btn btn-default">Cancel</button>
	</div>


<script type="text/javascript">

// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 

	var validator = $( "#new_orden" ).validate();
	if(validator.form()){
		disponible = parseInt($("#p_disponible").val()) 
		solicitado = parseInt($("#solicitado").val())
		console.log("Disponible: " + disponible + "")
		console.log("Solicitado: " + solicitado + "")
		if(disponible < solicitado){
			alertify.alert("Lo sentimos, el monto solicitado excede al disponible");
			return false;
		}else{
			return true;
		}
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.alert("ORDEN ID: " + responseText.orden.id + "", function(){
     document.location.href = "/ordenes/enviadas"
  	});

   
  }else
   alertify.error("Error, no se ha creado la orden, revise los campos ingresados");
}


	$(document).ready(function() {


		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_orden').ajaxSubmit(options2); 
		      })
		 	

		    
		    


		$("#sl_subvencion").change(function(){
			$.getJSON("<%= get_subvencion_path %>", { id: $(this).val() }, function(data){
			if(data.es_sep){
				$("#bloque_area").show("slow");
			}else{
				$("#bloque_area").hide("slow");
				
			}
				$("#p_total").val(puntitos(data.pagado));
				$("#p_proceso").val(puntitos(data.tramite));
				$("#p_libre").val(puntitos(data.restante));
				$("#p_disponible").val(data.restante);
			}) 
		})



	})
</script>