<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Ver orden Pedido</span></li>
		</ol>
		<h1>Orden Periodo <%= @orden.periodo.anio %></h1>
	</div>
</div>




<%= render "ordens/show/orden" %>


<%= render "ordens/show/orden_compra" %>

<%= render "ordens/show/subvencion" %>

<%= render "ordens/show/cuenta_gasto" %>



<% if !@orden.orden_tiene_accion.blank? %>
	<%= render "ordens/show/pme_show" %>
<% end %>

<div id="bloque_area" style="display:none">
	<%= render "ordens/show/pme" %>
</div>
<% if !@orden.bien_servicios.blank? %>
	<div  id="bloque_articulos">
		<%= render "ordens/show/articulos" %>
	</div>
<% else
		if @orden.es_editable %>
			<div  id="bloque_articulos">
				<%= render "ordens/show/articulos" %>
			</div>
		<% end %>
<% end %>
<% if !@orden.recurso_humano.blank? %>
<div  id="bloque_personal"  >
	<%= render "ordens/show/personal" %>
</div>
<div id="bloque_contrato" >
	<%= render "ordens/show/contrato" %>
</div>
<% end %>


<%= render "ordens/show/archivo" %>
<%= render "movimientos" %>






<script type="text/javascript">

// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 

	var validator = $( "#new_orden" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.success("Se ha guardado el producto exitosamente");
    $("#cajas").html("")
    $("form")[0].reset();
  }else
   alertify.error("Error, no se ha guardado el producto, revise los campos ingresados");
}


	$(document).ready(function() {

		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_orden').ajaxSubmit(options2); 
		      })
		 	

		    
		    


		$("#sl_subvencion").change(function(){
			if($(this).val() == "2"){
				$("#bloque_area").show("slow");
			}else{
				$("#bloque_area").hide("slow");
			}
		})

		$("#sl_tipo_gasto").change(function(){
			$val = ($(this).children(':selected').text())
			if($val == "Recursos Humanos"){
				$("#bloque_personal").show("slow");
				$("#bloque_articulos").hide("slow");
				$("#bloque_contrato").show("slow");
			}else if($val == "Bienes y Servicios"){
				$("#bloque_articulos").show("slow");
				$("#bloque_personal").hide("slow");
				$("#bloque_contrato").hide("slow");
			}
		})

	})
</script>