<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
            <li class="active"><span>Periodo</span></li>
        </ol>
        <h1>Periodo actual: <%= session[:periodo].anio %></h1>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Crear Nuevo Periodo <span></span></h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= crear_periodo_path %>" method="post">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Año</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="periodo[anio]">
                            <option value="">Seleccione</option>
                                <option value="<%= Date.today.year - 1 %>"><%= Date.today.year - 1 %></option>
                                <option value="<%= Date.today.year %>"><%= Date.today.year %></option>
                                <option value="<%= Date.today.year + 1 %>"><%= Date.today.year + 1 %></option>

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Activar?</label>
                    <div class="col-lg-10">
                        <div class="onoffswitch">
                          <input type="checkbox" name="activar" value="1" class="onoffswitch-checkbox" id="myonoffswitch" >
                          <label class="onoffswitch-label" for="myonoffswitch">
                          <div class="onoffswitch-inner"></div>
                          <div class="onoffswitch-switch"></div>
                          </label>
                          </div>
                    </div>
                </div>


                
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit"class="btn btn-primary">Ingresar Periodo</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Periodos</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
            <input type="text" class="form-control" placeholder="Buscar...">
            <i class="fa fa-search search-icon"></i>
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><a href="#"><span>Periodo</span></a></th>
                <th class="text-center"><a href="#" class="asc"><span>Activo</span></a></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
           
            <tbody>
             <% Periodo.todos.each do |p| %>
              <tr>
                <td>
                  <%= p.anio %>
                </td>
                <td>
                  <% if p.es_vigente %> Si <% else %> No <% end %>
                </td>
                <td style="width: 15%;">
                  <% if !p.es_vigente %> 
                  <form action="<%= activar_periodo_path %>" method="post">
                  <input type="hidden" name="id" value="<%= p.id %>">
                    <button type="submit" class="btn btn-primary">Activar</button>
                    </form>
                  <% end %>
                 
                </td>
                <td style="width: 15%;">
                  <% if !p.es_vigente %> 
                  <form action="<%= eliminar_periodo_path %>" method="post">
                  <input type="hidden" name="id" value="<%= p.id %>">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                  <% end %>
                 
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
