<div class="form-horizontal">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Ordenes sin Asignar a contrato</h2>

      </header>

      <div class="main-box-body clearfix">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-left">OPI</th>
              <th class="text-left">Titulo</th>
              <th class="text-left">Establecimiento</th>
              <th class="text-left">Solicitado</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
          <% @ordenes.each do |o| %>
            <tr>
              <td><%= o.id %></td>
              <td><%= o.titulo %></td>
              <td><%= o.departamento.establecimiento.nombre %></td>
              <td>

                <% o.bien_servicios.each do |b| %>
                 <p> <%= b.cantidad %> - <%= b.descripcion %></p>
                <% end %>
              </td>
              <td><a href="<%= ver_orden_suministro_path o.id %>"><i class="fa fa-search"></i> Ver </a></td>
            </tr>

          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Contratos Suministros</h2>

      </header>

      <div class="main-box-body clearfix">
      <a href="<%= nuevo_suministro_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo Contrato de Suministros </a>
        <table class="table table-striped" id="datatable">
          <thead>
            <tr>
              <th class="text-left">OPI</th>
              <th class="text-left">Titulo</th>
              <th class="text-left">Descripcion</th>
              <th class="text-left">Disponible</th>
              <th class="text-left">Utilizado</th>
              <th class="text-left">Ordenes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% Suministro.vigentes(session[:periodo].id).each do |s| %>
            <tr>
              <td><%= s.orden_id %></td>
              <td><%= s.titulo %></td>
              <td><%= s.descripcion %></td>
              <td><%= miles(s.total) %></td>
              <td><%= miles(s.orden_suministros.sum(:monto)) %></td>
              <td><%= s.orden_suministros.count %></td>
              <td><a href="<%= ver_suministro_path s.id %>"><i class="fa fa-search"></i> </a></td>
            </tr>

          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
        $('#datatable').dataTable();



})
</script>