

<div class="col-sm-12">
	<h1>Nuevo contrato suministro</h1>
</div>


<form action="<%= guardar_suministro_path %>" method="post" id="new_contrato">

	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Datos contrato</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="rut" class="col-sm-2 control-label">Titulo</label>
						<div class="col-sm-10">
							<input type="text" value="" name="sum[titulo]" class="form-control required ">
						</div>

					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">Descripcion</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" name="sum[descripcion]"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">Monto Disponible</label>
						<div class="col-sm-4">
							<input type="number" placeholder="" value="" name="sum[total]" id="apaterno" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">OPI</label>
						<div class="col-sm-4">
							<input type="number" placeholder="" value="" name="sum[orden_id]" id="apaterno" class="form-control required">
						</div>
					</div>

					<div class="form-group">
					<label for="apaterno" class="col-sm-2 control-label"></label>
					<div class="col-sm-10 ">
						<button type="submit" id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
						
					</div>
				</div>
				
					

				</div>


			</div>
		</div>
	</div>



</form>






<script type="text/javascript">


</script>