

<div class="col-sm-12">
	<h1>Contrato suministro</h1>
</div>


<form action="<%= guardar_suministro_path %>" method="post" id="new_contrato">

	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Datos contrato</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="rut" class="col-sm-2 control-label">Titulo</label>
						<div class="col-sm-10">
							<input type="text" value="<%= @s.titulo %>" name="sum[titulo]" class="form-control required ">
						</div>

					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">Descripcion</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" name="sum[descripcion]"><%= @s.descripcion %></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">Monto Disponible</label>
						<div class="col-sm-4">
							<input type="number" placeholder="" value="<%= @s.total %>" name="sum[total]" id="apaterno" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">OPI</label>
						<div class="col-sm-4">
							<input type="number" placeholder="" value="<%= @s.orden_id %>" name="sum[orden_id]" id="apaterno" class="form-control required">
						</div>
					</div>

					<div class="form-group">
					<label for="apaterno" class="col-sm-2 control-label"></label>
					<div class="col-sm-10 ">
						<button type="submit" id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Actualizar</button>
						
					</div>
				</div>
				
					

				</div>


			</div>
		</div>
	</div>



</form>


<div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">OPIs bajo contrato</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        
        <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>OPI</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Establecimiento</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @s.orden_suministros.ordens.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                  <td class="text-left">
                    <%= o.titulo %>
                  </td>
                  <td class="text-left">
                    <%= o.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>

                   <td class="text-left">
                    $<%= miles(o.orden_suministro.monto) %> 
                    
                  </td>
                  <td class="text-left">
                    <%= o.departamento.establecimiento.nombre %>
                  </td>
                  <td style="width: 15%;">

                    <a href="<%= ver_opi_path o.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver OPI">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
               
                                

                  </td>  
                  <td style="width: 15%;">
                  <form method="post" action="<%= quitar_orden_path o.id %>" ONSUBMIT="return confirm('¿Esta seguro que desea desasignar la OPI y devolver a Encargado Subvencion?');"
>
                    <input type="hidden" name="suministro_id" value="<%= o.orden_suministro.suministro_id %>">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-remove"></i></button>
                  </form>
                                

                  </td>     
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>



<script type="text/javascript">


</script>