<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Ver orden Pedido</span></li>
		</ol>
		<h1>Orden Periodo <%= @orden.periodo.anio %></h1>
	</div>
</div>


<form action="<%= asignar_orden_path @orden.id %>" method="post" id="new_contrato">

	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Asignar a contrato</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="rut" class="col-sm-2 control-label">Contrato</label>
						<div class="col-sm-10">
							<select class="form-control" name="asignar[suministro_id]">
							<option value="">Seleccione contrato disponible</option>
							<% Suministro.vigentes(session[:periodo].id).each do |s| %>
							<option value="<%= s.id %>"><%= s.titulo %></option>
							<% end %>
							</select>
						</div>

					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">Monto Otorgado</label>
						<div class="col-sm-4">
							<input type="number" placeholder="" value="" name="asignar[monto]" id="apaterno" class="form-control required">
						</div>
					</div>


					<div class="form-group">
					<label for="apaterno" class="col-sm-2 control-label"></label>
					<div class="col-sm-10 ">
						<button type="submit" id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Asignar</button>
						
					</div>
				</div>
				
					

				</div>


			</div>
		</div>
	</div>



</form>

	<%= render "opi/partial/show" %>


