<div style="display:none" id="compra">
	<div id="ordenes">
		<div class="form-group" >
			<label  class="col-lg-2 control-label">ID OC:</label>
			<div class="col-lg-10">
				<input type="text"  name="compra[orden_compra]" class="form-control required">
			</div>
		</div>
		<div class="form-group" >
			<label  class="col-lg-2 control-label">Fecha OC:</label>
			<div class="col-lg-10">
				<input type="date" placeholder="Ej. 15/03/2015"  name="compra[fecha]" class="form-control required">
			</div>
		</div>
		<div class="form-group" >
			<label  class="col-lg-2 control-label">Monto OC:</label>
			<div class="col-lg-10">
				<input type="number"  name="compra[monto]" class="form-control required">
			</div>
		</div>
		
		<div class="form-group" >
			<label  class="col-lg-2 control-label">Adjuntar OC:</label>
			<div class="col-lg-10">
				<input type="file"  name="doc[archivo]" class="form-control required">
			</div>
		</div>
	
	</div>
		<!--
	<hr />
	<div class="form-group" >
		<label  class="col-lg-2 control-label"></label>
		<div class="col-lg-10">
			<button type="button" class="btn btn-success btn-sm" id="btn_orden"><i class="fa fa-plus"></i> Agregar otra orden </button>
		</div>
	</div>
	-->
</div>	
<div style="display:none" id="licitacion">
	<div class="form-group" >
		<label  class="col-lg-2 control-label">ID Mercado Publico:</label>
		<div class="col-lg-10">
			<input type="text"  name="licitacion[][cod]" class="form-control required">
		</div>
	</div>
	<div class="form-group" >
		<label  class="col-lg-2 control-label">URL Mercado Publico:</label>
		<div class="col-lg-10">
			<input type="text"  name="licitacion[][url]" class="form-control required">
		</div>
	</div>
	<div class="form-group" >
		<label  class="col-lg-2 control-label">Fecha Inicio:</label>
		<div class="col-lg-10">
			<div class="input-group">
				<input type="date" class="form-control required" placeholder="Desde..." name="licitacion[][inicio]">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="form-group" >
		<label  class="col-lg-2 control-label">Fecha Termino:</label>
		<div class="col-lg-10">
			<div class="input-group">
				<input type="date" class="form-control required" placeholder="hasta..." name="licitacion[][termino]">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<hr />
	<div class="form-group" >
		<label  class="col-lg-2 control-label"></label>
		<div class="col-lg-10">
			<button type="button" class="btn btn-success btn-sm" id="btn_licitacion"><i class="fa fa-plus"></i> Agregar otra licitación </button>
		</div>
	</div>
</div>