<form accept-charset="UTF-8" action="<%= crear_recepcion_path %>" class="recepcionar" id="recepcionar" method="post">
	<div class="row" id="bloque_archivos">
		<div class="col-md-12">
			<div class="row form-horizontal">
				<div class="col-lg-12">
					<div class="main-box">
						<header class="main-box-header clearfix">
							<h2>Recepcionar Orden</h2>
						</header>
						<div class="main-box-body clearfix">
							<div class="form-group">
								<label  class="col-lg-2 control-label">Comentario</label>
								<div class="col-lg-10">
									<input type="text"  name="comentario" class="form-control required">  
									<input type="hidden"  name="id" value="<%= @orden.id %>">  
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label"></label>
								<div class="col-lg-10">
									<button type="submit" id="enviar_btn" class="btn btn-primary"><i class="fa fa-check"></i> 
										Recepción Conforme de Articulos
									</button>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>