<div class="form-group">
						<label  class="col-lg-2 control-label">Accion:</label>
						<div class="col-lg-10">
		
						
							<select class="form-control required" id="sl_accion_gestionar" name="accion">
								<option value="">Seleccion accion a ejecutar</option>
								<% if @orden.ubicacion.departamento_id != 1 %>

								<option value="Aprobada">Aprobar (Continuar con conducto regular <%= @dpto %>)</option>
								<% else %>
								<option value="Licitar">En Licitación</option>
								<option value="Comprar">Comprar (Asignar orden de compra)</option>
								<option value="Espera decreto">Espera decreto</option>
								<% end %>
								<option value="Rechazada">Rechazar (Sera devuelta al emisor)</option>
								<option value="Consulta">Enviar a Consulta (Seleccionando destino)</option>
								<% if @orden.ubicacion.departamento_id == 1 %>

								<option value="Terminar">Terminar (Dar por finalizada)</option>
								<% end %>
							</select>
						
						</div>
					</div>