
<form accept-charset="UTF-8" action="<%= enviar_orden_path @orden.id %>" class="gestionar_orden " id="gestionar_orden" method="post" onKeypress="if(event.keyCode == 13) event.returnValue = false;" enctype="multipart/form-data">
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Acción </h2>
			</header>
			<div class="main-box-body clearfix">	
				<% if @orden.estado == "Rechazada" %>
					<div class="form-group" >
								<label  class="col-lg-2 control-label">Accion:</label>
								<div class="col-lg-10">
									<select class="form-control required" name="rechazada">
										<option value="">Seleccione acción</option>
										<option value="Terminar">Terminar OPI y cerrar</option>
										<option value="Reenviar">Reenviar OPI</option>
									</select>
								</div>
							</div>
				<% end %>			
				<% if @orden.estado == "En proceso" && @orden.ubicacion.departamento_id == 29 #Personal adjunta decreto%>

				<%= render "ordens/gestionar/if_personal" %>
				
				<% end %>


				<% if @orden.estado == "En proceso" || @orden.estado == "En digitacion" || @orden.estado == "Espera decreto" %>
				
				<% if @dpto != "" #Existe conducto regular %>
					
					<%= render "ordens/gestionar/conducto_regular" %>
				
					<% if @orden.estado != "En consulta" %>
						<% if @usuario_actual.departamento.id == 2 || @usuario_actual.departamento.id == 23 %>

							<%= render "ordens/gestionar/asignar_cuenta" %>
							
						<% end %>	
					<% end %>	
						
					
				<% else #finalizado el conducto regular %>
					<% if  @orden.ubicacion.departamento_id == 2 #Finanzas selecciona destino %>
						<% if @orden.enviada_personal %>

							<div class="form-group" >
								<label  class="col-lg-2 control-label">Enviar a:</label>
								<div class="col-lg-10">
									<select class="form-control required" name="finanzas_fin">
										<option value="">Seleccione Destino</option>
										<option value="tesoreria">Aprobar y enviar a Tesoreria</option>
										<option value="personal">Devolver a Personal</option>
										<option value="Rechazar">Rechazar (Sera devuelta al emisor)	</option>
									</select>
								</div>
							</div>

						<% else %>
							<div class="form-group" >
								<label  class="col-lg-2 control-label">Enviar a:</label>
								<div class="col-lg-10">
									<select class="form-control required" name="enviar_fin">
										<option value="">Seleccione Destino</option>
										<option value="Personal">Personal</option>
										<option value="Adquisiciones">Adquisiciones</option>
										<option value="Rechazar">Rechazar (Sera devuelta al emisor)	</option>
									</select>
								</div>
							</div>
						<% end %>
					<% end %>

					<% if  @orden.ubicacion.departamento_id == 30 #Tesoreria%>
							<div class="form-group" >
								<label  class="col-lg-2 control-label">Accion:</label>
								<div class="col-lg-10">
									<select class="form-control required" name="tesoreria_fin">
										<option value="">Seleccione accion</option>
										<option value="finalizar">Finalizar OPI </option>
									</select>
								</div>
							</div>
					<% end %>

				<% end %>

				<% if @orden.ubicacion.departamento_id == 1 && @orden.estado == "En proceso" %>

					<%= render "ordens/gestionar/conducto_regular" %>
					
			    <% end %>
					<%= render "ordens/gestionar/adquisiciones" %>
					
					<div class="form-group" style="display:none" id="destinos">
						<label  class="col-lg-2 control-label">Destino:</label>
						<div class="col-lg-10">
							<select class="form-control required" id="sl_destino" name="destino">
								<option value="">Seleccione destino</option>
								<option value="<%= @orden.departamento.id %>"><%= @orden.departamento.establecimiento.nombre %> - <%= @orden.departamento.nombre %></option>
								<% Departamento.asesor.each do |d| %>
									<option value="<%= d.id %>"><%= d.establecimiento.nombre %> - <%= d.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
				<% end %>
				<div class="form-group">
					<label  class="col-lg-2 control-label">Comentario</label>
					<div class="col-lg-10">
					<textarea class="form-control required" maxlength="800" name="comentario"></textarea>
						
					</div>
				</div>

				<div class="form-group">
					<label  class="col-lg-2 control-label"></label>
					<div class="col-lg-10">
						<button type="submit" id="enviar_btn" class="btn btn-primary">Enviar</button>
						<button type="submit" style="display:none" id="enviar_btn_terminar" class="btn btn-primary">Enviar y Terminar</button>
						<button type="submit" name="btn_enviar" style="display:none" value="otra" id="enviar_btn_otra_pc" class="btn btn-primary">Enviar y Adjuntar otra OC</button>

						<%= link_to 'Volver', :back, :class => "btn btn-default" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="doc_orden">
						
</div>

</form>