<div class="form-group">
	<label  class="col-lg-2 control-label">Accion:</label>
	<div class="col-lg-10">
		<select class="form-control required" name="personal">
			<option value="Aprobada">Enviar a finanzas (decreto adjuntado) </option>
			
		</select>
	</div>
</div>