	<div class="row form-horizontal">
		<div class="col-lg-12">
			<% @orden.licitacions.each_with_index do |l, x| %>
			<div class="main-box">
				<header class="main-box-header clearfix">
					<h2>Licitación <%= x + 1 %>:  </h2>
				</header>
				<div class="main-box-body clearfix">	
					
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Cod Mercado Publico:</label>
						<div class="col-lg-10">
							<input type="text" value="<%= l.cod %>"  name="licitacion[][cod]" class="form-control required" disabled>
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">URL Mercado Publico:</label>
						<div class="col-lg-10">
							<div class="input-group">
						      <input type="text" value="<%= l.url %>" disabled name="licitacion[][url]" class="form-control required">
						      <span class="input-group-btn">
						        <a href="<%= l.url %>" target="_blank" disabled class="btn btn-default"><i class="fa fa-arrow-right "></i></a>
						      </span>
						    </div><!-- /input-group -->	
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Fecha Inicio:</label>
						<div class="col-lg-10">
							<div class="input-group">
								<input type="date" disabled class="form-control required" placeholder="Desde..." name="licitacion[][inicio]" value="<%= l.inicio.strftime('%Y-%m-%d') %>">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Fecha Termino:</label>
						<div class="col-lg-10">
							<div class="input-group">
								<input type="date" disabled class="form-control required" placeholder="hasta..." name="licitacion[][termino]" value="<%= l.termino.strftime('%Y-%m-%d') %>">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label  class="col-lg-2 control-label">
						Estado:</label>
						<div class="col-lg-10">
							<select disabled class="required form-control input-transparent estado_lic" name="licitacion[][estado]">
								<option value="">Seleccione Estado</option>
								<option value="Publicada" <% if l.estado == "Publicada" %> selected <% end %>>Publicada</option>
								<option value="Adjudicada" <% if l.estado == "Adjudicada" %> selected <% end %>>Adjudicada</option>
								<option value="Desierta" <% if l.estado == "Desierta" %> selected <% end %>>Desierta</option>
							</select>
						</div>
					</div>
				<% if l.estado == "Adjudicada" %>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Orden de Compra:</label>
						<div class="col-lg-10">
							<input disabled type="text" value="<%= l.compra_licitacion.adquisicion.orden_compra %>" name="compra[][orden_compra]" class="form-control required">
							<input disabled type="hidden"  name="compra[][mercado_publico]" value="<%= l.cod %>">
						</div>
					</div>
					
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Fecha:</label>
						<div class="col-lg-10">
							<input disabled type="date" value="<%= l.compra_licitacion.adquisicion.fecha.strftime('%Y-%m-%d') %>" placeholder="Ej. 15/03/2015"  name="compra[][fecha]" class="form-control required">
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Monto Adjudicado:</label>
						<div class="col-lg-10">
							<input disabled type="number" value="<%= l.compra_licitacion.adquisicion.monto %>"  onKeyPress='return isNumberKey(event)'  name="compra[][monto]" class="form-control required">
						</div>
					</div>

					<% else %>
					<div class="compra_licitacion" style="display: none">
						<div class="form-group" >
							<label  class="col-lg-2 control-label">Orden de Compra:</label>
							<div class="col-lg-10">
								<input disabled type="text"  name="compra[][orden_compra]" class="form-control required">
								<input disabled type="hidden"  name="compra[][mercado_publico]" value="<%= l.cod %>">
							</div>
						</div>
						<div class="form-group" >
							<label  class="col-lg-2 control-label">Fecha:</label>
							<div class="col-lg-10">
								<input disabled type="date" placeholder="Ej. 15/03/2015"  name="compra[][fecha]" class="form-control required">
							</div>
						</div>
						<div class="form-group" >
							<label  class="col-lg-2 control-label">Monto Adjudicado:</label>
							<div class="col-lg-10">
								<input disabled type="number" onKeyPress='return isNumberKey(event)'  name="compra[][monto]" class="form-control required">
							</div>
						</div>
					</div>

					<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>