<select class="form-control required" name="cuenta_gasto">
		<% if @orden.cuenta_gasto_orden.blank? %>
			<option value="">Seleccione cuenta</option>
			<% CuentaGasto.vigentes.each do |p| %>
				<option  value="<%= p.id %>">
					<%= p.numero %> | <%= p.descripcion %>
				</option>
			<% end %>
		<% else %>
			<% CuentaGasto.vigentes.each do |p| %>
				<option <% if @orden.cuenta_gasto_orden.cuenta_gasto_id == p.id %> selected <% end %> value="<%= p.id %>">
					<%= p.numero %> | <%= p.descripcion %>
				</option>
			<% end %>
		<% end %>
		</select>