<div class="row" id="bloque_archivos">
		<div class="col-md-12">
			<div class="row form-horizontal">
				<div class="col-lg-12">
					<div class="main-box">
						<header class="main-box-header clearfix">
							<h2>Ultimo Movimiento</h2>
						</header>
						<div class="main-box-body clearfix">
						<div class="form-group">
								<label  class="col-lg-2 control-label">Departamento</label>
								<div class="col-lg-10">
									<input type="text" readonly="" value="<%= @orden.movimientos.last.departamento.nombre %>"  class="form-control">  
									 
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Funcionario</label>
								<div class="col-lg-10">
									<input type="text" readonly="" value="<%= @orden.movimientos.last.usuario.nombre %> <%= @orden.movimientos.last.usuario.apaterno %>"  class="form-control">  
									 
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Estado</label>
								<div class="col-lg-10">
									<input type="text" readonly="" value="<%= @orden.movimientos.last.estado %>"  class="form-control">  
									 
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Comentario</label>
								<div class="col-lg-10">
									<textarea class="form-control" readonly=""> <%= @orden.movimientos.last.comentario %> </textarea> 
									 
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>