<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Gestionar OPI</span></li>
		</ol>
		<h1>Orden Periodo <%= @orden.periodo.anio %></h1>
	</div>
</div>



<div class="row" >
		<div class="col-md-12">
			<div class="row form-horizontal">
				<div class="col-lg-12">
					<div class="main-box">
						<header class="main-box-header clearfix">
							<h2>Ultimo Movimiento</h2>
						</header>
						<div class="main-box-body clearfix">
						<div class="form-group">
								<label  class="col-lg-2 control-label">Departamento</label>
								<div class="col-lg-10">
									<input type="text" readonly="" value="<%= @orden.movimientos.last.departamento.nombre %>"  class="form-control">  
									 
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Funcionario</label>
								<div class="col-lg-10">
									<input type="text" readonly="" value="<%= @orden.movimientos.last.usuario.nombre %> <%= @orden.movimientos.last.usuario.apaterno %>"  class="form-control">  
									 
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Estado</label>
								<div class="col-lg-10">
									<input type="text" readonly="" value="<%= @orden.movimientos.last.estado %>"  class="form-control">  
									 
								</div>
							</div>
							<div class="form-group">
								<label  class="col-lg-2 control-label">Comentario</label>
								<div class="col-lg-10">
									<textarea class="form-control" readonly=""> <%= @orden.movimientos.last.comentario %> </textarea> 
									 
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<%= render "opi/partial/show" %>



<script type="text/javascript"> 
// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 


	var validator = $( "#new_orden" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.success("Se ha guardado el producto exitosamente");
    $("#cajas").html("")
    $("form")[0].reset();
  }else
   alertify.error("Error, no se ha guardado el producto, revise los campos ingresados");
}


	$(document).ready(function() {

		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $(".gestion_opi_btn").click(function() {
			      $('#gestion_opi_form').ajaxSubmit(options2); 
		      })
		 	

		    
		    


	
		

	})
</script>