<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Nueva OPI</span></li>
		</ol>
		<h1>Nueva OPI</h1>
	</div>
</div>

<% if @estado_sistema.activo || @usuario_actual.departamento.establecimiento.id == 1 %>

<form action="<%= crear_opi_path %>" class="new_orden " id="new_orden" method="post" onKeypress="if(event.keyCode == 13) event.returnValue = false;">

	<%= render "opi/partial/orden" %>

	<div id="bloque_area" style="display:none">
		<%= render "opi/partial/new_pme" %>
	</div>
	<%= render "opi/partial/presupuesto" %>
	<%= render "opi/partial/subvencion" %>


	
	<div  id="bloque_articulos" >
		<%= render "opi/partial/articulos" %>
	</div>

	<div id="doc_orden">
						
					</div>
</form>
<form accept-charset="UTF-8" action="<%= crear_documento_path %>" class="new_doc" id="new_doc" method="post" enctype="multipart/form-data">
	<div class="row" id="bloque_archivos">
		<div class="col-md-12">
		<%= render "opi/partial/archivo" %>
		</div>
	</div>
</form>
	<div class="form-actions text-center">
		<button type="button" id="crear_btn" class="btn btn-primary">Crear Orden</button>
		<button type="button" class="btn btn-default">Cancel</button>
	</div>


<script type="text/javascript">

// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#new_orden" ).validate();
	if(validator.form()){
		disponible = parseInt($("#p_disponible").val()) 
		solicitado = parseInt($("#solicitado").val())
		console.log("Disponible: " + disponible + "")
		console.log("Solicitado: " + solicitado + "")
		if(disponible < solicitado){
			alertify.alert("Lo sentimos, el monto solicitado excede al disponible");
			$("#crear_btn").prop('disabled', false);
			$("#crear_btn").html('Crear Orden');
			return false;
		}else{
			return true;
		}
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Crear Orden');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.alert("ORDEN ID: " + responseText.orden.id + "", function(){
     document.location.href = "/ordenes/enviadas"
  	});

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Crear Orden');
   alertify.error(responseText.estado);
	}
}


	$(document).ready(function() {


		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_orden').ajaxSubmit(options2); 
		      })
		 	

		    
		    


		$("#sl_subvencion").change(function(){
			$.getJSON("<%= get_subvencion_path %>", { id: $(this).val() }, function(data){
			if(data.es_sep){
				$("#bloque_area").show("slow");
			}else{
				$("#bloque_area").hide("slow");
				
			}
				$("#p_total").val(puntitos(parseInt(data.pagado)));
				$("#p_proceso").val(puntitos(parseInt(data.tramite)));
				$("#p_libre").val(puntitos(parseInt(data.restante)));
				$("#p_disponible").val(parseInt(data.restante));
			}) 
		})



	})
</script>

<% else %>

<p>Modulo de creación de nuevas OPI se encuentra temporalmente <b>CERRADO</b></p>
<% end %>