<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Validar OPI Establecimiento</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        
          <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Origen</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">Creada</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @validar.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                  <td class="text-left">
                    <%= o.titulo %>
                  </td>
                  <td class="text-left">
                    <%= o.departamento.nombre %> - <%= o.departamento.establecimiento.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.created_at.strftime('%d/%m/%Y %H:%M') %>
                  </td>
                  <td style="width: 15%;">

                    <a href="<%= gestionar_opi_path o.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Gestionar Orden">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
               
                                

                  </td>      
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>