<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Ver orden Pedido</span></li>
		</ol>
		<h1>Orden Periodo <%= @orden.periodo.anio %></h1>
	</div>
</div>



	<%= render "opi/partial/show" %>


<script type="text/javascript">

// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 

	var validator = $( "#new_orden" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.success("Se ha guardado el producto exitosamente");
    $("#cajas").html("")
    $("form")[0].reset();
  }else
   alertify.error("Error, no se ha guardado el producto, revise los campos ingresados");
}


	$(document).ready(function() {

		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_orden').ajaxSubmit(options2); 
		      })
		 	

		    
		    


	
		

	})
</script>