<div class="form-group">
	<label  class="col-lg-2 control-label">Accion:</label>
	<div class="col-lg-10">
		<select class="form-control" name="accion" id="accion_opi">
			<option>Seleccione</option>
			<option value="Aprobar">Aprobar y Enviar OPI (<%= get_siguiente_etapa(@orden.id) %>)</option>
			
			
			
			<option value="Rechazar">Rechazar y Devolver OPI a Establecimiento</option>
			<% 
				anterior = get_etapa_anterior(@orden.id) 
				if not anterior.blank?
			%>
			<option value="Devolver">Devolver a Etapa Anterior (<%= anterior %>)</option>
			<% end %>
			<option value="Consulta">Enviar a consulta</option>
		</select>
	</div>
</div>
<div class="form-group" id="destino_consulta" style="display: none">
	<label  class="col-lg-2 control-label">Consultar a:</label>
	<div class="col-lg-10">
		<select class="form-control" name="consulta" >
			<option value="">Seleccione Funcionario</option>
			<option value="<%= @director.id %>"><%= @director.apaterno.upcase %> <%= @director.amaterno.upcase %> <%= @director.nombre.upcase %> - <%= @director.departamento.nombre.upcase %> <%= @director.departamento.establecimiento.nombre.upcase %> (DIRECTOR)</option>
			<% if @director.id != @emisor.id %>
			<option value="<%= @emisor.id %>"><%= @emisor.apaterno.upcase %> <%= @emisor.amaterno.upcase %> <%= @emisor.nombre.upcase %> - <%= @emisor.departamento.nombre.upcase %> <%= @emisor.departamento.establecimiento.nombre.upcase %> (EMISOR)</option>
			<% end %>
			<option disabled>───────────────────────────────</option>
			<% Usuario.daem.each do |u| %>
        		<option value="<%= u.id %>"><%= u.apaterno.upcase %> <%= u.amaterno.upcase %> <%= u.nombre.upcase %> - <%= u.departamento.nombre.upcase %></option>
        	<% end %>

		</select>
	</div>
</div>
