<div id="cuenta_gasto" style="display:none">

<div class="form-group" >
	<label  class="col-lg-2 control-label">Cuenta de Gasto:</label>
	<div class="col-lg-10">
		<% if @orden.cuenta_gasto_orden.blank? %>
			<input class="form-control required" type="text"  name="cuenta[cuenta]" maxlength="500">
		<% else %>	
			<input class="form-control required" type="text" name="cuenta[cuenta]" value="<%= @orden.cuenta_gasto_orden.cuenta %>" maxlength="500">
		<% end %>
		
	</div>
</div>
<div class="form-group" >
	<label  class="col-lg-2 control-label">Subtitulo:</label>
	<div class="col-lg-10">
		<% if @orden.cuenta_gasto_orden.blank? %>
			<input class="form-control required"  type="text" name="cuenta[subtitulo]" maxlength="50">
		<% else %>	
			<input class="form-control required"  type="text" name="cuenta[subtitulo]" value="<%= @orden.cuenta_gasto_orden.subtitulo %>" maxlength="50">
		<% end %>
		
	</div>
</div>
<div class="form-group" >
	<label  class="col-lg-2 control-label">Item:</label>
	<div class="col-lg-10">
		<% if @orden.cuenta_gasto_orden.blank? %>
			<input class="form-control required"  type="text" name="cuenta[item]" maxlength="50">
		<% else %>	
			<input class="form-control required"  type="text" name="cuenta[item]" value="<%= @orden.cuenta_gasto_orden.item %>" maxlength="50">
		<% end %>
		
	</div>
</div>
<div class="form-group" >
	<label  class="col-lg-2 control-label">Asignacion:</label>
	<div class="col-lg-10">
		<% if @orden.cuenta_gasto_orden.blank? %>
			<input class="form-control required"  type="text" name="cuenta[asignacion]" maxlength="50">
		<% else %>	
			<input class="form-control required"  type="text" name="cuenta[asignacion]" value="<%= @orden.cuenta_gasto_orden.asignacion %>" maxlength="50">
		<% end %>
		
	</div>
</div>


</div>
