
<form action="<%= responde_consulta_path @orden.id %>" method="post" id="gestion_opi_form">
<div class="row">
	<div class="col-md-12">
		<div class="row form-horizontal">
			<div class="col-lg-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2> <span>Favor responder consulta OPI</span></h2>
					</header>
					<div class="main-box-body clearfix">
					<div class="form-group">
						<label  class="col-lg-2 control-label">Respuesta:</label>
						<div class="col-lg-10">
							<input type="text" required="" name="comentario" value=" " class="form-control">
						</div>
					</div>
					
					<div class="form-group">
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" name="btn" value="aprobar" id="enviar_btn" class="btn btn-primary gestion_opi_btn">Responder</button>
							
							<%= link_to 'Volver', :back, :class => "btn btn-default" %>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>