
<form action="<%= gestionar_rechazada_path @orden.id %>" method="post">
<div class="row">
	<div class="col-md-12">
		<div class="row form-horizontal">
			<div class="col-lg-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2> <span>OPI Rechazada:</span></h2>
					</header>
					<div class="main-box-body clearfix">
					<div class="form-group">
						<label  class="col-lg-2 control-label">Comentario:</label>
						<div class="col-lg-10">
							<input type="text" name="comentario" value=" " class="form-control">
						</div>

					</div>
					<div class="form-group">
						<div class="col-lg-2"></div>
						<div class="col-lg-10">
							<p style="font-size: 13px;"><i>Recuerde terminar la OPI si no desea reenviar, ya que esto liberara los fondos reservados de la subvencion</i></p>
						</div>

					</div>
					
					<div class="form-group">
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" name="btn" value="reenviar" id="enviar_btn" class="btn btn-primary">Reenviar OPI</button>
							<button type="submit" name="btn" value="terminar" id="enviar_btn" class="btn btn-danger">Terminar OPI</button>
							<% if @usuario_actual.id != @orden.usuario.id %>
							<button type="submit" name="btn" value="emisor" id="enviar_btn" class="btn btn-info">Enviar a Emisor (<%= @orden.usuario.nombre %> <%= @orden.usuario.apaterno %>)</button>
							<% end %>
							
							<%= link_to 'Volver', :back, :class => "btn btn-default" %>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>