
<form action="<%= gestionar_validar_opi_path @orden.id %>" method="post" id="gestion_opi_form">
<div class="row">
	<div class="col-md-12">
		<div class="row form-horizontal">
			<div class="col-lg-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2> <span>Favor Validar Opi Digitada</span></h2>
					</header>
					<div class="main-box-body clearfix">
					<div class="form-group">
						<label  class="col-lg-2 control-label">Accion:</label>
						<div class="col-lg-10">
							<select name="accion" class="form-control">
								<option value="">Seleccionar accion</option>
								<option value="aprobar">Aprobar</option>
								<option value="Rechazar">Rechazar</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label  class="col-lg-2 control-label">Comentario:</label>
						<div class="col-lg-10">
							<input type="text" name="comentario" value=" " class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" id="enviar_btn" class="btn btn-primary gestion_opi_btn">Enviar</button>
							
							
							<%= link_to 'Volver', :back, :class => "btn btn-default" %>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>