<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Gestionar OPI</span></li>
		</ol>
		<h1>Gestionar OPI <%= @orden.id %> - <%= @orden.periodo.anio %></h1>
	</div>
</div>



<%= render "ultimo_movimiento" %>

<% if @orden.estado == "Digitada" %>
	
	<%= render "validar_director" %>

<% elsif @orden.estado == "Conducto Regular" %>
	<% ruta = @orden.rutas(:activa => true).first.bandeja.nombre %>
	<% case ruta %>			
		<% when "Asesor Subvención" %>
			
			<% if not @usuario_actual.asesor_subvencions.blank? %>
				<% es_encargado = @usuario_actual.asesor_subvencions(:subvencion_id => @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion_id, :es_vigente => true).count %>
				<% if es_encargado > 0 %>
					<%= render "asesor_subvencion" %>
				<% else %>
					<div class="alert alert-danger">
					    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
					    <p>Solo el Asesor de Subvencion <%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %> puede gestionar esta OPI</p>
					</div>
				<% end %>
			<% else %>
				<div class="alert alert-danger">
				    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
				    <p>Solo el Asesor de Subvencion <%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %> puede gestionar esta OPI</p>
				</div>
			<% end %>

		<% when "Encargado Subvención" %>
			<% if not @usuario_actual.encargado_subvencions.blank? %>
				<% es_encargado = @usuario_actual.encargado_subvencions(:subvencion_id => @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion_id, :es_vigente => true).count %>
				<% if es_encargado > 0 %>
					<%= render "conducto_normal" %>
				<% else %>
					<div class="alert alert-danger">
					    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
					    <p>Solo el Encargado de Subvencion <%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %> puede gestionar esta OPI</p>
					</div>
				<% end %>
			<% else %>
				<div class="alert alert-danger">
				    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
				    <p>Solo el Encargado de Subvencion <%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %> puede gestionar esta OPI</p>
				</div>
			<% end %>	
		<% when "Adquisiciones" %>
			<% if not @usuario_actual.bandeja_usuarios.blank? %>
				<% tiene_bandeja = @usuario_actual.bandeja_usuarios(:bandeja_id => @orden.rutas(:activa => true).first.bandeja_id).count %>
				<% if tiene_bandeja > 0  %>	
					<%= render "adquisiciones/gestionar" %>
				<% else %>
					<div class="alert alert-danger">
					    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
					    <p>Usted no esta acargo de la bandeja <%= @orden.rutas(:activa => true).first.bandeja.nombre %> para gestionar esta OPI</p>
					</div>
				<% end %>
			<% else %>
					<div class="alert alert-danger">
					    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
					    <p>Usted no esta acargo de la bandeja <%= @orden.rutas(:activa => true).first.bandeja.nombre %> para gestionar esta OPI</p>
					</div>

			<% end %>
		<% when "Personal" %>

		<% when "Tesorería" %>

		<% else %>
			<% if not @usuario_actual.bandeja_usuarios.blank? %>
				<% tiene_bandeja = @usuario_actual.bandeja_usuarios(:bandeja_id => @orden.rutas(:activa => true).first.bandeja_id).count %>
				<% if tiene_bandeja > 0  %>	
					<%= render "conducto_normal" %>
				<% else %>
					<div class="alert alert-danger">
					    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
					    <p>Usted no esta acargo de la bandeja <%= @orden.rutas(:activa => true).first.bandeja.nombre %> para gestionar esta OPI</p>
					</div>
				<% end %>
			<% else %>
					<div class="alert alert-danger">
					    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
					    <p>Usted no esta acargo de la bandeja <%= @orden.rutas(:activa => true).first.bandeja.nombre %> para gestionar esta OPI</p>
					</div>

			<% end %>

	<% end %> 
<% elsif @orden.estado == "En consulta" %>
	<% if @orden.consulta.usuario_id == @usuario_actual.id %>

		<%= render "en_consulta" %>

	<% end %>

<% elsif @orden.estado == "Espera decreto" %>
	<% if @usuario_actual.departamento_id == 1 %>
			<%= render "adquisiciones/gestionar" %>
	<% else %>
		<div class="alert alert-danger">
		    <h4><i class="fa fa-ban"></i> <strong>Atencion</strong></h4>
		    <p>Usted debe pertenecer al departamento de Adquisiciones para gestionar esta OPI</p>
		</div>
	<% end %>
<% end %>

<%= render "opi/partial/show" %>



<script type="text/javascript"> 
// Funcion antes de enviarse
function showRequest_gestion(formData, jqForm, options) { 

	$(".gestion_opi_btn").prop('disabled', true);
	var validator = $( "#gestion_opi_form" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$(".gestion_opi_btn").prop('disabled', false);
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse_gestion(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.success("Se ha guardado el producto exitosamente");
    $("#cajas").html("")
    $("form")[0].reset();
  }else{
  	$(".gestion_opi_btn").prop('disabled', false);
  	alertify.error(responseText.estado);
  }
   
}


	$(document).ready(function() {

		$("#accion_opi").change(function() {
				$("#compra").hide("slow");
				$("#licitacion").hide("slow");
				$("#cuenta_gasto").hide("slow")
				$("#destino_consulta").hide("slow")	
			if($(this).val() == "Consulta"){
				$("#destino_consulta").show("slow")					
			}else if($(this).val() == "Aprobar"){
				$("#cuenta_gasto").show("slow")
			}else if($(this).val() == "Licitar"){
				$("#licitacion").show("slow");
			}else if($(this).val() == "Comprar" || $(this).val() == "oc"){
				$("#compra").show("slow");
				
			}
			
		})

		//Opciones jquery.forms
		    var options_gestion = { 
		        beforeSubmit:  showRequest_gestion,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse_gestion,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		    //   $(".gestion_opi_btn").click(function() {
			//      $('#gestion_opi_form').ajaxSubmit(options_gestion); 
		   //   })
		 	

		    $("#gestion_opi_form").submit(function () {
		        $(".gestion_opi_btn").prop("disabled", true);
		        return true;
		    });
		    


	
		

	})
</script>