<%= form_for(@dimencion) do |f| %>
  <% if @dimencion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dimencion.errors.count, "error") %> prohibited this dimencion from being saved:</h2>

      <ul>
      <% @dimencion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>

           <select name="area" class=" form-control select-block-level input-transparent"style="width:auto"> <%#parametros del select%>
           <option value= "x">Seleccione Area</option>
           <% @area.each do |a| %>
          <option value=""><%=a.nombre %> </option>
           <% end %>
         </select>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
