<h1>Borrar Dimension</h1>

  
  <a href= "<%= dimencions_path %>"> Volver </a>


  <% if not flash[:notificacion].nil? %>   
      <div style="color:blue"><%= flash[:notificacion] %></div>

  <% end %>



  <form method="post" action="<%= destroy_dimencion_path @d.id%>">
       <p>Nombre: <input type= "text" name= "tx_nombre" value="<%= @d.nombre %>"></p>

       
       <p>
           Area: 
           <select name="area">
          
           <% @area.each do |a| %>
                <option value="<%= a.id %>" <% if @d.area.id == a.id %> selected> <% end %>><%=a.nombre %> </option>
           <% end %>
         </select>

         <h2>ESTA SEGURO QUE DESEA BORRAR LA DIMENSION ? </h2>
         <button class="btn btn-primary" type= "submit">Borrar </button>
         <a class="btn btn-default" role="button" href= "<%= dimencions_path %>"> Volver </a>
       </p>




        
     
      

  </form>