<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Editar dimencion</h2>
      </header>
      <div class="main-box-body clearfix">
        
<form method="post" action="<%= update_dimencion_path @d.id%>">
       <p>
           Nombre: <input type= "text" name= "tx_nombre" class="form-control"  value="<%= @d.nombre %>">
       </p>
       

       
    

               <p>
           Eliminar: 

           <select name="vigente" class="form-control select-block-level input-transparent" style="width:auto">
            <option value="true"> No </option>
            <option value="false" <%if @d.es_vigente == false %> selected <%end%>> Si </option>
          </select>
        </p>



        <button type= "submit" class="btn btn-primary">Guardar Cambios</button>


     
       </p>

  </form>

      </div>
    </div>
  </div>
</div>



 

  


