<h1>Dimensiones</h1>




<table class="table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="datatable-table_info">
  <thead>
    <th>Nombre Dimension </th>
    <th>Area </th>
    <th>Opciones </th>
    <th> </th>
    <th>Objetivos</th>
  </thead>
  <tbody>
       <% @dimencion.each do |d| %>
           <tr>
              <td><%= d.nombre%></td>
              <td><%= d.area.nombre%></td>
              <td><a class="btn btn-primary" role="button" href="<%= editar_dimencion_path d.id %>">Editar</a></td>
              <td><a class="btn btn-primary" role="button" href="<%= borrar_dimencion_path d.id %>">Borrar</a></td>
              <td><a class="btn btn-primary" role="button" href="<%= ver_dim_obj_path d.id %>">Objetivos</a></td>
         

           </tr>
       <% end %>    
  </tbody>
</table>

<a class="btn btn-primary" role="button" href= "<%= nueva_dimencion_path %>">Nueva Dimension </a>
