
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Nueva Dimension</h2>
      </header>
      <div class="main-box-body clearfix">
        <form method="post" action="<%= crear_dimencion_path @a.id%>">
       <p>
           Nombre: <input type= "text" name="tx_nombre" class="form-control">
       </p>

        <p>
           Area:  
           <select name="area" class="form-control">
           <option value= "">Seleccione Area </option>
           <% @area.each do |a| %>
          <option value="<%= a.id %>" <% if @a.id == a.id %> selected <% end %> > <%=a.nombre %> </option>
           <% end %>
         </select>
       </p>
       
       <p>

        <button type= "submit" class="btn btn-primary">Crear Dimension </button>

        <td><a class="btn btn-default" role="button" href="<%= dimencions_path %>">Cancelar</a></td>

        <a class="btn btn-default" role="button" href="<%= ver_area_dim_path @a.id %>">Volver al Listado</a> <%# BOTON OPCIONAL%>
        

       </p>

</form>

      </div>
    </div>
  </div>
</div>

