<h1>Objetivos de la Dimension</h1>



<table class="table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="datatable-table_info">
  <thead>
    <th>Nombre Objetivo </th>
    <th>Estado Vigencia </th>
    
    <th>Opciones </th>
    
  </thead>
  <tbody>

    

       <% @objetivo.each do |o| %>

          
           <tr>
              <td><%= o.nombre%></td>
              <td><%= o.es_vigente%></td>
              
              <td><a class="btn btn-primary" role="button" href="<%= editar_objetivo_path o.id %>">Editar</a></td>
             
         

           </tr>
           
       <%end%>    
  </tbody>
</table>



<a class="btn btn-primary" role="button" href= "<%= nuevo_objetivo_path @d.id %>">Nuevo Objetivo </a> 
<%# redirigir a crear una dimension para el area en especifico%>

<a class="btn btn-default" role="button" href="<%= dimencions_path %>">Cancelar</a>
