<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">PME</a></li>
            <li> <a href="<%= pme_objetivos_path @usuario_actual.departamento.establecimiento.hex_url %>">Objetivo</a></li>
            <li class="active">Estrategia</li>
        </ol>
        <h1>Estrategias</h1>
    </div>
</div>
<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Objetivo </h2>
            </header>
            <div class="main-box-body clearfix">
               
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Descripción:</label>
                    <div class="col-lg-10">
                        <textarea class="form-control required" rows="4" readonly=""><%= @objetivo.nombre %></textarea>
                        
                    </div>
                </div>   

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Nueva Estrategia </h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= pme_crear_estrategia_path @usuario_actual.departamento.establecimiento.id, @objetivo.id %>" method="post" class="validaf">
               
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Estrategia:</label>
                    <div class="col-lg-10">
                        <textarea class="form-control required" maxlength="200" name="estrategia[nombre]"></textarea>
                        
                    </div>
                </div>   
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit"class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Estrategias Objetivo</h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="datatable">
            <thead>
              <tr>
                <th>Estrategia</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            <% if not @estrategias.blank? %>
              <% @estrategias.each do |x| %>
                <tr>
                  <td><div class='edit_nombre tool' id='<%= x.id %>' rel="tooltip" title="Click para editar..." ><%= x.nombre.upcase %></div>
                  </td>
                  <td>
                      <%= x.pme_accions.size %>
                  </td>
                 
    

                  <td>
                  <form action="<%= destroy_pme_estrategia_path x.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar dimension: <%= x.nombre.upcase %>?');">
                    <button type="submit" class="btn btn-default ">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </form>
                    
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {






    $('.required').keyup(function(){
        this.value = this.value.toUpperCase();
    });

    $('.tool').tooltip({
      'placement':'top',
      delay: { show: 500, hide: 100 } 
    });
   $("#datatable tbody").on("click", ".edit_nombre",function() {
      $(this).editable('<%= jeditable_nombre_pme_estrategia_path %>', { 
         id   : 'elementid',
         name : 'newvalue',
      });    
   });         


    $(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });

    $("#datatable tbody").on("click", ".edit_nombre",function() {
      $(this).editable('<%= jeditable_nombre_pme_dimension_path %>', { 
         id   : 'elementid',
         name : 'newvalue',
      });    
   });   

    
  })
</script>