<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">PME</a></li>
            <li class="active">Objetivos</li>
        </ol>
        <h1>Objetivos</h1>
    </div>
</div>
<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Nuevo Objetivo </h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= pme_crear_objetivo_path @usuario_actual.departamento.establecimiento.id %>" method="post" class="validaf">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimension:</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="objetivo[pme_dimension_id]" id="dimension_sel">
                          <option value="">Seleccione Dimension</option>
                          <% PmeDimension.todas(session[:periodo].id).each do |d| %>
                            <option value="<%= d.id %>"><%= d.nombre %></option>
                          <% end %>
                        </select>

                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Subdimension:</label>
                    <div class="col-lg-10">
                        <select class="form-control"  name="objetivo_sub[][pme_sub_dimension_id]" id="sub_dimension_sel" multiple="multiple" disabled="">
                          
                        </select>
                        <muted style="font-size: 10px;">Presione tecla Ctrl para seleccionar mas de uno</muted>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo:</label>
                    <div class="col-lg-10">
                        <textarea class="form-control required" name="objetivo[nombre]"></textarea>
                        
                    </div>
                </div>   
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit"class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Objetivos</h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="datatable">
            <thead>
              <tr>
                <th>Dimension</th>
                <th>Subdimension</th>
                <th>Objetivo</th>
                <th>Estrategias</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% if not @objetivos.blank? %>
              <% @objetivos.each do |x| %>
                <tr>
                  <td><%= x.pme_dimension.nombre.upcase %>
                  </td>
                  <td>
                  <ul>
                    <% x.pme_objetivo_sub_dimensions.each do |s| %>
                      <li><%= s.pme_sub_dimension.nombre.upcase %></li>
                    <% end %>
                    </ul>
                  </td>
                  <td><div class='edit_nombre tool' id='<%= x.id %>' rel="tooltip" title="Click para editar..." ><%= x.nombre.upcase %></div></td>
                  <td><a href="<%= pme_estrategias_objetivo_path @usuario_actual.departamento.establecimiento.hex_url, x.id %>" class="btn btn-primary">Estrategias (<%= x.pme_estrategias.size %>)</a></td>

                  <td>
                  <form action="<%= destroy_pme_objetivo_path x.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar dimension: <%= x.nombre.upcase %>?');">
                    <button type="submit" class="btn btn-default ">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </form>
                    
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {



    $("#dimension_sel").change(function(){
    if($(this).val() == ""){
      $("#sub_dimension_sel").html("").prop('disabled', true);
    }else{
      $.getJSON("<%= get_pme_subdimension_path %>", { id: $(this).val() }, function(data){
        $("#sub_dimension_sel").prop('disabled', false);
        $("#sub_dimension_sel").html(data.opciones);
      }) 
    } 
  })





    $('.required').keyup(function(){
        this.value = this.value.toUpperCase();
    });

    $('.tool').tooltip({
      'placement':'top',
      delay: { show: 500, hide: 100 } 
    });
   $("#datatable tbody").on("click", ".edit_nombre",function() {
      $(this).editable('<%= jeditable_nombre_pme_objetivo_path %>', { 
         id   : 'elementid',
         name : 'newvalue',
      });    
   });         


    $(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });

    $("#datatable tbody").on("click", ".edit_nombre",function() {
      $(this).editable('<%= jeditable_nombre_pme_dimension_path %>', { 
         id   : 'elementid',
         name : 'newvalue',
      });    
   });   

    
  })
</script>