<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">PME</a></li>
		</ol>
		<h1>Plan de Mejoramiento Educativo</h1>
	</div>
</div>


<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Acciones Creadas</h2>
			</header>
			<div class="main-box-body clearfix">
			 <form method="get">
				<div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Establecimiento:</label>
                    <div class="col-lg-10">
                    	<% if @usuario_actual.departamento.establecimiento.es_admin %>
                    	<select class="form-control" id="sl_est" name="col">
                    		<option value="">Establecimiento</option>
                    		<% Establecimiento.todos.each do |e| %>
                    			<option value="<%= e.hex_url %>" <%=( @est.id == e.id ? "selected" : "" )%>><%= e.nombre %></option>
                    		<% end %>
                    	</select>
                    	<% else %>
                    		<input type="text" readonly="" class="form-control" value="<%= @usuario_actual.departamento.establecimiento.nombre %>">
                    	<% end %>
                    </div>
                </div> 
                <hr />
			
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimensión:</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="dimension" id="dimension_sel">
                          <option value="">Seleccione Dimension</option>
                          <% PmeDimension.todas(session[:periodo].id).each do |d| %>
                            <option value="<%= d.id %>" <%=( params[:dimension].to_i == d.id ? "selected" : "" )%>><%= d.nombre %></option>
                          <% end %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-filter"></i> Ver Acciones</button>
                    </div>
                </div>
				</form>
			
			</div>
		</div>
	</div>

<% if not @pme_objetivos.blank? %>
<% @pme_objetivos.each_with_index do |o, x| %>
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>#<%= x + 1 %></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Objetivo:</label>
                    <div class="col-lg-10">
                    	<textarea class="form-control" rows="5" readonly=""><%= o.nombre %></textarea>
                    </div>
                </div> 
                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Subdimensiones:</label>
                    <div class="col-lg-10">
                    	<% o.pme_objetivo_sub_dimensions.each_with_index do |s| %>
                    		<span class="label label-default"><%= s.pme_sub_dimension.nombre %></span>
                    	<% end %>
                    	
                    </div>
                </div> 
                <h2><%= o.pme_estrategias.pme_accions.size %> Acciones para el objetivo</h2>
             <table class="table table-striped table-hover" id="datatable<%= x + 1 %>">
		            <thead>
		              <tr>
		                <th class="text-center">Estrategia</th>
		                <th class="text-center">Accion</th>
		                <th class="text-center">Plazo</th>
		                <th class="text-center" style="width: 130px;">Progreso</th>
		                <th>&nbsp;</th>
		              </tr>
		            </thead>
		            <tbody>
		            	<% o.pme_estrategias.pme_accions.each do |a| %>

		            	<%
		            			if not a.pme_actividads.blank?
			            			actividades_terminadas = a.pme_actividads(terminado: true).count
			            			actividades = a.pme_actividads.count

			            			if actividades_terminadas == 0
			            				avance_acc = 0
			            			else
			            				avance_acc = (actividades_terminadas * 100) / actividades
			            			end
			            		else
			            			avance_acc = 0

			            		end
		            			%>

		            	<tr>
		            	
		            		<td><%= a.pme_estrategia.nombre %></td>
		            		<td><%= a.nombre %></td>
		            		<td>
		            		<%
		            			if avance_acc.to_i != 100
			            			if a.hasta.to_date < Date.today.to_date
			            				color = "danger" 
			            			else
			            				color = "success" 

			            			end
			            		else
			            			color = "default"
			            		end
		            		%>
		            			<span class="label label-<%= color %> label-large"><%= fecha(a.desde) %> - <%= fecha(a.hasta) %></span></td>

		            		<td>
		            			

		            			<div class="progress progress-4x progress-striped">
									<div class="progress-bar progress-bar active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= avance_acc %>%">
										<span class="sr-only"><%= avance_acc %>% Complete</span>

									</div>

								</div>
								<p style="margin-top: -12px;font-size: 11px;text-align: center;font-weight: bold;">
									<%= avance_acc.to_i %>%
								</p>
							</td>

		            		<td><a href="<%= pme_ver_accion_path o.establecimiento.hex_url, a.id %>" class="btn btn-default"><i class="fa fa-search"></i></a></td>
		            		<% end %>
		            	</tr>
		            </tbody>
		          </table>
				
			
			</div>
		</div>
	</div>
	<hr />
<% end %>
<% end %>
</div>


<script type="text/javascript">
  $(document).ready(function() {


  	<% if not @pme_objetivos.blank? %>
	     <% 1.upto(@pme_objetivos.size) do |x| %>
	     $("#datatable<%= x %>").dataTable()
	     <% end %>
    <% end %>




  })
</script>