<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">PME</a></li>
			<li><span>Acciones</span></li>
			<li class="active"><span>Nueva Accion</span></li>
		</ol>
		<h1>PME - Nueva Acción</h1>
	</div>
</div>

<form action="<%= pme_crear_accion_path %>" method="post" id="pme_accion_form">
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Ingresar</h2>
			</header>
			<div class="main-box-body clearfix">
			 	<div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimensión:</label>
                    <div class="col-lg-10">
                    	<select class="form-control" id="dimension_sel">
                          <option value="">Seleccione Dimension</option>
                          <% PmeDimension.todas(session[:periodo].id).each do |d| %>
                            <option value="<%= d.id %>"><%= d.nombre %></option>
                          <% end %>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="sl_objetivo" disabled="">
                    	</select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sl_objetivo" class="col-lg-2 control-label">Estrategia:</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="accion[pme_estrategia_id]" id="sl_estrategia" disabled="">
                    	</select>
                    </div>
                </div> 

                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" class="form-control required" name="accion[nombre]">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
							<input type="text" class="form-control required" placeholder="Nombre..." name="accion[responsable_nombre]" maxlength="200">

					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Recursos Necesarios</label>
					<div class="col-lg-10">
							<textarea class="form-control required" name="accion[recursos]" rows="3"></textarea> 

					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Presupuesto:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input type="text" class="form-control required"  onKeyPress='return isNumberKey(event)' name="accion[presupuesto]">
						</div>
						
					</div>
				</div>
                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button id="crear_btn" class="btn btn-primary"><i class="fa fa-filter"></i> Crear Accion</button>
                    </div>
                </div>
				
			
			</div>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">

function showRequest2(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#pme_accion_form" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Crear Accion');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha creado la accion exitosamente", function(){
     document.location.href = "/plan-mejoramiento-educativo/<%= @usuario_actual.departamento.establecimiento.hex_url %>/ver/" + responseText.id + "/accion"
  	});

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Crear Orden');
   alertify.error(responseText.estado);
	}
}


  $(document).ready(function() {

     //Opciones jquery.forms
    var options2 = { 
        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
        dataType:  'json' //tipo de dato a devolver
      }; 


      $("#crear_btn").click(function() {
	      $('#pme_accion_form').ajaxSubmit(options2); 
      })        


       $('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '01/03/<%= Time.now.year %>',
			    endDate: '05/04/<%= Time.now.year %>'
			});



   $("#dimension_sel").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
			}else{
				$.getJSON("<%= get_pme_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})


   $("#sl_objetivo").change(function(){
		if($(this).val() == ""){
			$("#sl_estrategia").html("").prop('disabled', true);
		}else{
			if($(this).val() == "0"){
				$("#sl_estrategia").prop('disabled', false);
				$("#sl_estrategia").html("<option value=''></option><option value='0'>Nueva Estrategia</option>");
			}else{
				$("#nuevo_objetivo").hide("slow");
				$.getJSON("<%= get_pme_estrategia_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_estrategia").prop('disabled', false);
						$("#sl_estrategia").html(data.opciones);
					}else{
						$("#sl_estrategia").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_estrategia").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
				}) 
			}
		} 
	})

   $("#sl_estrategia").change(function(){
		if($(this).val() == "0"){
			$("#nueva_estrategia").show("slow");
		}else{
			$("#nueva_estrategia").hide("slow");
		}	 
	})



  })
</script>