<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="<%= pme_acciones_path @est.hex_url, :col => @est.hex_url, :dimension => @accion.pme_estrategia.pme_objetivo.pme_dimension_id %>">PME</a></li>
			<li class="active"><span>Accion</span></li>
		</ol>
		<h1>PME - Ver Acción</h1>
	</div>
</div>

<% if @est.id == @accion.pme_estrategia.pme_objetivo.establecimiento.id %>
<div class="row form-horizontal">
<form action="<%= pme_crear_accion_path %>" method="post" id="pme_accion_form">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Acción</h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Establecimiento:</label>
                    <div class="col-lg-10">
                    	<input type="text" class="form-control" readonly="" value="<%= @accion.pme_estrategia.pme_objetivo.establecimiento.nombre %>">
                    </div>
                </div> 
			 	<div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimensión:</label>
                    <div class="col-lg-10">
                    	<select class="form-control" id="dimension_sel">
                          <option value="">Seleccione Dimension</option>
                          <% PmeDimension.todas(session[:periodo].id).each do |d| %>
                            <option value="<%= d.id %>" <%=(@dimension == d.id ? "selected" : "") %>><%= d.nombre %></option>
                          <% end %>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="sl_objetivo">
                        	<option value="">Seleccione Objetivo</option>
                        	<%= PmeObjetivo.dimension(@dimension).each do |o| %>
                        		<option value="<%= o.id %>" <%=(@objetivo == o.id ? "selected" : "") %>><%= o.nombre %></option>
                        	<% end %>
                    	</select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sl_objetivo" class="col-lg-2 control-label">Estrategia:</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="accion[pme_estrategia_id]" id="sl_estrategia">
                        <%= PmeEstrategia.objetivo(@objetivo).each do |o| %>
                        		<option value="<%= o.id %>" <%=(@accion.pme_estrategia_id == o.id ? "selected" : "") %>><%= o.nombre %></option>
                        	<% end %>
                    	</select>
                    </div>
                </div> 

                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" value="<%= @accion.nombre %>" class="form-control required" name="accion[nombre]">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"><%= @accion.descripcion %></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
							<input type="text" class="form-control required" placeholder="Nombre..." name="accion[responsable_nombre]" maxlength="200" value="<%= @accion.responsable_nombre %>">

					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Recursos Necesarios</label>
					<div class="col-lg-10">
							<textarea class="form-control required" name="accion[recursos]" rows="3"><%= @accion.recursos %></textarea> 

					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Presupuesto:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input type="text" class="form-control required"  onKeyPress='return isNumberKey(event)' name="accion[presupuesto]" value="<%= @accion.presupuesto %>">
						</div>
						
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Disponible:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input type="text" class="form-control required"  onKeyPress='return isNumberKey(event)' name="accion[presupuesto]" value="<%= @accion.presupuesto %>">
						</div>
						
					</div>
				</div>
                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button id="crear_btn" class="btn btn-primary"><i class="fa fa-filter"></i> Guardar Cambios</button>
                    </div>
                </div>
			
			
			</div>
		</div>
	</div>
</form>
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Actividades Acción</h2>
				
			</header>
			<div class="main-box-body clearfix">
				
               
             <table class="table table-striped table-hover" id="datatable">
		            <thead>
		              <tr>
		                <th class="text-center">Actividad</th>
		                <th class="text-center">Responsable</th>
		                <th class="text-center">Fecha</th>
		                <th class="text-center" style="width: 130px;">Progreso</th>
		                <th>&nbsp;</th>
		              </tr>
		            </thead>
		            <tbody>
		            	<% @accion.pme_actividads(:es_vigente => true).each do |a| %>
		            	<tr>
		            	
		            		<td><%= a.nombre %></td>
		            		<td><%= a.responsable_nombre %></td>
		            		<td>
		            		<%
		            			if not a.terminado
			            			if a.hasta.to_date < Date.today.to_date
			            				color = "danger" 
			            			else
			            				color = "success" 

			            			end
		            			else
		            				color = "default"
		            			end
		            		%>
		            			<span class="label label-<%= color %> label-large"><%= fecha(a.desde) %> - <%= fecha(a.hasta) %></span></td>

		            		<td>
		            			
		            			<div class="progress progress-4x progress-striped">
									<div class="progress-bar progress-bar active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= a.avance.to_i %>%">
										<span class="sr-only">% Complete</span>

									</div>

								</div>
								<p style="margin-top: -12px;font-size: 11px;text-align: center;font-weight: bold;">
									<%= avance(a.avance.to_i) %>
								</p>
		            		</td>

		            		<td><a href="<%= pme_ver_actividad_path @est.hex_url, @accion.id, a.id %>" class="btn btn-default"><i class="fa fa-search"></i></a></td>
		            		<% end %>
		            	</tr>
		            </tbody>
		          </table>
				
			<a class="btn btn-primary" href="<%= pme_nueva_actividad_path @est.hex_url, @accion.id %>">Nueva Actividad</a>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">OPIs Accion</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        
        <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>OPI</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">Solic / Comp</th>
                <th class="text-center">Estado</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @ordenes.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                  <td class="text-left">
                    <%= o.titulo %>
                  </td>
                  <td class="text-left">
                    <%= o.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>

                   <td class="text-left">
                    $<%= miles(o.bien_servicios.sum(:total)) %> / 
                    <% 
                    	comprado = 0
                    	if o.estado == "Comprada" 
                    	if not o.adquisicions.blank? 
                    		o.adquisicions.each do |a|                     			
                    			comprado += a.monto.to_i
                    		 end %>
                    		$<%= comprado %>
                	<% end %>
                	<% end %>
                  </td>
                  <td class="text-left">
                    <% if o.estado == "Rechazada" %>
                      <span class="label label-danger"><%= o.estado %></span>
                    <% elsif o.estado == "En consulta" %>
                      <span class="label label-info"><%= o.estado %></span>
                      <% else %>
                      <span class="label label-primary"><%= o.estado %></span>

                      <% end %>
                  </td>
                  <td style="width: 15%;">

                    <a href="<%= ver_opi_path o.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Gestionar Orden">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
               
                                

                  </td>      
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>


  <div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Evaluacion Acción</h2>
			</header>
			<div class="main-box-body clearfix">
			 	
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Primer Semestre</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"></textarea> 
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Segundo Semestre</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Evaluación Cuantitativa</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Evaluación Cualitativa</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"></textarea> 
					</div>
				</div>
				
                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button id="crear_btn" class="btn btn-primary"><i class="fa fa-filter"></i> Guardar</button>
                    </div>
                </div>
			
			
			</div>
		</div>
	</div>
</div>
<% else %>
	No tiene permisos para ver esta información 
<% end %>

<script type="text/javascript">

function showRequest2(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#pme_accion_form" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Crear Accion');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha creado la accion exitosamente", function(){
     document.location.href = "/plan-mejoramiento-educativo/<%= @usuario_actual.departamento.establecimiento.hex_url %>/ver/" + responseText.id + "/accion"
  	});

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Crear Orden');
   alertify.error(responseText.estado);
	}
}


  $(document).ready(function() {

     //Opciones jquery.forms
    var options2 = { 
        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
        dataType:  'json' //tipo de dato a devolver
      }; 


      $("#crear_btn").click(function() {
	      $('#pme_accion_form').ajaxSubmit(options2); 
      })        


       $('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= fecha(@accion.desde) %>',
			    endDate: '<%= fecha(@accion.hasta) %>'
			});



   $("#dimension_sel").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
			}else{
				$.getJSON("<%= get_pme_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})


   $("#sl_objetivo").change(function(){
		if($(this).val() == ""){
			$("#sl_estrategia").html("").prop('disabled', true);
		}else{
			if($(this).val() == "0"){
				$("#sl_estrategia").prop('disabled', false);
				$("#sl_estrategia").html("<option value=''></option><option value='0'>Nueva Estrategia</option>");
			}else{
				$("#nuevo_objetivo").hide("slow");
				$.getJSON("<%= get_pme_estrategia_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_estrategia").prop('disabled', false);
						$("#sl_estrategia").html(data.opciones);
					}else{
						$("#sl_estrategia").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_estrategia").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
				}) 
			}
		} 
	})

   $("#sl_estrategia").change(function(){
		if($(this).val() == "0"){
			$("#nueva_estrategia").show("slow");
		}else{
			$("#nueva_estrategia").hide("slow");
		}	 
	})



  })
</script>