<%= form_for(@establecimiento) do |f| %>
  <% if @establecimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@establecimiento.errors.count, "error") %> prohibited this establecimiento from being saved:</h2>

      <ul>
      <% @establecimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rbd %><br />
    <%= f.text_field :rbd %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :es_dificil %><br />
    <%= f.check_box :es_dificil %>
  </div>
  <div class="field">
    <%= f.label :es_admin %><br />
    <%= f.check_box :es_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
