<div class="col-sm-12">
  <h1>Departamento</h1>
</div>
<form action="<%= actualizar_departamento_path @d.id %>" method="post" id="new_empleado">
  <div class="col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2><span>Nuevo Departamento</span></h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="dpto_nombre" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-4">
              <input type="text"  value="<%= @d.nombre %>" name="dpto[nombre]" id="dpto_nombre" class="form-control required ">
            </div>
            <label for="es_direccion" class="col-sm-2 control-label">Es Dirección</label>
            <div class="col-sm-4">
              <select name="dpto[es_direccion]" id="es_direccion" class="form-control">
                <option value="0">No</option>
                <option value="1" <% if @d.es_direccion %> selected <% end %>>Si</option>
              </select>
            </div>

          </div>

          <div class="form-group">
           
            <label for="es_asesor" class="col-sm-2 control-label">Es Asesor</label>
            <div class="col-sm-4">
              <select name="dpto[es_asesor]" id="es_asesor" class="form-control">
                <option value="0">No</option>
                <option value="1" <% if @d.es_asesor %> selected <% end %>>Si</option>
              </select>
            </div>
            <label for="admin" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
             <button id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Actualizar Departamento</button>
             </div>
          </div>
        
        </div>


      </div>
    </div>
  </div>

</form>

<form action="<%= eliminar_departamento_path @d.id %>" method="post" id="new_empleado">

<div class="form-horizontal">
  <div class="col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
      
      </header>
      <div class="main-box-body clearfix">
        <div class="form-group">
          <div class="col-sm-12 text-center">
          <input type="hidden" name="establecimiento_id" value="<%= @d.establecimiento_id %>">
            <button id="eliminar_btn" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar Departamento</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>