

<div class="form-horizontal">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Establecimientos</h2>

      </header>

      <div class="main-box-body clearfix">
      <a href="<%= nuevo_establecimiento_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Registrar nuevo establecimiento </a>
<table class="table table-striped" id="datatable" >
  <tr>
    <th>Rbd</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Es DAEM</th>
    <th></th>

  </tr>

<% @establecimientos.each do |establecimiento| %>
  <tr>
    <td><%= establecimiento.rbd %></td>
    <td><%= establecimiento.nombre %></td>
    <td><%= establecimiento.direccion %></td>
    <td><%= (establecimiento.es_admin ? "Si" : "No") %></td>
    <td><a href="<%= ver_establecimiento_path establecimiento.id %>">Ver</a></td>

  </tr>
<% end %>
</table>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
        $('#datatable').dataTable();



})
</script>