<div class="col-sm-12">
  <h1>Nuevo Establecimiento</h1>
</div>
<form action="<%= guardar_establecimiento_path %>" method="post" id="new_empleado">
  


<div class="col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2><span>Datos </span></h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="rbd" class="col-sm-2 control-label">Rbd</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Ej. 4589-9" maxlength="12" value="" name="est[rbd]" id="rbd" class="form-control required ">
            </div>
            <label for="nombre" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-4">
              <input type="text" placeholder="" value="" name="est[nombre]" id="nombre" class="form-control required">
            </div>

          </div>
          <div class="form-group">
            <label for="direccion" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-4">
              <input type="text" placeholder="" value="" name="est[direccion]" id="direccion" class="form-control required">
            </div>
            <label for="es_admin" class="col-sm-2 control-label">Es Daem</label>
            <div class="col-sm-4">
              <select name="est[es_admin]" id="es_admin" class="form-control">
                <option value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
          </div>
          <div class="form-group">
           
            <label for="admin" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
              
            </div>
            <label for="admin" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
             <button id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Establecimiento</button>
             </div>
          </div>
          
        

        </div>


      </div>
    </div>
  </div>
</form>