<div class="col-sm-12">
  <h1>Establecimiento</h1>
</div>
<form action="<%= actualizar_establecimiento_path @establecimiento.id %>" method="post" id="new_empleado">
  


<div class="col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2><span>Datos </span></h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="rbd" class="col-sm-2 control-label">Rbd</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Ej. 12.345.678-9" maxlength="12" value="<%= @establecimiento.rbd %>" name="est[rbd]" id="rbd" class="form-control required ">
            </div>
            <label for="nombre" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-4">
              <input type="text" placeholder="" value="<%= @establecimiento.nombre %>" name="est[nombre]" id="nombre" class="form-control required">
            </div>

          </div>
          <div class="form-group">
            <label for="direccion" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-4">
              <input type="text" placeholder="" value="<%= @establecimiento.direccion %>" name="est[direccion]" id="direccion" class="form-control required">
            </div>
            <label for="es_admin" class="col-sm-2 control-label">Es Daem</label>
            <div class="col-sm-4">
              <select name="es_admin" id="es_admin" class="form-control">
                <option value="0">No</option>
                <option value="1" <% if @establecimiento.es_admin %> selected <% end %>>Si</option>
              </select>
            </div>
          </div>
          <div class="form-group">
           
            <label for="admin" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
              
            </div>
            <label for="admin" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
             <button id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Actualizar Establecimiento</button>
             </div>
          </div>
          
        

        </div>


      </div>
    </div>
  </div>
</form>

<form action="<%= guardar_departamento_path @establecimiento.id %>" method="post" id="new_empleado">
  <div class="col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2><span>Nuevo Departamento</span></h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="dpto_nombre" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-4">
              <input type="text"  value="" name="dpto[nombre]" id="dpto_nombre" class="form-control required ">
            </div>
            <label for="es_direccion" class="col-sm-2 control-label">Es Dirección</label>
            <div class="col-sm-4">
              <select name="dpto[es_direccion]" id="es_direccion" class="form-control">
                <option value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>

          </div>

          <div class="form-group">
           
            <label for="es_asesor" class="col-sm-2 control-label">Es Asesor</label>
            <div class="col-sm-4">
              <select name="dpto[es_asesor]" id="es_asesor" class="form-control">
                <option value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
            <label for="admin" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
             <button id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Departamento</button>
             </div>
          </div>
        
        </div>


      </div>
    </div>
  </div>

</form>


<div class="form-horizontal">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Departamentos</h2>

      </header>

      <div class="main-box-body clearfix">
<table class="table table-striped" id="datatable" >
  <tr>
    <th>Nombre</th>
    <th>Es direccion</th>
    <th>Es asesor</th>
    <th></th>

  </tr>

<% @establecimiento.departamentos.each do |d| %>
  <tr>
    <td><%= d.nombre %></td>
    <td><%= (d.es_direccion ? "Si" : "No") %></td>
    <td><%= (d.es_asesor ? "Si" : "No") %></td>
    <td><a href="<%= ver_departamento_path d.id %>">Ver</a></td>

  </tr>
<% end %>
</table>
      </div>
    </div>
  </div>
</div>



<form action="<%= eliminar_establecimiento_path @establecimiento.id %>" method="post" >

<div class="form-horizontal">
  <div class="col-sm-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
      
      </header>
      <div class="main-box-body clearfix">
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <button id="eliminar_btn" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar Establecimiento</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>