<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#">Presupuesto establecimientos</a></li>
			<li class="active"><span>Inicio</span></li>
		</ol>
		<h1>Presupuesto</h1>
	</div>  	
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Establecimiento <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= ingresa_conducto_path %>" method="post" class="validaf">
					<div class="form-group">
						<label  class="col-lg-2 control-label">Establecimiento</label>
						<div class="col-lg-10">
							<select class="form-control" id="sel_establecimiento" <% if @usuario_actual.departamento.establecimiento_id != 1 %> disabled <% end %> onchange="location = this.value;">
								<%= Establecimiento.todos.each do |e| %>
									<option value="<%= presupuesto_establecimiento_path e.id %>" <% if @e.id == e.id %> selected <% end %> ><%= e.nombre %></option>
								<% end %>
								</select>
						</div>
					</div>
				

				</form>
			</div>
		</div>
	</div>
</div>
<% if @usuario_actual.departamento.establecimiento_id == @e.id or @usuario_actual.departamento.establecimiento_id == 1 %>
<div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Tabla Subvenciones</h2>
        </header>
        <div class="main-box-body clearfix">

        <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th >Subvención</th>
                <th >Utilizado</th>
                <th >Presupuesto</th>
                <th >En gestión</th>
                <th >Disponible</th>
                <th >Movimientos</th>
              </tr>
            </thead>
            <tbody>
            <% @tabla.each do |t| %>
            	<tr>
            		<td><%= t[0] %></td>
            		<td><%= dinero(t[1].to_i) %></td>
            		<td><%= dinero(t[2].to_i) %></td>
            		<td><%= dinero(t[3].to_i) %></td>
            		<td><%= dinero(t[4].to_i) %></td>
            		<td><a href="<%= movimientos_presupuesto_path @e.id, t[5].to_i %>"><i class="fa fa-search"></i> Detalle</a></td>
            		
            	</tr>
            <% end %>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>

  <% else %>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="fa fa-ban"></i> <strong>Error!</strong></h4>
    <p>Usted no esta autorizado para ver esta información</p>
</div>
<% end %>