<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#">Presupuesto establecimientos</a></li>
			<li class="active"><span>Inicio</span></li>
		</ol>
		<h1>Presupuesto Subvencion</h1>
	</div>  	
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2> <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= ingresa_conducto_path %>" method="post" class="validaf">
					<div class="form-group">
						<label  class="col-lg-2 control-label">Establecimiento</label>
						<div class="col-lg-10">
							<select class="form-control" id="sel_establecimiento" <% if @usuario_actual.departamento.establecimiento_id != 1 %> disabled <% end %> onchange="location = this.value;">
								<%= Establecimiento.todos.each do |e| %>
									<option value="<%= movimientos_presupuesto_path e.id, @s.id %>" <% if @e.id == e.id %> selected <% end %> ><%= e.nombre %></option>
								<% end %>
								</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% if @usuario_actual.departamento.establecimiento_id == @e.id or @usuario_actual.departamento.establecimiento_id == 1 %>

<div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Subvencion: <%= @s.nombre %></h2>
        </header>
        <div class="main-box-body clearfix">

        <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th >Presupuesto</th>
                <th >Utilizado</th> 
                <th >Saldo</th>
                <th >En gestión</th>
                <th >Disponible</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= dinero(@presupuesto.to_i) %></td>
                <td><%= dinero(@pagado.to_i) %></td> 
                <td><%= dinero(@saldo.to_i) %></td>
                <td><%= dinero(@en_gestion.to_i) %></td>
                <td><%= dinero(@disponible.to_i) %></td>
                
              </tr>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
<div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Movimientos</h2>
        </header>
        <div class="main-box-body clearfix">

        <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th >Fecha</th>
                <th >Movimiento</th>
                  <th >Entrada</th>
                <th >Salida</th>
                <th >Saldo</th>
                <th >Usuario</th>
              </tr>
            </thead>
            <tbody>
            <% @historial.reverse_each do |t| %>
            	<tr>
                <td><%= t.created_at.strftime('%d/%m/%Y %I:%M') %></td>
            		<td><%= t.descripcion %></td>
            		<td><%= dinero(t.entrada.to_i) %></td>
            		<td><%= dinero(t.salida.to_i) %></td>
            		<td><%= dinero(t.total.to_i) %></td>
            		<td><%= t.usuario.nombre %> <%= t.usuario.apaterno %></td>

            		
            	</tr>
            <% end %>

            </tbody>
          </table>


        </div>
      </div>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Ordenes en Gestion, TOTAL : <%= dinero(@en_gestion.to_i) %></h2>
        </header>
        <div class="main-box-body clearfix">

        <table class="table table-striped" id="datatable2">
            <thead>
              <tr>
                <th >ID</th>
                <th >Inicio</th>
       
         <th >Titulo</th>
                <th >Total</th>
                <th >Estado</th>
              </tr>
            </thead>
            <tbody>
            <% @ordenes_en_proceso.reverse_each do |o| %>
              <tr>
                <td><%= o.id %></td>
                <td><%= o.created_at.strftime('%d/%m/%Y %I:%M') %></td>
                <td><%= o.titulo %></td>
                <td>
                    <%= dinero((o.bien_servicios.sum(:total).to_i * 1.19).to_i) %>
                </td>
                <td> <%=o.estado %></td>
                <td><a href="<%= ver_opi_path o.id %>">Ver</a> </td>

                
              </tr>
            <% end %>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>

  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Ordenes COMPRADAS, TOTAL UTILIZADO: <%= dinero(@pagado.to_i) %></h2>
        </header>
        <div class="main-box-body clearfix">

        <table class="table table-striped" id="datatable2">
            <thead>
              <tr>
                <th >ID</th>
                <th >Inicio</th>
       
         <th >Titulo</th>
                <th >Total</th>
                <th >Orden Compra</th>
                <th >Estado</th>
              </tr>
            </thead>
            <tbody>
            <% @ordenes_compradas.reverse_each do |a| %>
              <tr>
                <td><%= a.orden.id %></td>
                <td><%= a.orden.created_at.strftime('%d/%m/%Y %I:%M') %></td>
                <td><%= a.orden.titulo %></td>
                <td>
                    <%= dinero(a.monto.to_i) %>
                </td>
                <td> <%=a.orden_compra %></td>
                <td> <%=a.orden.estado %></td>
                <td><a href="<%= ver_opi_path a.orden.id %>">Ver</a> </td>

                
              </tr>
            <% end %>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
  <% else %>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="fa fa-ban"></i> <strong>Error!</strong></h4>
    <p>Usted no esta autorizado para ver esta información</p>
</div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">

      </header>
      <div class="main-box-body clearfix">
        <div class="form-group">
      <div class="col-lg-12 text-center">
        <%= link_to 'Volver', :back, :class => "btn btn-default" %>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>