<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Ordenes</a></li>
			<li class="active"><span>Conducto Regular</span></li>
		</ol>
		<h1>Conducto Regular Orden</h1>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Agregar Salto <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= ingresa_conducto_path %>" method="post" class="validaf">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Departamento</label>
						<div class="col-lg-10">
							
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Posición</label>
						<div class="col-lg-10">
							<select name="conducto[posicion]" class=" form-control select-block-level required" >
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
		
							</select>   
						</div>
					</div>
					

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label"></label>
					<div class="col-lg-10">
						<button type="submit"class="btn btn-primary">Guardar posicion</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Conducto actual <span></span></h2>
			</header>
			<div class="main-box-body clearfix">

				<div class="form-group">
					<label class="col-lg-2 control-label"></label>
					<div class="col-lg-10">

						<div class="form-inline" role="form">    
							<div class="input-group">
								<select nclass="form-control" disabled="" >
									<option >1</option>
								</select> 
							</div>
							<div class="input-group">
								<input type="text" class="form-control required" name="accion[hasta]" value="Dirección Establecimiento" disabled="">	
							</div>
						</div>
						<div class="form-inline" role="form">    
							<div class="input-group">
								<select  class="form-control" disabled="" >
									<option >2</option>
								</select> 
							</div>
							<div class="input-group">
								<input type="text" class="form-control required" name="accion[hasta]" value="Gestor Técnico" disabled="">	
							</div>
						</div>

						<% ConductoRegular.todos.each do |c| %>

							<div class="form-inline" role="form">    
								<div class="input-group">
									<select name="conducto[posicion]" class="form-control" disabled="" >
										<option value="<%= c.posicion %>"><%= c.posicion %></option>
									</select> 
								</div>
								<div class="input-group">
									<select name="conducto[departamento_id]" class=" form-control select-block-level required" >
										<option value="">Seleccione Departamento</option>
										<% Departamento.daem.each do |s| %>
											<option value="<%= s.id %>" <% if c.departamento_id == s.id %> selected <% end %>><%= c.nombre %></option>
										<% end %>
									</select>

									<input type="text" class="form-control required" name="conducto[departamento_id]" value="Gestor Técnico" disabled="">	
								</div>
							</div>

						<% end %>


					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		

	$(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });
	

	})
</script>
