<% if @proveedor.errors.nil? %>
	$(".errorproveedor").show("slow")
<% else %>
	$("#nuevo_proveedor").modal('hide');
	$("#nombre_proveedor").val("<%= @proveedor.nombre %>");
     $("#id_proveedor").val("<%= @proveedor.id %>");
	$(".errorproveedor").hide();
	$("#datos_factura").show("slow");
<% end %>