
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Documentos Adjuntos</h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="alert alert-danger" style="display:none">
                   
                    <strong><i class="fa fa-ban"></i> Error!</strong> Debe seleccionar el tipo de documento.
                </div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Documento:</label>
						<div class="col-lg-10">
							<select class="required form-control input-transparent" name="doc[name]" id="tipo_doc">
								<option value="">Seleccione tipo documento</option>
								<% TipoDocumento.vigentes.each do |d| %>
									<option value="<%= d.nombre %>"><%= d.nombre %></option>	
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Archivo</label>
						<div class="col-lg-10">
							<input type="file" name="doc[archivo]" class="required form-control input-transparent">  
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-upload"></i> Subir</button>
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<table id="t_doc" class="table" role="grid" aria-describedby="datatable-table_info">
								<thead>
									<th>Documento</th>
									<th>Enlace</th>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				
			
			
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">


// pre-submit callback 
function showRequest(formData, jqForm, options) { 

	var validator = $( "#new_doc" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}
      
     
} 
 
// post-submit callback 
function showResponse(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){

      $("table#t_doc tbody").append("<tr>" +
        "<td>" + responseText.name + "</td>" +
        "<td>" +
          "<a href='" + responseText.url + "' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
          "<input type='hidden' name='id_doc' value='" + responseText.id + "'> <button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</button>" +
          "</td>" +
      "</tr>");
      $("#doc_orden").append("<input type='hidden' name='doc_guardar[][id]' value='" + responseText.id + "'>");	
      alertify.success("Se ha guardado el documento exitosamente");
  
  }
}

$(document).ready(function() {
	$("table#t_doc tbody").on("click", "button.borra_doc", function(){
		$id = $(this).parent().find("input[name^='id_doc']").val()
		$("#doc_orden").append("<input type='hidden' name='doc_borrar[][id]' value='" + $id + "'>");		
		$(this).parent().parent().remove();

	})

    var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
        dataType:  'json'
    }; 
 
    // bind to the form's submit event 
    $('#new_doc').submit(function() { 
        $(this).ajaxSubmit(options); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

  });
  
  </script>  