<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Plan de mejora <button type="button" value="0" id="ampliar_pme" style="display:none;border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-plus-square icono_pme"></i></button></h2>
			</header>
			<div class="main-box-body clearfix">
			<div id="pme_sl">
			 	<div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimensión:</label>
                    <div class="col-lg-10">
                    	<select class="form-control" id="dimension_sel">
                          <option value="">Seleccione Dimension</option>
                          <% PmeDimension.todas(session[:periodo].id).each do |d| %>
                            <option value="<%= d.id %>"><%= d.nombre %></option>
                          <% end %>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="sl_objetivo" disabled="" style="width: 100%">
                    	</select>
                    </div>
                </div>
                </div>
                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<select class="form-control" id="sl_accion" disabled="" name="accion_id" style="width: 100%">
                    	</select>
					</div>
				</div>

				
			
			
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">



  $(document).ready(function() {


  	$("#ampliar_pme").click(function(){
			if($(this).val() == 1){
				$("#pme_sl").hide("slow");
				$("#ampliar_pme").val(0);
				$(".icono_pme").removeClass("fa-minus-square");
				$(".icono_pme").addClass("fa-plus-square");
				
			}else{
				$("#pme_sl").show("slow");
				$("#ampliar_pme").val(1);
				$(".icono_pme").removeClass("fa-plus-square");
				$(".icono_pme").addClass("fa-minus-square");
				
			}
			
		})


  	$("#sl_objetivo").select2({
        theme: "bootstrap"
    });

    $("#sl_accion").select2({
        theme: "bootstrap"
    });

   $("#dimension_sel").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
			}else{
				$.getJSON("<%= get_pme_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})


   $("#sl_objetivo").change(function(){
		if($(this).val() == ""){
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_pme_accion_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_accion").removeAttr("disabled");
						$("#sl_accion").html(data.opciones);
					}else{
						$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
	})

   
   $("#sl_accion").change(function(){
			if($(this).val() == ""){
				$("#pme_sl").show("slow");
			}else{
				$.getJSON("<%= presupuesto_accion_path %>", { id: $(this).val() }, function(data){
					
					$("#pme_sl").hide("slow");
					$("#ampliar_pme").show();
				}) 
				
			} 
		})


  })
</script>