

<% if @orden.es_editable %>
<form action="<%= actualiza_opi_path @orden.id %>" method="post" id="actualiza_form">
<% end %>
<%= render "opi/show/orden" %>

<%= render "opi/show/cuenta_gasto" %>


<%= render "opi/show/subvencion" %>
<% if !@orden.orden_tiene_pme_accion.blank? %>
	<%= render "opi/show/new_pme_show" %>
<% end %>


<div id="bloque_pre" style="display:none">
<%= render "opi/partial/presupuesto" %>
</div>





<% if !@orden.bien_servicios.blank? %>
	<div  id="bloque_articulos">
		<%= render "opi/partial/articulos" %>
	</div>
	<% if @orden.es_editable %>
		<div class="row">
		  <div class="col-lg-12">
		    <div class="main-box clearfix">
		      <header class="main-box-header clearfix">

		      </header>
		      <div class="main-box-body clearfix">
		        <div class="form-group">
					<div class="col-lg-12 text-center">
						<button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Guardar Cambios</button>
					</div>
				</div>
		      </div>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>

<% if @orden.es_editable %>
</form>
<% end %>

<%= render "opi/show/orden_compra" %>
<%= render "opi/show/archivo" %>
<%= render "opi/partial/movimientos" %>



<script type="text/javascript">

function showRequest_actualiza(formData, jqForm, options) { 
      
     
} 
function showResponse_actualiza(responseText, statusText)  { 

 if(responseText.estado == "Exito"){

      alertify.success("Se ha guardado el documento exitosamente");
  
  }else{
  	alertify.error(responseText.estado);
  }
}
$(document).ready(function() {


	var options_actualiza = { 
        beforeSubmit:  showRequest_actualiza,  // pre-submit callback 
        success:       showResponse_actualiza,  // post-submit callback 
        dataType:  'json'
    }; 

    $('#actualiza_form').submit(function() { 
        $(this).ajaxSubmit(options_actualiza); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 


		

		$("#sl_tipo_gasto").change(function(){
			$val = ($(this).children(':selected').text())
			if($val == "Recursos Humanos"){
				$("#bloque_personal").show("slow");
				$("#bloque_articulos").hide("slow");
				$("#bloque_contrato").show("slow");
			}else if($val == "Bienes y Servicios"){
				$("#bloque_articulos").show("slow");
				$("#bloque_personal").hide("slow");
				$("#bloque_contrato").hide("slow");
			}
		})


	<% if !@orden.bien_servicios.blank? %>

		<% if not @orden.es_editable %>
			$("#agregar").remove()
		<% end %>


		var neto = 0
		<% @orden.bien_servicios.each_with_index do |b, x| %>
		neto += <%= b.total.to_i %>
		$("#articulos").append('<div style="border-bottom: 1px solid #EAEAEA; margin-bottom: 15px;padding-bottom: 42px">' +
							'<div class="col-sm-1" >' + <%= x + 1 %> + '°</div>' +
							'<div class="col-sm-1" >' +
								'<input type="text" class="required form-control  cant_a" size="2" placeholder="Cant." name="cantidad" onKeyPress="return isNumberKey(event)" value="<%= miles(b.cantidad.to_i) %>">' +
								'<input type="hidden" name="articulo[][cantidad]" value="<%= b.cantidad %>">' +
							'</div>' +
							'<div class="col-sm-5"  >' +
								'<input type="text" class="form-control required"  placeholder="Descripcion"  name="articulo[][descripcion]" maxlength="50" value="<%= b.descripcion %>">' +
							'</div>' +
							'<div class="col-sm-2">' +
								'<div class="input-group">' +
		                            '<span class="input-group-addon">$</span>' +
		                            '<input type="text" class="form-control required valor_a" placeholder="Valor"name="valor" onKeyPress="return isNumberKey(event)" value="<%= miles(b.valor.to_i) %>" >' +
		                            '<input type="hidden" value="<%= b.valor %>" name="articulo[][valor]">' +
		                        '</div>' +										
							'</div>' +
							'<div class="col-sm-2">' +
								'<div class="input-group">' +
		                            '<span class="input-group-addon">$</span>' +
		                            '<input type="text" class="form-control "  name="total"  readonly tabindex="-1" value="<%= miles(b.total.to_i) %>">' +
		                            '<input type="hidden" name="articulo[][total]" value="<%= b.total %>">' +
		                        '</div>' +
							'</div>' +
							'<div class="col-sm-1">' +
							<% if @orden.es_editable %>
								'<button type="button" tabindex="-1" class="btn btn-default btn-sm remove_line"><i class="fa fa-remove"></i></button>' +
							<% end %>
							'</div>' +
						'</div>')

		<% end %>
		$("#solicitado").val(neto)
		$("#solicitado_puntitos").val(puntitos(neto))
		total = Math.round(neto * 1.19)
        iva = Math.round(neto * 0.19);
        $("#iva").val(puntitos(iva))
        $("#total_bruto").val(puntitos(total))
	<% end %>
	})
</script>