

<p>Orden: <%= @orden.text %></p>
<p>referencia: <%= @referencia.text %></p>
<p>proveedor: <%= @proveedor.text %></p>
<table class="table">
	<thead>
		<th>Cant</th>
		<th>Descripcion</th>
		<th>Precio</th>
		<th>total</th>
	</thead>
	<tbody>
	<% @items.each do |i| %>
		<tr>
			<td><%= i.css('url|QuantityValue', 'url' => 'rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd').text %></td>
			<td><%= i.css('url|ItemDescription', 'url' => 'rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd').text %></td>
			<td><%= i.css('url|UnitPriceValue', 'url' => 'rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd').text %></td>
			<td><%= i.css('url|MonetaryAmount', 'url' => 'rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd')[2].text %></td>
		</tr>
	<% end %>

	</tbody>
</table>

 