

<div class="form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Articulos
			</header>
			<div class="main-box-body clearfix">
				<div class="form-group">
					<div id="articulos">
						<div  style="padding-bottom: 42px;">
							<div class="col-sm-1" >
								Cant.
							</div>
							<div class="col-sm-6"  >
								Descripción item 
							</div>
							<div class="col-sm-2">
								Valor Neto								
							</div>
							<div class="col-sm-3">
								Total
							</div>

						</div>
						<div style="border-bottom: 1px solid #EAEAEA; margin-bottom: 15px;padding-bottom: 42px">
							<div class="col-sm-1" >
								<input type="text" class="required form-control  cant_a" size="2" placeholder="Cant." name="cantidad" onKeyPress='return isNumberKey(event)'>
								<input type="hidden" name="articulo[][cantidad]">
							</div>
							<div class="col-sm-6"  >
								<input type="text" class="form-control required"  placeholder="Descripcion"  name="articulo[][descripcion]" maxlength="50">
							</div>
							<div class="col-sm-2">
								<div class="input-group">
		                            <span class="input-group-addon">$</span>
		                            <input type="text" class="form-control required valor_a" placeholder="Valor"name="valor" onKeyPress="return isNumberKey(event)" >
		                            <input type="hidden" name="articulo[][valor]">
		                        </div>										
							</div>
							<div class="col-sm-2">
								<div class="input-group">
		                            <span class="input-group-addon">$</span>
		                            <input type="text" class="form-control "  name="total"  readonly tabindex="-1" value="0">
		                            <input type="hidden" name="articulo[][total]" value="0">
		                        </div>
							</div>
							<div class="col-sm-1">
								<button type="button" tabindex="-1" class="btn btn-default btn-sm remove_line"><i class="fa fa-remove"></i></button>
							</div>
						</div>


					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-3">
					<button type="button" class="btn btn-success btn-xs" id="agregar"><i class="fa fa-plus"></i> Agregar Item</button>
					</div>
					<div class="col-sm-4">
						
					</div>
					<label for="marca" class="col-sm-2 control-label">Sub Total Neto</label>
					<div class="col-sm-3">
                        <input type="text" class="form-control " value="0"  readonly="" id="solicitado_puntitos">
                        <input type="hidden" id="solicitado" value="0" name="solicitado"> 
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-7"></div>
					<label for="marca" class="col-sm-2 control-label">Iva</label>
					<div class="col-sm-3">
                        <input type="text" class="form-control " value="0"  readonly="" id="iva">        
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-7 text-right"></div>
					<label for="marca" class="col-sm-2 control-label">TOTAL</label>
					<div class="col-sm-3">
						<input type="text" class="form-control " value="0"  readonly="" id="total_bruto">
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

$(document).ready(function() {
	$("#agregar").click(function() {
		$("#articulos").append('<div style="border-bottom: 1px solid #EAEAEA; margin-bottom: 15px;padding-bottom: 42px">' +
							'<div class="col-sm-1" >' +
								'<input type="text" class="required form-control  cant_a" size="2" placeholder="Cant." name="cantidad" onKeyPress="return isNumberKey(event)">' +
								'<input type="hidden" name="articulo[][cantidad]">' +
							'</div>' +
							'<div class="col-sm-6"  >' +
								'<input type="text" class="form-control required"  placeholder="Descripcion"  name="articulo[][descripcion]" maxlength="50">' +
							'</div>' +
							'<div class="col-sm-2">' +
								'<div class="input-group">' +
		                            '<span class="input-group-addon">$</span>' +
		                            '<input type="text" class="form-control required valor_a" placeholder="Valor"name="valor" onKeyPress="return isNumberKey(event)" >' +
		                            '<input type="hidden" name="articulo[][valor]">' +
		                        '</div>' +										
							'</div>' +
							'<div class="col-sm-2">' +
								'<div class="input-group">' +
		                            '<span class="input-group-addon">$</span>' +
		                            '<input type="text" class="form-control "  name="total"  readonly tabindex="-1" value="0">' +
		                            '<input type="hidden" name="articulo[][total]" value="0">' +
		                        '</div>' +
							'</div>' +
							'<div class="col-sm-1">' +
								'<button type="button" tabindex="-1" class="btn btn-default btn-sm remove_line"><i class="fa fa-remove"></i></button>' +
							'</div>' +
						'</div>')
	})
	$("#articulos").on("click", "button.remove_line", function() {
		$(this).parent().parent().remove();
	})




	

	$("#articulos").on("change", ".cant_a", function() {
		$cant = $(this).val();
		$cant = $cant.replace(/\./g,'')
		$cant = $cant.replace(/^0+/, '');
		$(this).val(puntitos($cant));
		$(this).parent().find("input[name^='articulo[][cantidad]']").val($cant);
		$valor = $(this).parent().next().next().find("input[name^='articulo[][valor]']").val()
		if($valor == ""){
			$valor = "0";
		}
		$valor = $valor.replace(/\./g,'');
		$total = ($cant * $valor);
		$(this).parent().next().next().next().find("input[name^='articulo[][total]']").val($total)
		$to = puntitos($total);
		$(this).parent().next().next().next().find("input[name^='total']").val($to)
		recalcular()

	})

	$("#articulos").on("change", ".valor_a", function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'');
		$(this).val(puntitos($valor));
		$(this).parent().find("input[name^='articulo[][valor]']").val($valor);
		$cant = $(this).parent().parent().prev().prev().find("input[name^='articulo[][cantidad]']").val()
		if($valor == ""){
			$valor = "0";
		}
		$valor = $valor.replace(/\./g,'')
		$total = ($cant * $valor)
		$(this).parent().parent().next().find("input[name^='articulo[][total]']").val($total)
		$to = puntitos($total);
		$(this).parent().parent().next().find("input[name^='total']").val($to)
		recalcular()
	})

	function recalcular() {
        // Los totales
        var neto = 0;
        var cantidad = 0;
        $("#articulos").find("input[name^='articulo[][total]']").each(function(i, v) {
            neto += parseInt(v.value);
            cantidad++;
        })
        total = Math.round(neto * 1.19)
        iva = Math.round(neto * 0.19);

        $("#solicitado_puntitos").val(puntitos(neto));
        $("#solicitado").val(neto);
        $("#iva").val(puntitos(iva))
        $("#total_bruto").val(puntitos(total))

     }
})
</script>