
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Orden N° <span>#</span></h2>
			</header>
			<div class="main-box-body clearfix">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subvención</label>
						<div class="col-lg-10">
							<select id="sl_subvencion" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Subvención</option>
								<% Subvencion.todos.each do |s| %>
									
										<option value="<%= s.id %>"><%= s.nombre %></option>
									
								<% end %>
							</select>
						</div>
					</div>
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Título</label>
						<div class="col-lg-10">
							<input type="text" placeholder="Ej. 'Materiales de oficina'" value="" name="orden[titulo]" id="cod" class="form-control required" maxlength="99">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Justificación</label>
						<div class="col-lg-10">
							<textarea class="form-control required" name="orden[justificacion]" id="justificacion" maxlength="500" ></textarea>   
						</div>
					</div>

			
			</div>
		</div>
	</div>
</div>
