
<div class="row ">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Remuneración</h2>
			</header>
			<div class="main-box-body clearfix">
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Horas</label>
						<div class="col-lg-10">
							<div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="required form-control" placeholder="Basica..." size="10" name="remuneracion[basica]" onKeyPress='return isNumberKey(event)'>

									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control" placeholder="Media..." size="10" name="remuneracion[media]" onKeyPress='return isNumberKey(event)'>
									</div>
									<div class="form-group">
										<input type="text" class="required form-control" placeholder="Normal..." size="10" name="remuneracion[normal]" onKeyPress='return isNumberKey(event)'>
									</div>
									<div class="form-group">
										<input type="text" class="required form-control" placeholder="Total..." size="10" readonly="" name="remuneracion[total]" >
									</div>
								</div>
							</div>
						</div>
						<div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="required form-control input-transparent" onkeyup=mascara(this,'/',patron,true) placeholder="Desde.." id="fecha_desde" size="15" name="contrato[fecha_desde]">
									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control input-transparent" onkeyup=mascara(this,'/',patron,true) placeholder="Hasta.." id="fecha_hasta" size="15" name="contrato[fecha_hasta]">
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Bienios" size="10" name="contrato[bienios]">
									</div>
									<div class="form-group">
										 <div class="checkbox checkbox-primary">
										    <input type="checkbox" id="checkbox1" name="es_titulado">
										    <label for="checkbox1">
										        Titulado (a)
										    </label>
										  </div>
									</div>
									<div class="form-group">
										 <div class="checkbox checkbox-primary">
										    <input type="checkbox" id="checkbox2" name="tiene_mencion">
										    <label for="checkbox2">
										        Mencion
										    </label>
										  </div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					
			
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {

	})
</script>