
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Categorizar gasto <button type="button" value="0"  id="ampliar_categorizar" style="display:none;border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-plus-square icono_categorizar"></i></button></h2>
			</header>
			<div class="main-box-body clearfix">
				<div id="categorizar_gasto_sl">
					
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Tipo de Gasto</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_tipo_gasto" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione tipo de gasto</option>
							</select>   
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Categoría de Gasto</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_categoria_gasto" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Categoría de gasto</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Subcategoría de Gasto</label>
					<div class="col-lg-10">
						<select id="sl_subcategoria_gasto" class="required form-control select-block-level input-transparent" name="orden[subcategoria_gasto_id]">
							<option value="">Seleccione Subcategoría de gasto</option>
						</select> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	$(document).ready(function() {
		$("#sl_subvencion").change(function(){
			if($(this).val() == ""){
				$("#sl_tipo_gasto").html("<option value=''>Seleccione Tipo Gasto</option>");
				$("#sl_tipo_gasto").attr('disabled', true);
				$("#sl_categoria_gasto").html("<option value=''>Seleccione Categoria de Gasto</option>");
				$("#sl_categoria_gasto").attr('disabled', true);
				$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
			}else{
				$.getJSON("<%= sl_tipo_gasto_path %>", { id: $(this).val() }, function(data){
					$("#sl_tipo_gasto").removeAttr("disabled");
					$("#sl_tipo_gasto").html(data.opciones);
					$("#sl_categoria_gasto").html("<option value=''>Seleccione Categoria de Gasto</option>");
					$("#sl_categoria_gasto").attr('disabled', true);
					$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
					}) 
			} 
		})

		$("#sl_tipo_gasto").change(function(){
			if($(this).val() == ""){
				$("#sl_categoria_gasto").html("<option value=''>Seleccione Categoria de Gasto</option>");
				$("#sl_categoria_gasto").attr('disabled', true);
				$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
			}else{
				$.getJSON("<%= sl_categoria_gasto_path %>", { id: $(this).val() }, function(data){
					$("#sl_categoria_gasto").removeAttr("disabled");
					$("#sl_categoria_gasto").html(data.opciones);
					$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
				}) 

				$.getJSON("<%= get_tipo_gasto_path %>", { id: $(this).val() }, function(data){
					if(data.es_persona){
						$("#bloque_personal").show("slow");
						$("#bloque_articulos").hide("slow");
						$("#bloque_contrato").show("slow");
					}else{
						$("#bloque_articulos").show("slow");
						$("#bloque_personal").hide("slow");
						$("#bloque_contrato").hide("slow");
					}
				}) 
			} 
		})

		$("#sl_categoria_gasto").change(function(){
			if($(this).val() == ""){
				$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
			}else{
				$.getJSON("<%= sl_subcategoria_gasto_path %>", { id: $(this).val() }, function(data){
					$("#sl_subcategoria_gasto").removeAttr("disabled");
					$("#sl_subcategoria_gasto").html(data.opciones);
				}) 
			} 
		})
		$("#sl_subcategoria_gasto").change(function(){
			if($(this).val() == ""){
				$("#categorizar_gasto_sl").show("slow");
			}else{
				$("#categorizar_gasto_sl").hide("slow");
				$("#ampliar_categorizar").show();
			} 
		})
		$("#ampliar_categorizar").click(function(){
			if($(this).val() == 1){
				$("#categorizar_gasto_sl").hide("slow");
				$("#ampliar_categorizar").val(0);
				$(".icono_categorizar").removeClass("fa-minus-square");
				$(".icono_categorizar").addClass("fa-plus-square");
				
			}else{
				$("#categorizar_gasto_sl").show("slow");
				$("#ampliar_categorizar").val(1);
				$(".icono_categorizar").removeClass("fa-plus-square");
				$(".icono_categorizar").addClass("fa-minus-square");
				
			}
			
		})
	})
</script>