<section class="widget">
            <header>
                <h4>Buzon <span class="fw-semi-bold"><%= @buzon %></span></h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <p>
                   Ordenes para gestionar
                   
                </p>
                <div class="mt">
                   
                   <table id="datatable-table" class="table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="datatable-table_info">
                        <thead>
                            <tr>
                                <th>Cod.</th>
                                <th>Subvención</th>
                                <th>Establecimiento</th>
                                <th>Titulo</th>
                                <th>Estado</th>
                                <th>F. Inicio</th>
                                <th>F. Recibida</th>
                                <th>Gestión</th>
                                </tr>
                        </thead>
                        <tbody>                                 
                        <tr>
                            <td><span class="label label-primary">201501005-002</span></td>
                            <td>Integracion</td>
                            <td><span class="fw-semi-bold">Colegio Galvarino</span></td>
                            <td>
                              Compra de mesas y sillas para sala
                            </td>
                            <td class="hidden-xs">En Proceso <div class="progress progress-sm mt-xs">
                                    <div class="progress-bar progress-bar-success" style="width: 29%;"></div>
                                </div></td>
                            <td class="hidden-xs">15/03/2015 13:05</td>
                            <td class="hidden-xs">15/03/2015 13:05</td>
                            <td class="width-150">
                                <button type="button" class="btn btn-primary" data-placement="top" data-original-title=".btn .btn-success">
                                         <i class="fa fa-pencil-square-o"></i> Gestionar
                                    </button>
                            </td>
                        </tr>
                         <tr>
                            <td><span class="label label-primary">201501005-002</span></td>
                            <td><span class="fw-semi-bold">Integracion</span></td>

                            <td><span class="fw-semi-bold">Colegio Galvarino</span></td>

                            <td>
                              Compra de mesas y sillas para sala
                            </td>
                            <td class="hidden-xs">En Proceso <div class="progress progress-sm mt-xs">
                                    <div class="progress-bar progress-bar-success" style="width: 29%;"></div>
                                </div></td>
                            <td class="hidden-xs">15/03/2015 13:05</td>
                            <td class="hidden-xs">15/03/2015 13:05</td>
                            <td class="width-150">
                                <button type="button" class="btn btn-primary" data-placement="top" data-original-title=".btn .btn-success">
                                         <i class="fa fa-pencil-square-o"></i> Gestionar
                                    </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>