<h2 class="page-title">Account Demo <small>Out of the box form</small></h2>
        <div class="row">
            <div class="col-md-7">
                <section class="widget">
                    <header>
                        <h4><i class="fa fa-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
                    </header>
                    <div class="body">
                        <form id="user-form" class="form-horizontal form-label-left"
                              novalidate="novalidate"
                              method="post"
                              data-parsley-priority-enabled="false"
                              data-parsley-excluded="input[name=gender]">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-align-center">
                                    <%= image_tag "15.jpg", :style => "height: 112px" %>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3 class="mt-sm mb-xs">Maryna Gils</h3>
                                    <address>
                                        <strong>Development manager</strong> at <strong><a href="#">Allexample Inc.</a></strong><br>
                                        <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.gils@example.com</a><br>
                                        <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                                    </address>
                                </div>
                            </div>
                            <fieldset class="mt-sm">
                                <legend>Account Edit Form <small>Some explanation text</small></legend>
                            </fieldset>
                            <fieldset>
                                <legend class="section">Personal Info</legend>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="prefix">Prefix</label>
                                    <div class="col-sm-4"><input type="text" id="prefix" name="prefix" class="form-control input-transparent"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="first-name">First Name <span class="required">*</span></label>
                                    <div class="col-sm-8"><input type="text" id="first-name" name="first-name" required="required" class="form-control input-transparent" ></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="last-name">Last Name <span class="required">*</span></label>
                                    <div class="col-sm-8"><input type="text" id="last-name" name="last-name" required="required" class="form-control input-transparent" ></div>
                                </div>
                                <div class="form-group">
                                    <label for="middle-name" class="control-label col-sm-4">Middle Name / Initial</label>
                                    <div class="col-sm-8"><input id="middle-name" class="form-control input-transparent" type="text" name="middle-name" value=""></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Gender</label>
                                    <div class="col-sm-8">
                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                                            </label>
                                            <label class="btn btn-primary active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="female" checked> Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date-of-birth" class="control-label col-sm-4">Date Of Birth <span class="required">*</span></label>
                                    <div class="col-sm-6"><input id="date-of-birth" class="date-picker form-control input-transparent" required="required" type="text" name="date-of-birth" value=""></div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="section">Contact Info</legend>
                                <div class="form-group">
                                    <label id="email-label" for="email" class="control-label col-sm-4">Email <span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                            <input id="email" type="email"
                                                   data-trigger="change" required="required"
                                                   class="form-control input-transparent"
                                                   name="email">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="button">Write an email</button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="control-label col-sm-4">Phone <span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                            <input id="phone" class="form-control input-transparent  mask"
                                                   required="required" type="text"
                                                   name="phone" maxlength="28">
                                            <span class="input-group-btn">
                                                <select id="phone-type" class="selectpicker" data-style="btn-default" data-width="auto">
                                                    <option>Mobile</option>
                                                    <option>Home</option>
                                                    <option>Work</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fax" class="control-label col-sm-4">Fax</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                            <input id="fax" class="form-control input-transparent" type="text"
                                                   name="phone" maxlength="28">
                                            <span class="input-group-btn">
                                                 <select id="fax-type" class="selectpicker" data-style="btn-default" data-width="auto">
                                                     <option>Mobile</option>
                                                     <option>Home</option>
                                                     <option>Work</option>
                                                 </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="section">
                                    Address
                                    <button type="button" class="btn btn-transparent btn-xs pull-right">
                                        <i class="fa fa-plus"></i>
                                        Add Address
                                    </button>
                                </legend>
                                <div class="form-group">
                                    <label for="address" class="control-label col-sm-4">Address <span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                            <input id="address" class="form-control input-transparent" type="text"
                                                   name="address">
                                            <span class="input-group-btn">
                                                 <select id="address-type" class="selectpicker" data-style="btn-default" data-width="auto">
                                                     <option>Mobile</option>
                                                     <option>Home</option>
                                                     <option>Work</option>
                                                 </select>
                                            </span>
                                        </div>
                                        <input id="address-2" class="form-control input-transparent mt-sm" type="text" value="" name="address-2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="control-label col-sm-4">City <span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-6"><input id="city" class="form-control input-transparent" required="required" type="text" value="" name="city"></div>
                                </div>
                                <div class="form-group">
                                    <label for="state" class="control-label col-sm-4">State <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        <select id="state" data-placeholder="Select state"
                                                required="required" class="select2 form-control" name="state">
                                            <option value=""></option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="country" class="control-label col-sm-4">Country <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        <select id="country" required="required"
                                                data-placeholder="Select country" class="select2 form-control" name="country">
                                            <option value=""></option>
                                            <option value="United States">United States</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button type="submit" class="btn btn-primary">Validate &amp; Submit</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <div class="col-md-5">
                <section class="widget">
                    <header>
                        <h4><i class="fa fa-cogs"></i> Account settings</h4>
                        <div class="actions">
                            <button class="btn btn-xs btn-inverse"><i class="fa fa-arrow-down"></i> View more</button>
                        </div>
                    </header>
                    <div class="body">
                        <form method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="exp">Account expiration date</label>
                                    <input id="exp" class="form-control date-picker" type="text" name="exp" value="">
                                    <p class="help-block">Bootstrap datepicker</p>
                                </div>
                                <div class="form-group">
                                    <label for="website">Associate to Website</label>
                                    <select id="website" class="select2 select-block-level"
                                            data-width="off"
                                            data-minimum-results-for-search="10"
                                            name="website">
                                        <option selected="selected" value="0">Admin</option>
                                        <option value="1">Main Website</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="created_by">Created By</label>

                                    <input id="created_by" class="form-control" type="text" name="created_by"
                                           value="Admin" disabled="disabled">

                                </div>
                                <div class="form-group">
                                    <label for="groups">Account Group</label>
                                    <select id="groups" name="groups" class="select2 select-block-level" multiple
                                            data-placeholder="Choose one or more groups for account"
                                            data-width="off">
                                        <option value="0">Subscriber</option>
                                        <option value="1">Retailer</option>
                                        <option value="2">Supplier</option>
                                        <option value="3">Manager</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input type="checkbox" id="change-password" name="change-password">
                                        <label class="checkbox" for="change-password">
                                            Request password change
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>
        </div>



<!-- Modal -->
<div class="modal fade" id="white-temp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-wrench"></i> Under construction</h4>
            </div>
            <div class="modal-body">
                <p>Currently we're working hard implementing an update for a White Version of Light Blue template.
                    Approximate release date is <strong>November 20, 2014</strong>.</p>
                <p>Meanwhile, you may want to review <a href="../../2.1/white">White Version 2.1</a>, but keep in mind - it will be heavily modified in 3.0 update.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Back to Light Blue 3.0</button>
                <a href="../../2.1/white" type="button" class="btn btn-danger">Review White Version 2.1</a>
            </div>
        </div>
    </div>
</div>
