  <header class="navbar" id="header-navbar">
    <div class="container">
        <a href="#" id="logo" class="navbar-brand" style="padding-top: 15px;
  padding-left: 27px;">

            <i class="fa fa-empire fa-1x fa-spin"></i><span style="font-weight: normal;"> DAEM</span> 

        </a>
        <div class="clearfix">
            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="btn" id="make-small-nav">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li>
                    <%= link_to ' ', :back, :class => "fa fa-arrow-left btn" %>
                          
                    </li>
                </ul>
            </div>
            <div class="nav-no-collapse pull-right" id="header-nav">
                <ul class="nav navbar-nav pull-right">
                    
                   
                    
                    <li class="dropdown profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs"><%= @usuario_actual.nombre %> <%= @usuario_actual.apaterno %></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= perfil_path %>"><i class="fa fa-user"></i>Perfil</a></li>
                            <li><a href="<%= pass_path %>"><i class="fa fa-cog"></i>Password</a></li>
            
                            <li><a href="<%= logout_login_index_path %>"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Periodo <%= session[:periodo].anio %></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                            <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-refresh"></i> Cambiar</a>
                            </li>
                      
                        </ul>
                    </li>
                    <li class="hidden-xxs">
                        <a href="<%= logout_login_index_path %>" class="btn">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>