<div id="nav-col">
    <section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">
            <div id="user-left-box" class="clearfix hidden-sm hidden-xs">
                    <i id="icono_dpto" style="float:left;padding-left: 15px;    padding-top: 11px;"class="fa  fa-3x "></i>
                <div class="user-box">
                    <span class="name">
                    Dpto.<br>
                        <%= @usuario_actual.departamento.nombre %>
                    </span>
                    <span class="status">
                        <i class="fa fa-circle"></i> <%= @usuario_actual.departamento.establecimiento.nombre %>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                 <h2 style="font-size: 14px; font-weight: bold;">Bandejas</h2>
                    <li>
                        <a href="<%= mi_bandeja_path %>">
                            <i class="fa fa-inbox"></i>
                            <span>Mi Bandeja</span> 
                            <span class="label label-info label-circle pull-right"><%= @mibandeja_count %></span>
                        </a>
                    </li>
                    
                    <% if @usuario_actual.departamento.es_direccion %>
                    <li>
                        <a href="<%= validar_opi_path %>">
                            <i class="fa fa-inbox"></i>
                            <span>Validar Digitadas</span> 
                            <span class="label label-info label-circle pull-right"><%= @validar_count %></span>
                        </a>
                    </li>

                    <% end %>
                    <% if @usuario_actual.encargado_subvencions(:es_vigente => true).count > 0 %>
                    <li>
                        <a href="<%= entrantes_encargado_subvencion_path %>">
                            <i class="fa fa-inbox"></i>
                            <span>Encargado Sub.</span> 
                            <span class="label label-info label-circle pull-right"><%= @encargado_count %></span>

                        </a>
                    </li>
                    <% end %>
                    <% if @usuario_actual.asesor_subvencions(:es_vigente => true).count > 0 %>
                    <li>
                        <a href="<%= entrantes_asesor_subvencion_path %>">
                            <i class="fa fa-inbox"></i>
                            <span>Asesor Sub.</span> 
                            <span class="label label-info label-circle pull-right"><%= @asesor_count %></span>

                        </a>
                    </li>
                    <% end %>

                    <% if not @usuario_actual.bandeja_usuarios.blank? %>
                    <% @usuario_actual.bandeja_usuarios.each do |b| %>

            
                        <li>
                            <a href="<%= bandeja_entrantes_path b.bandeja_id %>">
                                <i class="fa fa-inbox"></i>
                                <span><%= b.bandeja.nombre %></span> 
                                <span class="label label-info label-circle pull-right"><%= Orden.count(
                          :es_nula => false,
                          :en_proceso => true, 
                          :estado => "Conducto Regular",
                          :periodo_id => session[:periodo].id,
                          :rutas =>{
                            :bandeja_id => b.bandeja_id,
                            :activa => true
                            }) %></span>
                            </a>
                        </li>
                    <% end %>
                    <% end %>

                 


                    <h2 style="font-size: 14px; font-weight: bold;">Ordenes</h2>

                     <li>
                        <a href="<%= nueva_opi_path %>">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Nueva Orden Pedido</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= ordenes_enviadas_path %>">
                            <i class="fa fa-paper-plane"></i>
                            <span>Ordenes enviadas</span> 
                        </a>
                    </li>

                    <li>
                        <a href="<%= ordenes_gestionadas_path %>">
                            <i class="fa fa-check-square-o"></i>
                            <span>Gestionadas</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= general_path  %>">
                            <i class="fa fa-search"></i>
                            <span>Buscar OPI</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= presupuesto_establecimiento_path @usuario_actual.departamento.establecimiento_id %>">
                            <i class="fa fa-money"></i>
                            <span>Presupuesto</span>
                        </a>
                    </li>
                  

                    

                    

                   

                     

                    <h2 style="font-size: 14px; font-weight: bold;">Recepción</h2>
                    <li>
                        <a href="<%= recepcionar_path %>">
                            <i class="fa fa-cube"></i>
                            <span>Recepcionar</span> 
                            <span class="label label-info label-circle pull-right"><%= @recepcion_c %></span>
                            
                        </a>
                    </li>
                    <% if @usuario_actual.departamento.es_direccion %>
                    <li>
                        <a href="<%= para_firmar_recepcion_path %>">
                            <i class="fa fa-edit"></i>
                            <span>Para Firma </span> 
                            <span class="label label-info label-circle pull-right"><%= @firma_recepcion %></span>
                        </a>
                    </li>
                    <% end %>
                    <li>
                        <a href="<%= listado_recepcionadas_path %>">
                            <i class="fa fa-cubes"></i>
                            <span>Listado Recepciones</span> 
                        </a>
                    </li>


                    <h2 style="font-size: 14px; font-weight: bold;">PME</h2>
                    <li>
                        <a href="<%= pme_nueva_accion_path @usuario_actual.departamento.establecimiento.hex_url %>">
                            <i class="fa fa-plus-square"></i>
                            <span>Nueva Accion</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= pme_acciones_path @usuario_actual.departamento.establecimiento.hex_url %>">
                            <i class="fa fa-check-square"></i>
                            <span>Acciones</span> 
                        </a>
                    </li>

                    
                    <li>
                        <a href="<%= pme_objetivos_path @usuario_actual.departamento.establecimiento.hex_url %>">
                            <i class="fa fa-bullseye"></i>
                            <span>Objetivos y Estrategias</span> 
                        </a>
                    </li>
                    <% if @usuario_actual.departamento.establecimiento.es_admin %>
                    <li>
                        <a href="<%= pme_dimensiones_path %>">
                            <i class="fa fa-cogs"></i>
                            <span>Dimensiones</span> 
                        </a>
                    </li>
                    <% end %>
                            

                    <% if @usuario_actual.sistema.adquisiciones > 0 %>  
                    <h2 style="font-size: 14px; font-weight: bold;">Adquisiciones</h2>


                     <li>
                        <a href="<%= ordenes_licitacion_path %>">
                            <i class="fa fa-gavel"></i>
                            <span>Licitaciones</span>
                            <span class="label label-info label-circle pull-right"><%= @licitacion %></span>
                        </a>
                    </li>
                      
                    <li>
                        <a href="<%= espera_decreto_path %>">
                            <i class="fa fa-clock-o"></i>
                            <span>En Espera Decreto</span> 
                            <span class="label label-info label-circle pull-right"><%= @decreto %></span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= orden_compras_path %>">
                            <i class="fa fa-folder-open"></i>
                            <span>Ordenes de Compra</span> 
                           
                        </a>
                    </li>
                    <li>
                        <a href="<%= visar_adq_path %>">
                            <i class="fa fa-credit-card"></i>
                            <span>Recepciones por visar</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= todas_recepciones_path %>">
                            <i class="fa fa fa-cubes"></i>
                            <span>Recepciones todas</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= suministros_path %>">
                            <i class="fa fa-file"></i>
                            <span>Contrato Suministros</span> 
                        </a>
                    </li>
                    <% end %>
                    
                   
                    

                    

                    <% if @usuario_actual.sistema.tesoreria > 0 %>    
                    <h2 style="font-size: 14px; font-weight: bold;">Tesoreria</h2>
                    <li>
                        <a href="<%= pagar_path %>">
                            <i class="fa fa-credit-card"></i>
                            <span>Recepciones por pagar</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= todas_recepciones_path %>">
                            <i class="fa fa fa-cubes"></i>
                            <span>Recepciones Pagadas</span> 
                        </a>
                    </li>
                    <% end %>


                    
                    <% if @usuario_actual.sistema.finanzas > 0 %>
                    <h2 style="font-size: 14px; font-weight: bold;">Finanzas</h2>
                    <li>
                        <a href="<%= pagar_path %>">
                            <i class="fa fa-credit-card"></i>
                            <span>Recepciones por pagar</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= todas_recepciones_path %>">
                            <i class="fa fa fa-cubes"></i>
                            <span>Recepciones todas</span> 
                        </a>
                    </li>
                        <li>
                        <a href="<%= carga_presupuesto_path %>">
                            <i class="fa fa-briefcase"></i>
                            <span>Carga presupuesto</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= cuentas_gastos_path %>">
                            <i class="fa fa-credit-card"></i>
                            <span>Cuentas Gastos</span> 
                        </a>
                    </li>
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-dollar"></i>
                                <span>Liq. Subvenciones</span> 
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" >
                                <li>
                                    <a href="<%= listado_liquidacion_path %>">
                                        Listado
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= liquidacion_path %>">
                                       Nueva
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= subvenciones_base_path %>">
                                        Subenciones Base 
                                    </a>
                                </li>
                                
                        
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-line-chart"></i>
                                <span>Parametros Finanzas</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="<%= subvenciones_orden_path %>">
                                        Subvenciones Orden
                                    </a>
                                </li>
                                
                        
                                
                            </ul>
                        </li>
                    <% end %>
<%
=begin %>                    
                    <h2 style="font-size: 14px; font-weight: bold;">Plan Mejoramiento</h2>
                   

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-book "></i>
                                <span>PME</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="<%= pme_path %>">
                                        Ver Plan 
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= nuevo_objetivo_path %>">
                                        Ingresar Objetivo
                                    </a>
                                </li>   
                                <li>
                                    <a href="<%= nuevo_pme_path %>">
                                        Ingresar Accion
                                    </a>
                                </li>
                                                        
                            </ul>
                        </li>
<%
=end 
%>
                   

                    <% if @usuario_actual.sistema.admin > 0 %>
                     <h2 style="font-size: 14px; font-weight: bold;">Admin</h2>
                    <li>
                        <a href="<%= usuarios_path %>">
                            <i class="fa fa-user"></i>
                            <span>Usuarios</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= conducto_path %>">
                            <i class="fa fa-user"></i>
                            <span>Conducto Regular OPI</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= bandejas_path %>">
                            <i class="fa fa-user"></i>
                            <span>Bandejas</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= encargados_subvencion_path %>">
                            <i class="fa fa-user"></i>
                            <span>Encargados Subvencion</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= asesores_subvencion_path %>">
                            <i class="fa fa-user"></i>
                            <span>Asesores Subvencion</span> 
                        </a>
                    </li>
                    <li>
                        <a href="<%= establecimientos_path %>">
                            <i class="fa fa-home"></i>
                            <span>Establecimientos</span> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-cogs"></i>
                            <span>Parametros Generales</span>
                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                        </a>
                        <ul class="submenu" >
                            <li>
                                <a href="<%= periodo_path %>">
                                    Periodo
                                </a>
                            </li>
                            <li>
                                <a href="<%= areas_path %>">
                                    PME
                                </a>
                            </li>


                            
                             
                          
                        </ul>
                    </li>
                     <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-file"></i>
                            <span>Informes</span>
                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                        </a>
                        <ul class="submenu" >
                            <li>
                                <a href="<%= gastos_categoria_path %>">
                                    Gastos por Categoria
                                </a>
                            </li>
                            <li>
                                <a href="<%= gastos_subvencion_path %>">
                                    Gastos por Subvencion
                                </a>
                            </li>
                            <li>
                                <a href="<%= informe_compras_path %>">
                                    Informe de Compras
                                </a>
                            </li>
                            <li>
                                <a href="<%= supereduc_path %>">
                                    Informe SUPEREDUC
                                </a>
                            </li>

                            
                             
                          
                        </ul>
                    </li>
                    <% end %>

                   
                  
                    <li style="padding-top: 100px;"></li>
        
                    
                </ul>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    <% if @usuario_actual.departamento.id == 6 %>
       $("#icono_dpto").addClass("fa-line-chart") 
    <% end %>
})
</script>
