
<% if not flash[:error].nil? %>   
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="fa fa-ban"></i> <strong>Oh ha ocurrido un error!</strong></h4>
    <p><%= flash[:error] %></p>
</div>
<% end %>
<% if not flash[:notificacion].nil? %>   
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong><i class="fa fa-check"></i> Exito!</strong> <%= flash[:notificacion] %>
</div>
<% end %>