<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">Finanzas</a></li>
            <li class="active"><span>Cuentas Gasto</span></li>
        </ol>
        <h1>Cuentas de gasto</h1>
    </div>
</div>
  <div class="row form-horizontal">
      <div class="col-lg-12">
          <div class="main-box">
              <header class="main-box-header clearfix">
                  <h2>Crear Nueva Cuenta <span></span></h2>
              </header>
              <div class="main-box-body clearfix">
              <form action="<%= guarda_cuenta_gasto_path %>" method="post">
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Numero</label>
                      <div class="col-lg-10">
                          <input type="text" class="form-control" name="cuenta[numero]">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Descripcion</label>
                      <div class="col-lg-10">
                          <input type="text" class="form-control" name="cuenta[descripcion]">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label"></label>
                      <div class="col-lg-10">
                          <button type="submit" class="btn btn-primary">Ingresar Cuenta</button>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Subvenciones Orden</h2>

      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><a href="#"><span>Numero</span></a></th>
                <th><a href="#"><span>Descripcion</span></a></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
           
            <tbody>
             <% CuentaGasto.vigentes.each do |p| %>
              <tr>
                <td>
                  <%= p.numero %>
                </td>
                <td>
                  <%= p.descripcion %>
                </td>
       
                <td style="width: 15%;">
                  <form action="<%= eliminar_cuenta_gasto_path %>" method="post">
                    <input type="hidden" value="<%= p.id %>" name="id">
                    <button type="submit"  onclick="return confirm('seguro que desea borrar?')" class="btn btn-primary" ><i class="fa fa-trash"></i></button> 
                  </form>
                </td>
       
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
