

<div class="row">
	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Articulos
			</header>
			<div class="main-box-body clearfix">
					<div class="form-group">
						<div class="col-sm-12">
							<div class="form-group" >
								<div >
									
									<table class="table" id="articulos" style="font-size: 11px">
										<thead>
											<th width="100px">Producto</th>
											<th width="150px">Descripción Comprador</th>
											<th width="150px">Descripción Proveedor</th>
											<th width="90px">Cant.</th>
											<th>Neto</th>
											<th>Total</th>
											<th></th>
										</thead>
										<tbody>
											
										</tbody>
									</table>
								</div>

								

								<div style="padding-bottom: 42px;">
									<div class="col-sm-7"></div>
									<div class="col-sm-2">
										Subtotal
									</div>
									<div class="col-sm-3">
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control " value="0" size="20"  id="subtotal">
                                            <input type="hidden" name="recepcion[subtotal]" id="subtotal_real">
                                        </div>
									</div>
								</div>

								<div style="padding-bottom: 42px;">
									<div class="col-sm-7"></div>
									<div class="col-sm-2">
										Descuento
									</div>
									<div class="col-sm-3">
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control " value="0" size="20" id="descuento">
                                            <input type="hidden" name="recepcion[descuento]"  id="descuento_real" value="0">
                                        </div>
									</div>
								</div>

								<div style="padding-bottom: 42px;">
									<div class="col-sm-7"></div>
									<div class="col-sm-2">
										Neto
									</div>
									<div class="col-sm-3">
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control " value="0" size="20" id="neto" value="0">
                                            <input type="hidden" name="recepcion[neto]" id="neto_real">
                                        </div>
									</div>
								</div>

								<div style="padding-bottom: 42px;">
									<div class="col-sm-7"></div>
									<div class="col-sm-2">
										IVA
									</div>
									<div class="col-sm-3">
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input  type="text" class="form-control " value="0" size="20"  id="iva" >
                                            <input type="hidden" name="recepcion[iva]" id="iva_real">
                                        </div>
									</div>
								</div>

								<div style="padding-bottom: 42px;">
									<div class="col-sm-7"></div>
									<div class="col-sm-2">
										Imp. Especifico
									</div>
									<div class="col-sm-3">
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input  type="text" class="form-control " value="0" size="20"  id="imp_especifico_puntitos">
                                            <input type="hidden" name="recepcion[imp_especifico]" value="0" id="imp_especifico">
                                        </div>
									</div>
								</div>

								<div style="padding-bottom: 42px;">
									<div class="col-sm-2"><button type="button" class="btn btn-primary" id="agregar">Agregar Item </button></div>
									<div class="col-sm-5"></div>
									<div class="col-sm-2">
										Total
									</div>
									<div class="col-sm-3">
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input  type="text" class="form-control " value="0" size="20"  id="total_recepcion">
                                            <input type="hidden" name="recepcion[total]" id="total_recepcion_real">
                                        </div>
									</div>
								</div>
					
								

							</div>
					
							
						</div>
						
					</div>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

$(document).ready(function() {

	


	$("#agregar").click(function() {
		$("#articulos").append('<tr>' +
								'<td><input type="text" class="form-control" value="" name="articulo[][descripcion]"></td>' +
								'<td><input type="text" class="form-control"  value="" name="articulo[][descripcion_comprador]"></td>' +
								'<td><input type="text" class="form-control" value="" name="articulo[][descripcion_proveedor]"></td>' +
								'<td><input type="number" value="" class="required form-control  cant_a" placeholder="Cant." name="articulo[][cantidad]" ></td>' +
								'<td><input type="text"  value=""  class="form-control required valor_a" placeholder="Valor"name="neto" ><input type="hidden"  value="" name="articulo[][neto]" ></td>' +
								'<td><input value="" type="hidden" name="articulo[][total]"> <input value="" type="text" class="form-control " name="total" readonly></td>' +
								'<td><button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button></td>' +
										'</tr>')
	})


	$("#articulos").on("click", "button.remove_line", function() {
		$(this).parent().parent().remove();
		recalcular()
	})

	$("#articulos").on("change", ".cant_a", function() {
		$cant = $(this).val();
		$valor = $(this).parent().next().find("input[name^='articulo[][neto]']").val()
		if($valor == ""){
			$valor = "0";
		}
		//console.log("Valor desde cantidad " + $valor)
		$valor = $valor.replace(/\./g,'')
		
		$total = ($cant * $valor);
		$(this).parent().next().next().find("input[name^='articulo[][total]']").val($total)
		$(this).parent().next().next().find("input[name^='total']").val(puntitos($total))
		recalcular()

	})


	$("#articulos").on("change", ".valor_a", function() {
		$valor = $(this).val();

		$valor = $valor.replace(/\./g,'');

		$(this).val(puntitos($valor));
		$(this).parent().find("input[name^='articulo[][neto]']").val($valor);
		$cant = $(this).parent().prev().find("input[name^='articulo[][cantidad]']").val()
		console.log($cant)
		if($valor == ""){
			$valor = "0";
		}
		$valor = $valor.replace(/\./g,'')
		$total = ($cant * $valor)
		$(this).parent().next().find("input[name^='articulo[][total]']").val($total)
		$to = puntitos($total);
		$(this).parent().next().find("input[name^='total']").val($to)
		recalcular()
	})

	$("#descuento").change(function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'')
		$(this).val(puntitos($valor));
		$("#descuento").val(puntitos($valor))
		$("#descuento_real").val($valor)
		
		var total = $("#subtotal_real").val()
        descuento = $("#descuento_real").val()
      	neto_recepcion = total - parseInt(descuento)
      	iva = Math.round(neto_recepcion * 0.19);
      	total_recepcion = neto_recepcion + iva

        $("#neto").val(puntitos(neto_recepcion));
        $("#neto_real").val(neto_recepcion);

        $("#iva").val(puntitos(iva));
        $("#iva_real").val(iva);

        $("#total_recepcion").val(puntitos(total_recepcion));
        $("#total_recepcion_real").val(total_recepcion);

		})

	$("#subtotal").change(function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'')
		$(this).val(puntitos($valor));
		$("#subtotal").val(puntitos($valor))
		$("#subtotal_real").val($valor)

		var total = $valor
        descuento = $("#descuento_real").val()
      	neto_recepcion = total - parseInt(descuento)
      	iva = Math.round(neto_recepcion * 0.19);
      	total_recepcion = neto_recepcion + iva

        $("#subtotal").val(puntitos(total));
        $("#subtotal_real").val(total);

        $("#neto").val(puntitos(neto_recepcion));
        $("#neto_real").val(neto_recepcion);

        $("#iva").val(puntitos(iva));
        $("#iva_real").val(iva);

        $("#total_recepcion").val(puntitos(total_recepcion));
        $("#total_recepcion_real").val(total_recepcion);
	})

	$("#neto").change(function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'')
		$(this).val(puntitos($valor));
		$("#neto").val(puntitos($valor))
		$("#neto_real").val($valor)

		neto_recepcion = $valor
      	iva = Math.round(neto_recepcion * 0.19);
      	total_recepcion = parseInt(neto_recepcion) + iva

        $("#neto").val(puntitos(neto_recepcion));
        $("#neto_real").val(neto_recepcion);

        $("#iva").val(puntitos(iva));
        $("#iva_real").val(iva);

        $("#total_recepcion").val(puntitos(total_recepcion));
        $("#total_recepcion_real").val(total_recepcion);
	})

	$("#iva").change(function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'')
		$(this).val(puntitos($valor));
		$("#iva").val(puntitos($valor))
		$("#iva_real").val($valor)

		iva = parseInt($valor)
		neto_recepcion = $("#neto_real").val();
      	total_recepcion = parseInt(neto_recepcion) + iva

        $("#total_recepcion").val(puntitos(total_recepcion));
        $("#total_recepcion_real").val(total_recepcion);
	})

	$("#imp_especifico_puntitos").change(function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'')
		$(this).val(puntitos($valor));
		$("#imp_especifico_puntitos").val(puntitos($valor))
		$("#imp_especifico").val($valor)

		iva = $("#iva_real").val();
		neto_recepcion = $("#neto_real").val();
      	total_recepcion = parseInt(neto_recepcion) + parseInt(iva) + parseInt($valor)

        $("#total_recepcion").val(puntitos(total_recepcion));
        $("#total_recepcion_real").val(total_recepcion);
	})

	$("#total_recepcion").change(function() {
		$valor = $(this).val();
		$valor = $valor.replace(/\./g,'')
		$(this).val(puntitos($valor));
		$("#total_recepcion").val(puntitos($valor))
		$("#total_recepcion_real").val($valor)
	})



	function recalcular() {
        // Los totales
        console.log("recalcular")
        var neto = 0;
        var cantidad = 0;
        $("#articulos").find("input[name^='articulo[][total]']").each(function(i, v) {
            neto += parseInt(v.value);
            cantidad++;
        })
        var total = neto
        descuento = $("#descuento_real").val()
      	neto_recepcion = total - parseInt(descuento)
      	iva = Math.round(neto_recepcion * 0.19);
      	total_recepcion = neto_recepcion + iva
      	console.log(total)
        $("#subtotal").val(puntitos(total));
        $("#subtotal_real").val(total);

        $("#neto").val(puntitos(neto_recepcion));
        $("#neto_real").val(neto_recepcion);

        $("#iva").val(puntitos(iva));
        $("#iva_real").val(iva);

        $imp_especifico = $("#imp_especifico").val()
        total_recepcion = total_recepcion + parseInt($imp_especifico)
        $("#total_recepcion").val(puntitos(total_recepcion));
        $("#total_recepcion_real").val(total_recepcion);

        

     }
})
</script>