<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Recepción </h2>
			</header>
			<div class="main-box-body clearfix">

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Exento de Iva</label>
						<div class="col-lg-10">
							<select class="form-control" name="recepcion[exento_iva]" id="exento">
								<option value="0">No</option>
								<option value="1">Si</option>
							</select>	
						</div>
						
					</div>


					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Total documento</label>
						<div class="col-lg-10">
						<input type="text" readonly="" id="total_documento" value="<%= dinero(@adq.monto.to_i) %>"  onKeyPress="return istextKey(event)"  class="form-control" >
						<input type="hidden" readonly="" id="total_documento_real" value="<%= @adq.monto.to_i %>" name="recepcion[total_documento]">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Orden Compra</label>
						<div class="col-lg-10">
<input type="text"  id="oc_compra_recepcion" value="" name="recepcion[orden_compra]" class="form-control" >
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">OPI</label>
						<div class="col-lg-10">
							<input type="text" readonly="" value="" id="opi_recepcion" name="orden" class="form-control required" >


						</div>
					</div>
					
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Rut Proveedor</label>
						<div class="col-sm-4">
							<input type="text"  value="" id="rut_proveedor" class="form-control required" name="rut_proveedor">
							
						</div>
						<div class="col-sm-6">
							<input type="text" value="" name="nombre_proveedor" id="nombre_proveedor"  class="form-control" >
						</div>
					</div>
				
					
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Tipo documento</label>
						<div class="col-lg-10">
							<select class="form-control required" name="recepcion[tipo_documento]">
								<option value="">Tipo Documento</option>
								<option value="FACTURA EXENTA ELECTRONICA">FACTURA EXENTA ELECTRONICA</option>
								<option value="FACTURA ELECTRONICA">FACTURA ELECTRONICA</option>
								<option value="FACTURA EXENTA">FACTURA EXENTA </option>
								<option value="FACTURA">FACTURA </option>
								<option value="BOLETA ELECTRONICA">BOLETA ELECTRONICA</option>
								<option value="BOLETA HONORARIO ELECTRONICA">BOLETA HONORARIO ELECTRONICA</option>
								<option value="BOLETA">BOLETA</option>
								<option value="OTRO DOCUMENTO EXENTO">OTRO DOCUMENTO EXENTO</option>
								<option value="GUIA">GUIA</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">N° Doc</label>
						<div class="col-lg-10">
							<input type="text"  value="" name="recepcion[num_factura]" class="form-control required" >
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Fecha Doc</label>
						<div class="col-lg-10">
							<input type="date"  value="" name="recepcion[fecha_factura]" class="form-control required" >
						</div>
					</div>
			
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Observación</label>
						<div class="col-lg-10">
							<textarea rows="4" maxlength="500" class="form-control " name="recepcion[observacion]" ></textarea>   
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="button" class="btn btn-primary" id="crear_btn">Guardar</button>
							<%= link_to 'Volver', :back, :class => "btn btn-default" %>
						</div>
					</div>

					

			
			</div>
		</div>
	</div>
</div>