<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Adquisicion </h2>
			</header>
			<div class="main-box-body clearfix">
			<% if @id > 0   %>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Orden Compra</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= @adq.orden_compra %>">
						</div>
						<label for="inputPassword1" class="col-lg-2 control-label">Fecha</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= fecha(@adq.fecha) %>">
						</div>

						<label for="inputPassword1" class="col-lg-2 control-label">Monto</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= dinero(@adq.monto.to_i) %>">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Documento:</label>
						<div class="col-lg-2">
							<% if !@adq.orden_compra_doc.blank? %>
								<a class="btn btn-primary" target="_blank" href="<%= @adq.orden_compra_doc.archivo %>"><i class="fa fa-cloud-download"></i> Descargar</a>
							<% end %>
						</div>
						
					</div>
			<% end %>		

					

			
			</div>
		</div>
	</div>
</div>
