<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Adquisicion </h2>
			</header>
			<div class="main-box-body clearfix">
			<% if @id > 0   %>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Establecimiento</label>
						<div class="col-lg-4">
								<input type="text" class="form-control" value="<%= @adq.orden.departamento.establecimiento.id %>">
						</div>
						<label for="inputPassword1" class="col-lg-2 control-label">Emisor</label>
						<div class="col-lg-4">
								<input type="text" class="form-control" value="<%= @adq.orden.usuario.nombre %> <%= @adq.orden.usuario.apaterno %>">
						</div>

					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Titulo</label>
						<div class="col-lg-4">
								<input type="text" class="form-control" value="<%= @adq.orden.titulo %>">
						</div>
						<label for="inputPassword1" class="col-lg-2 control-label">Emisor</label>
						<div class="col-lg-4">
								<input type="text" class="form-control" value="<%= @adq.orden.usuario.nombre %> <%= @adq.orden.usuario.apaterno %>">
						</div>

					</div>
			<% end %>		

					

			
			</div>
		</div>
	</div>
</div>
