<div class="modal fade" id="nuevo_proveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Proveedor</h4>
      </div>
      <form action="<%= guardar_proveedor_path %>" method="post" id="nuevo_proveedor_form">
      <div class="modal-body form-horizontal">

        <div class="form-group">
                  <label class="col-sm-2 control-label">Rut:</label>
                  <div class="col-sm-10">
                     <input class="form-control validar" readonly=""  id="nuevo_rut" type="text" name="proveedor[rut]">
                 </div>
             </div>
   
              <div class="form-group">
                  <label class="col-sm-2 control-label">Nombre:</label>
                  <div class="col-sm-10">
                     <input class="form-control validar"  type="text" id="nuevo_nombre" name="proveedor[nombre]">
                 </div>
             </div>
             <div class="form-group">
                  <label class="col-sm-2 control-label">Giro:</label>
                  <div class="col-sm-10">
                     <input class="form-control"  type="text" name="proveedor[giro]">
                 </div>
             </div>
             <div class="form-group">
                  <label class="col-sm-2 control-label">Telefono:</label>
                  <div class="col-sm-10">
                     <input class="form-control"  type="text" name="proveedor[telefono]">
                 </div>
             </div>
             <div class="form-group">
                  <label class="col-sm-2 control-label">Dirección:</label>
                  <div class="col-sm-10">
                     <input class="form-control"  type="text" name="proveedor[direccion]">
                 </div>
             </div>
             <div class="form-group">
                  <label class="col-sm-2 control-label">Contacto:</label>
                  <div class="col-sm-10">
                     <input class="form-control"  type="text" name="proveedor[contacto]">
                 </div>
             </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>




