<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Ordenes para recepción</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        
<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">Comprada</th>
                <th class="text-center">OC</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              

              </tr>
            </thead>
            <tbody>
              <% @adquisiciones.each do |a| %>
                <tr>
                  <td>
                    <%= a.orden.id %>
                  </td>
                  <td class="text-left">
                    <%= a.orden.titulo %>
                  </td>
                  <td class="text-left">
                    <%= a.orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>
                  <td class="text-left">
                    <%= fecha(a.fecha) %>
                  </td>
                  <td class="text-left">
                    <%= a.orden_compra %>
                  </td>
                  <td style="width: 15%;">
                    <a href="<%= imprimible_orden_path a.orden.id %>" target="_blank" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver PDF imprimible">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <a href="<%= ver_opi_path a.orden.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver Orden">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <% if a.orden.departamento.establecimiento_id == @usuario_actual.departamento.establecimiento_id %>
                        <a href="<%= nueva_recepcion_path a.id %>" class="table-link"  data-toggle="tooltip" data-placement="top" title="Recepcionar articulos">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>                     
                    <% end %>
                    

                  </td>
                  
                  <td>
                      <form action="<%= quitar_lista_recepcion_path a.orden.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea quitar la Orden ID: <%= a.orden.id %> de la lista?');">
                        <button type="submit"  class="btn btn-link table-link"  data-toggle="tooltip" data-placement="top" title="Quitar">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
                          </span>
                        </button>    
                      </form>
                  </td>
                   
                </tr>
              <% end %>
            </tbody>
          </table>

          


      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2 class="pull-left"></h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        <form action="<%= seleccionar_recepcion_path %>" method="post">
        <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Recepcionar OC:</label>
            <div class="col-lg-5">         
              <input type="text" value="" name="oc" class="form-control required" >
            </div>
            <div class="col-lg-5">
              <button type="submit" class="btn btn-primary">Recepcionar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>