<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Recepciones creadas</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        
<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th>OPI</th>
                <th class="text-center">Articulos</th>
                <th class="text-center">Proveedor</th>
                <th class="text-center">Total</th>
                <th class="text-center">Creada</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              

              </tr>
            </thead>
            <tbody>
              <% @recepciones.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                   <td>
                    <a href="<%= ver_opi_path o.orden_id %>"  >
                      <%= o.orden_id %>
                    </a>
                  </td>
                  <td class="text-left">
                    <% o.recepcion_items.each do |i| %>
                      <li><%= i.cantidad %> - <%= i.descripcion %></li>
                    <% end %>
                  </td>
                  <td class="text-left">
                    <%= o.proveedor.nombre %>
                  </td>
                  <td class="text-left">
                    <%= dinero(o.total.to_i) %>
                  </td>
                  <td class="text-left">
                    <%= o.created_at.strftime('%d/%m/%Y %H:%M') %>
                  </td>
                  <td>
                    <a href="<%= ver_recepcion_path o.id %>" target="_blank" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver PDF imprimible">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  
                    

                  </td>
                  <td>
                      <form action="<%= eliminar_recepcion_path o.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar la Recepcion: <%= o.id %>?');">
                        <button type="submit"  class="btn btn-link table-link"  data-toggle="tooltip" data-placement="top" title="Eliminar">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                          </span>
                        </button>    
                      </form>
                        
                  
                  </td>
                   

                   
                </tr>
              <% end %>
            </tbody>
          </table>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    "aaSorting": [[0,'desc']],
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>


      </div>
    </div>
  </div>
</div>
