

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Nueva Recepción</span></li>
		</ol>
		<h1>Nueva Recepción</h1>
	</div>
</div>


<%= render "oc" %>

<form action="<%= crear_recepcion_path %>" method="post" id="new_recepcion">

<%= render "recepcionar/articulos" %>

<%= render "recepcionar/datos_recepcion" %>


</form>


<script type="text/javascript">

// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 

	var validator = $( "#new_recepcion" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.alert("RECEPCION ID: " + responseText.recepcion + "", function(){
     document.location.href = "/recepcionar/listado"
  	});

   
  }else
   alertify.error("Error, no se ha creado la recepcion, revise los campos ingresados");
}


	$(document).ready(function() {


		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_recepcion').ajaxSubmit(options2); 
		      })

		      $('#exento').change(function(){
			        if($('#exento').val() == "1") {
			            
			         
						$neto = $("#neto").val()
						$neto_real = $("#neto_real").val()
						$("#iva").val(0)
						$("#iva_real").val(0)
						$("#total_recepcion").val($neto)
						$("#total_recepcion_real").val($neto_real)

					}else{
						$neto = $("#neto").val()
						$neto_real = $("#neto_real").val()
						iva = Math.round(parseInt($neto_real) * 0.19);
						total = parseInt($neto_real) + parseInt(iva)
						$("#iva").val(puntitos(iva))
						$("#iva_real").val(iva)
						$("#total_recepcion").val(puntitos(total))
						$("#total_recepcion_real").val(total)
					}
			    });

		     


		      $("#rut_proveedor").Rut({
			      format: true,
			      on_error: function(){ 
			        alert("rut incorrecto");
			        $("#rut_proveedor").val("");
			        $("#rut_proveedor").focus();
			      },
			      on_success: function(){ 
			         $.getJSON("<%= get_proveedor_path %>", {rut : $("#rut_proveedor").val()}, function(data) {
			            if(data.msj.msj == "si"){    
			              $("#nombre_proveedor").val(data.proveedor.nombre);
			              $("#id_proveedor").val(data.proveedor.id);
			              $("#datos_factura").show("slow");
			            }else{
			              $("#nuevo_proveedor").modal("show");
			              $("#nuevo_rut").val($("#rut_proveedor").val());
			              $("#nuevo_nombre").focus();
			            }
			        });
			      }
			  })


    $('#nuevo_proveedor_form').submit(function (){
             $.post($(this).attr('action'), $(this).serialize(), null, "script");
             return false;
         });

    	$("#opi_recepcion").val("<%= @adq.orden.id %>")
   			url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?codigo=<%= @adq.orden_compra %>&ticket=9CBA3DC3-8095-4BD9-BD61-F37046C6F490'
    		dolar_dia = <%= @adq.dolar %>
    		tipo_moneda = "<%= @adq.tipo_moneda %>"

			$.getJSON(url, function(data){
				

				$.each(data.Listado, function(index, v) { 

					$("#rut_proveedor").val(v.Proveedor.RutSucursal)
					$("#nombre_proveedor").val(v.Proveedor.Nombre)
					$("#oc_compra_recepcion").val(v.Codigo)

   					imp_especifico = 0 
					$.each(v.Items.Listado, function(i, a) { 

						if(tipo_moneda == "US Dollar"){
							imp_especifico += parseInt(a.TotalImpuestos * dolar_dia)
							precio_neto = parseInt(a.PrecioNeto * dolar_dia)
							total_item = parseInt(a.Total * dolar_dia)
						}else{
							precio_neto = parseInt(a.PrecioNeto)
							total_item = parseInt(a.Total)
							imp_especifico += parseInt(a.TotalImpuestos)
						}
						descripcion_item =""
						if(a.Producto != ""){
							desc_prod = a.Producto
						}else{
							desc_prod = a.EspecificacionComprador
						}
						$("#articulos").append('<tr>' +
								'<td>' + desc_prod + 
								'<input type="hidden" value="' + desc_prod + '" name="articulo[][descripcion]">' +
								'<input type="hidden" value="' + a.EspecificacionComprador + '" name="articulo[][descripcion_comprador]">' +
								'<input type="hidden" value="' + a.EspecificacionProveedor + '" name="articulo[][descripcion_proveedor]">' +'</td>' +
								'<td>' + a.EspecificacionComprador + '</td>' +
								'<td>' + a.EspecificacionProveedor + '</td>' +
								'<td><input type="number" value="' + a.Cantidad + '" class="required form-control  cant_a" placeholder="Cant." name="articulo[][cantidad]" ></td>' +
								'<td><input type="text"  value="' + puntitos(precio_neto) + '"  class="form-control required valor_a" placeholder="Valor"name="neto" ><input type="hidden"  value="' + precio_neto + '" name="articulo[][neto]" ></td>' +
								'<td><input value="' + total_item + '" type="hidden" name="articulo[][total]"> <input value="' + puntitos(total_item) + '" type="text" class="form-control " name="total" readonly></td>' +
								'<td><button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button></td>' +
										'</tr>')

						
					})

					if(tipo_moneda == "US Dollar"){
						$("#subtotal").val(puntitos(parseInt(v.TotalNeto * dolar_dia)))
						$("#subtotal_real").val(parseInt(v.TotalNeto * dolar_dia))
						$("#descuento").val(puntitos(parseInt(v.Descuentos * dolar_dia)))
						$("#descuento_real").val(parseInt(v.Descuentos * dolar_dia))
						$("#neto").val(puntitos(parseInt(v.TotalNeto * dolar_dia)))
						$("#neto_real").val(parseInt(v.TotalNeto * dolar_dia))
						$("#iva").val(puntitos(parseInt(v.Impuestos * dolar_dia)))
						$("#iva_real").val(parseInt(v.Impuestos * dolar_dia))

						$("#imp_especifico").val(imp_especifico)
						$("#imp_especifico_puntitos").val(puntitos(imp_especifico));

						$("#total_recepcion").val(puntitos(parseInt(v.Total * dolar_dia + imp_especifico)))
						$("#total_recepcion_real").val(parseInt(v.Total * dolar_dia + imp_especifico))

						$("#total_documento").val(puntitos(parseInt(v.Total * dolar_dia + imp_especifico)))
						$("#total_documento_real").val(parseInt(v.Total * dolar_dia + imp_especifico))
					}else{
						$("#subtotal").val(puntitos(v.TotalNeto))
						$("#subtotal_real").val(v.TotalNeto)
						$("#descuento").val(puntitos(v.Descuentos))
						$("#descuento_real").val(v.Descuentos)
						$("#neto").val(puntitos(v.TotalNeto - v.Descuentos))
						$("#neto_real").val(v.TotalNeto - v.Descuentos)
						$("#iva").val(puntitos(v.Impuestos))
						$("#iva_real").val(v.Impuestos)

						$("#imp_especifico").val(imp_especifico)
						$("#imp_especifico_puntitos").val(puntitos(imp_especifico));

						$("#total_recepcion").val(puntitos(v.Total + imp_especifico))
						$("#total_recepcion_real").val(v.Total + imp_especifico)

						$("#total_documento").val(puntitos(v.Total + imp_especifico))
						$("#total_documento_real").val(v.Total + imp_especifico)
					}
					
				})


			})


	})
</script>