

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Nueva Recepción</span></li>
		</ol>
		<h1>Nueva Recepción</h1>
	</div>
</div>


<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Adquisicion </h2>
			</header>
			<div class="main-box-body clearfix">
			<% if @id > 0   %>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Orden Compra</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= @adq.orden_compra %>">
						</div>
						<label for="inputPassword1" class="col-lg-2 control-label">Fecha</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= fecha(@adq.fecha) %>">
						</div>

						<label for="inputPassword1" class="col-lg-2 control-label">Monto</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= dinero(@adq.monto.to_i) %>">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Documento:</label>
						<div class="col-lg-2">
							<% if !@adq.orden_compra_doc.blank? %>
								<a class="btn btn-primary" target="_blank" href="<%= @adq.orden_compra_doc.archivo %>"><i class="fa fa-cloud-download"></i> Descargar</a>
							<% end %>
						</div>
						
					</div>
			<% end %>		

					

			
			</div>
		</div>
	</div>
</div>


<form action="<%= crear_recepcion_path %>" method="post" id="new_recepcion">

<%= render "recepcionar/articulos" %>

<%= render "recepcionar/datos_recepcion" %>


</form>


<script type="text/javascript">

// Funcion antes de enviarse
function showRequest2(formData, jqForm, options) { 

	var validator = $( "#new_recepcion" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.alert("RECEPCION ID: " + responseText.recepcion + "", function(){
     document.location.href = "/recepcionar/listado"
  	});

   
  }else
   alertify.error("Error, no se ha creado la recepcion, revise los campos ingresados");
}


	$(document).ready(function() {


		//Opciones jquery.forms
		    var options2 = { 
		        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_recepcion').ajaxSubmit(options2); 
		      })


		      $("#rut").Rut({
			      format: true,
			      on_error: function(){ 
			        alert("rut incorrecto");
			        $("#rut").val("");
			        $("#rut").focus();
			      },
			      on_success: function(){ 
			         $.getJSON("<%= get_proveedor_path %>", {rut : $("#rut").val()}, function(data) {
			            if(data.msj.msj == "si"){    
			              $("#nombre_proveedor").val(data.proveedor.nombre);
			              $("#id_proveedor").val(data.proveedor.id);
			              $("#datos_factura").show("slow");
			            }else{
			              $("#nuevo_proveedor").modal("show");
			              $("#nuevo_rut").val($("#rut").val());
			              $("#nuevo_nombre").focus();
			            }
			        });
			      }
			  })


    $('#nuevo_proveedor_form').submit(function (){
             $.post($(this).attr('action'), $(this).serialize(), null, "script");
             return false;
         });

    	$("#opi_recepcion").val("<%= @adq.orden.id %>")
    		url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?codigo=<%= @adq.orden_compra %>&ticket=9CBA3DC3-8095-4BD9-BD61-F37046C6F490'
			$.getJSON(url, function(data){
				$.each(data.Listado, function(index, v) { 
					$("#subtotal").val(puntitos(v.TotalNeto))
					$("#subtotal_real").val(v.TotalNeto)
					$("#descuento").val(puntitos(v.Descuentos))
					$("#descuento_real").val(v.Descuentos)
					$("#neto").val(puntitos(v.TotalNeto))
					$("#neto_real").val(v.TotalNeto)
					$("#iva").val(puntitos(v.Impuestos))
					$("#iva_real").val(v.Impuestos)
					$("#total_recepcion").val(puntitos(v.Total))
					$("#total_recepcion_real").val(v.Total)

					$("#total_documento").val(puntitos(v.Total))
					$("#total_documento_real").val(v.Total)


					$("#rut_proveedor").val(v.Proveedor.RutSucursal)
					$("#nombre_proveedor").val(v.Proveedor.Nombre)
					$("#oc_compra_recepcion").val(v.Codigo)


					$.each(v.Items.Listado, function(i, a) { 
						$("#articulos").append('<div style="padding-bottom: 42px;">' +
								'<div class="col-sm-5">' +
									'<input type="text" value="' + a.Producto + '" class="form-control required" placeholder="Descripcion"  name="articulo[][descripcion]">' +
								'</div>' +
								'<div class="col-sm-2">' +
									'<input type="text" value="' + a.Cantidad + '" class="required form-control  cant_a" placeholder="Cant." name="articulo[][cantidad]" onKeyPress="return istextKey(event)">' +
								'</div>' +
								'<div class="col-sm-2">' +
									'<div class="input-group">' +
                                        '<span class="input-group-addon">$</span>' +
                                        '<input type="text"  value="' + a.PrecioNeto + '" class="form-control required valor_a" placeholder="Valor"name="articulo[][neto]" >' +
                                    '</div>' +										
								'</div>' +
								'<div class="col-sm-2">' +
									'<div class="input-group">' +
                                        '<span class="input-group-addon">$</span>' +
                                        '<input  value="' + a.Total + '" type="text" class="form-control " size="5" name="total">' +
                                        '<input type="hidden" value="' + a.Total + '" name="articulo[][total]">' +
                                    '</div>' +
								'</div>' +
								'<div class="col-sm-1">' +
									'<button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>' +
								'</div' +
							'</div>')
					})
				})


			})


	})
</script>