<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Recepciones para pago</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          <% if not flash[:recepcion].nil? %>
            <p style="margin:5px;">
              <a href="<%= flash[:recepcion] %>" class="btn btn-warning" target="_blank"><i class="icon-file icon-white"></i> Ver PDF recepcion enviada</a>
            </p>
            <% end %>
        
<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th>OPI</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Establecimiento</th>
                <th class="text-center">Proveedor</th>
                <th class="text-center">Proveedor</th>
                <th>&nbsp;</th>
              

              </tr>
            </thead>
            <tbody>
              <% @recepciones.each do |o| %>
                <tr>
                  <td>
         
                      <%= o.id %>
               
                    
                  </td>
                  <td>
                  <a href="<%= ver_orden_path o.orden_id %>"  >
                      <%= o.orden_id %>
                    </a>
               
                  </td>
                  <td class="text-left">
                    <%= o.created_at.strftime('%d/%m/%Y') %>
                  </td>
                  <td class="text-left">
                    <%= o.usuario.departamento.establecimiento.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.proveedor.rut %>
                  </td>
                  <td class="text-left">
                    <%= o.proveedor.nombre %>
                  </td>



                  <td >

                    <a href="<%= ver_recepcion_path o.id %>" target="_blank" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver PDF imprimible">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    
                    <a href="<%= adq_recepcion_path o.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Gestionar">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
  

                  </td>
                  

                </tr>
              <% end %>
            </tbody>
          </table>




      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2 class="pull-left"></h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        <a href="<%= nueva_recepcion_path 0 %>" class="btn btn-primary">Nueva recepción en blanco</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>