<div class="col-lg-12">
  <div class="main-box">
    <header class="main-box-header clearfix">
      <h2>Bonos, Aguinaldos y/o Aportes <span></span></h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <div id="bono">
          <div style="margin-bottom:5px">
            <div class="form-inline" role="form">    
              <div class="form-group" >
                <input type="text" readonly="" class="form-control" size="25" placeholder="SUBV. PREFERENCIAL (SEP)" >
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text"  class="form-control required " value="<%= miles(@liq.sep.to_i) %>" size="7" placeholder="Monto" id="sep_puntitos"  >
                  <input type="hidden" name="liq[sep]" value="<%= @liq.sep.to_i %>" class="monto_bono_real" id="sep_real">
                </div>                    
              </div> 

              <div class="form-group">
                <div class="input-group">
                <input type="number" class="form-control required" style="width: 80px;" placeholder="% Establecimiento" value="10" id="sep_porcentaje_est" name="liq[sep_porcentaje_est]" value="<%= miles(@liq.sep_porcentaje_est.to_i) %>">
                <span class="input-group-addon">%</span>
                </div>                  
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" disabled="" class="form-control required" size="7" placeholder="Total Establecimiento" id="sep_est_puntitos" value="<%= miles(@liq.sep_est.to_i) %>">
                  <input type="hidden" id="sep_est_total" value="0" name="liq[sep_est]" value="<%= @liq.sep_est.to_i %>">
                </div>                    
              </div> 
              
            </div>
          </div>
          <div class="form-horizontal">
              <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">% Daem:</label>
                <div class="col-lg-10">

                      <div class="input-group">
                       
                        <input type="text"  name="liq[sep_porcentaje]" value="<%= miles(@liq.sep_porcentaje.to_i) %>"  class="form-control " value="10" size="20" id="sep_porcentaje">
                         <span class="input-group-addon">%</span>
                      </div>
              
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">Total DAEM:</label>
                <div class="col-lg-10">

                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control " value="<%= miles(@liq.sep_daem.to_i) %>" value="0" size="20" readonly=""  id="sep_daem_puntitos">
                        <input type="hidden" name="liq[sep_daem]" value="<%= @liq.sep_daem.to_i %>" id="sep_daem_total">
                      </div>
              
                </div>
              </div>
          </div>
            <hr />

          <% 
          bono = @liq.sep.to_i
          @liq.liq_bonos.each do |b| 
            bono += b.monto.to_i
            %>
          <div style="margin-bottom:5px">
                  <div class="form-inline" role="form">    
                    <div class="form-group"  >
                      <input type="text" class="form-control required" size="50" placeholder="Descripcion"  name="bono[][descripcion]" value="<%= b.descripcion %>"> 
                    </div>
                     <div class="form-group">
                       <div class="input-group"> 
                         <span class="input-group-addon">$</span>
                         <input type="text" class="form-control required monto_bono" size="7" onKeyPress="return isNumberKey(event)"  placeholder="Monto" value="<%= miles(b.monto.to_i) %>">
                         <input type="hidden" name="bono[][monto]" class="monto_bono_real" value="<%= b.monto %>">
                      </div>                    
                    </div>
                     <button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
           <% end %>
            
          </div>
          <div style="margin-bottom:5px" >
            <button type="button" class="btn btn-success btn-sm" id="agregar_bono"><i class="fa fa-plus"></i> Agregar</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">Total:</label>
        <div class="col-lg-10">
          <div class="form-inline" role="form">    
            <div class="form-group" >
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control " value="<%= miles(bono.to_i) %>" size="20" readonly="" name="solicitado" id="total_bono">
                <input type="hidden" name="solicitado" id="total_bono_real" value="<%= bono %>">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

    <script type="text/javascript">

  $(document).ready(function() {

    $("#agregar_bono").click(function() {
      $("#bono").append('<div style="margin-bottom:5px">' +
                  '<div class="form-inline" role="form">' +    
                    '<div class="form-group"  >' +
                      '<input type="text" class="form-control required" size="50" placeholder="Descripcion"  name="bono[][descripcion]"> ' +
                    '</div>' +
                    ' <div class="form-group">' +
                      ' <div class="input-group"> ' +
                        ' <span class="input-group-addon">$</span>' +
                        ' <input type="text" class="form-control required monto_bono" size="7" onKeyPress="return isNumberKey(event)"  placeholder="Monto" >' +
                         '<input type="hidden" name="bono[][monto]" class="monto_bono_real">' +
                      '</div>' +                    
                    '</div>' +
                    ' <button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>' +
                  '</div>' +
                '</div>' +
              '</div>')
    })
    
    $("#bono").on("click", "button.remove_line", function() {
      $(this).parent().remove();
    })

    $("#bono").on("change", "input.monto_bono", function(){
      $monto = $(this).val().replace(/\./g,'');
      $(this).parent().find("input.monto_bono_real").val($monto)
      $(this).val(puntitos($monto));
      recalcular_bono();
    })
    $("#sep_puntitos").change( function(){
      $monto = $(this).val().replace(/\./g,'');
      $("#sep_real").val($monto)
      $(this).val(puntitos($monto));
      recalcular_sep_daem();
      recalcular_bono();
    })

    $("#sep_porcentaje").change( function() {
      recalcular_sep_daem();
    })

    $("#sep_porcentaje_est").change( function() {
      recalcular_sep_daem();
    })

function recalcular_sep_daem() {
      porcentaje = parseInt($("#sep_porcentaje_est").val());
      cien = 100
      porcentaje = parseInt(porcentaje) / parseInt(cien);
      $monto = parseInt($("#sep_real").val());
      est = $monto * porcentaje
      est = parseInt(est)
      $("#sep_est_puntitos").val(puntitos(est));
      $("#sep_est_total").val(est);

      porcentaje_est = parseInt($("#sep_porcentaje").val()) / cien
      daem = est * porcentaje_est
      daem = parseInt(daem)
      $("#sep_daem_puntitos").val(puntitos(daem));
      $("#sep_daem_total").val(daem);
}
 function recalcular_bono() {
        // Los totales
        var neto = 0;
        var cantidad = 0;
        $("#bono").find("input.monto_bono_real").each(function(i, v) {
          neto += parseInt(v.value);
          cantidad++;
        })
        var total = neto
      //  neto = Math.round(total / 1.19)
       // iva = Math.round(neto * 0.19);
       total = parseInt(total)
       $("#total_bono").val(puntitos(total));
       $("#total_bono_real").val(total);

     }

   
   })
</script>