<div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Descuentos <span></span></h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <div id="descuentos">

              <% 
              descuento = 0
              @liq.liq_descuentos.each do |d| 
              descuento += d.monto.to_i

                %>
              <div style="margin-bottom:5px">
                  <div class="form-inline" role="form">   
                    <div class="form-group"  >
                      <input type="text" class="form-control required" size="50" placeholder="Descripcion" value="<%= d.descripcion %>"  name="descuento[][descripcion]"> 
                    </div>
                     <div class="form-group">
                       <div class="input-group"> 
                         <span class="input-group-addon">$</span>
                         <input type="text" class="form-control required monto_descuento" size="7" onKeyPress="return isNumberKey(event)"  placeholder="Monto" value="<%= miles(d.monto.to_i) %>"  >
                        <input type="hidden" name="descuento[][monto]" class="monto_descuento_real" value="<%= d.monto %>">
                      </div>                    
                    </div>
                     <button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
                <% end %>

              </div>
               
              <div style="margin-bottom:5px" >
                <button type="button" class="btn btn-success btn-xs" id="agregar_descuento"><i class="fa fa-plus"></i> Agregar</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Total:</label>
            <div class="col-lg-10">
              <div class="form-inline" role="form">    
                <div class="form-group" >
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control " size="20" readonly=""  id="total_descuento" value="<%= miles(descuento) %>">
                    <input type="hidden" name="solicitado" id="total_descuento_real" value="<%= descuento %>">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<script type="text/javascript">

  $(document).ready(function() {

    $("#agregar_descuento").click(function() {
      $("#descuentos").append('<div style="margin-bottom:5px">' +
                  '<div class="form-inline" role="form">' +    
                    '<div class="form-group"  >' +
                      '<input type="text" class="form-control required" size="50" placeholder="Descripcion"  name="descuento[][descripcion]"> ' +
                    '</div>' +
                    ' <div class="form-group">' +
                      ' <div class="input-group"> ' +
                        ' <span class="input-group-addon">$</span>' +
                        ' <input type="text" class="form-control required monto_descuento" size="7" onKeyPress="return isNumberKey(event)"  placeholder="Monto"  >' +
                        '<input type="hidden" name="descuento[][monto]" class="monto_descuento_real">' +
                      '</div>' +                    
                    '</div>' +
                    ' <button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>' +
                  '</div>' +
                '</div>' +
              '</div>')
    })
    
    $("#descuentos").on("click", "button.remove_line", function() {
      $(this).parent().remove();
    })


    $("#descuentos").on("change", "input.monto_descuento", function(){
      $monto = $(this).val().replace(/\./g,'');
      $(this).parent().find("input.monto_descuento_real").val($monto)
      $(this).val(puntitos($monto));
      
      recalcular_descuento();

    })

 function recalcular_descuento() {
        // Los totales
        var neto = 0;
        var cantidad = 0;
        $("#descuentos").find("input.monto_descuento_real").each(function(i, v) {
          neto += parseInt(v.value);
          cantidad++;
        })
        var total = neto
      //  neto = Math.round(total / 1.19)
       // iva = Math.round(neto * 0.19);
       total = parseInt(total)
       $("#total_descuento").val(puntitos(total));
       $("#total_descuento_real").val(total);
       calcular_total();
     }


   
   })
</script>