 <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Retenciones <span></span></h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <div id="retenciones">

             <% 
             retencion = 0
             @liq.liq_retencions.each do |r| 
              retencion += r.monto.to_i
              %>   

              <div style="margin-bottom:5px">
                  <div class="form-inline" role="form">    
                    <div class="form-group"  >
                      <input type="text" class="form-control required" size="50" placeholder="Descripcion"  name="retencion[][descripcion]" value="<%= r.descripcion %>"> 
                    </div>
                     <div class="form-group">
                       <div class="input-group"> 
                         <span class="input-group-addon">$</span>
                         <input type="text" class="form-control required monto_retencion" size="7" onKeyPress="return isNumberKey(event)"  placeholder="Monto" value="<%= miles(r.monto.to_i) %>" >
                        <input type="hidden" name="retencion[][monto]" class="monto_retencion_real" value="<%= r.monto %>">
                      </div>                    
                    </div>
                     <button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
              <% end %>

                
              </div>
              <div style="margin-bottom:5px" >
                <button type="button" class="btn btn-success btn-xs" id="agregar_retenciones"><i class="fa fa-plus"></i> Agregar</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Total:</label>
            <div class="col-lg-10">
              <div class="form-inline" role="form">    
                <div class="form-group" >
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control " value="<%= miles(retencion) %>" size="20" readonly="" name="solicitado" id="total_retencion">
                    <input type="hidden" name="solicitado" id="total_retencion_real" value="<%= retencion %>">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<script type="text/javascript">

  $(document).ready(function() {


    $("#agregar_retenciones").click(function() {
      $("#retenciones").append('<div style="margin-bottom:5px">' +
                  '<div class="form-inline" role="form">' +    
                    '<div class="form-group"  >' +
                      '<input type="text" class="form-control required" size="50" placeholder="Descripcion"  name="retencion[][descripcion]"> ' +
                    '</div>' +
                    ' <div class="form-group">' +
                      ' <div class="input-group"> ' +
                        ' <span class="input-group-addon">$</span>' +
                        ' <input type="text" class="form-control required monto_retencion" size="7" onKeyPress="return isNumberKey(event)"  placeholder="Monto" >' +
                        '<input type="hidden" name="retencion[][monto]" class="monto_retencion_real">' +
                      '</div>' +                    
                    '</div>' +
                    ' <button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>' +
                  '</div>' +
                '</div>' +
              '</div>')
    })
    
    $("#retenciones").on("click", "button.remove_line", function() {
      $(this).parent().remove();
    })


    $("#retenciones").on("change", "input.monto_retencion", function(){
      $monto = $(this).val().replace(/\./g,'');
      $(this).parent().find("input.monto_retencion_real").val($monto)
      $(this).val(puntitos($monto));

      recalcular_retencion();
    })

 function recalcular_retencion() {
        // Los totales
        var neto = 0;
        var cantidad = 0;
        $("#retenciones").find("input.monto_retencion_real").each(function(i, v) {
          neto += parseInt(v.value);
          cantidad++;
        })
        var total = neto
      //  neto = Math.round(total / 1.19)
       // iva = Math.round(neto * 0.19);
       total = parseInt(total)
       $("#total_retencion").val(puntitos(total));
       $("#total_retencion_real").val(total);
       calcular_total();
     }

   
   })
</script>