<h1>Asesores Subvencion</h1>
<% Subvencion.todos.each do |s| %>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left"><%= s.nombre %></h2>
      </header>
      <div class="main-box-body clearfix">
        
        
          <div class="form-horizontal form-label-left">
          <form method="post" action="<%= guarda_asesor_path %>">
            <div class="form-group">
              <label for="cod" class="control-label col-sm-2">Funcionario: </label>
              <div class="col-sm-6">
                <select class="form-control" name="sub[usuario_id]">
                		<option>Seleccione Nuevo Asesor <%= s.nombre %></option>
                	<% @funcionarios.each do |u| %>
                		<option value="<%= u.id %>"><%= u.apaterno.upcase %> <%= u.amaterno.upcase %> <%= u.nombre.upcase %></option>
                	<% end %>
                </select>
                <input type="hidden" name="sub[subvencion_id]" value="<%= s.id %>">
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Agregar</button>
              </div>
            </div>
            </form>
            <div class="form-group">
              <label for="cod" class="control-label col-sm-2">Vigentes: </label>
              <div class="col-sm-10">
                <table class="table" style="font-size: 11px;" >
                	<thead>
                		<th>Funcionario</th>
                		<th>Desde</th>
                		<th></th>
                	</thead>
                	<tbody>
                		<% @vigentes.all(:subvencion_id => s.id).each do |v| %>
                		<tr>
                			<td><%= v.usuario.apaterno.upcase %> <%= v.usuario.amaterno.upcase %> <%= v.usuario.nombre.upcase %></td>
                			<td><%= fecha(v.created_at) %></td>
                			<td>
                				<form method="post" action="<%= borra_asesor_path v.id %>">
                				<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-remove"></i> Quitar</button>
                				</form>
                			</td>
                		</tr>
                		<% end %>
                	</tbody>
                </table>
              </div>

            </div>

            

          </div>
        
      </div>
    </div>
  </div>
</div>
<% end %>




	


