

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#">Gestión de Subvenciones</a></li>
			<li class="active"><span>Inicio</span></li>
		</ol>
		<h1>Dashboard</h1>
	</div>
	  		<div class="form-group" >
									<select class="form-control" id="sel_establecimiento" <% if @usuario_actual.departamento.establecimiento_id != 1 %> disabled <% end %> onchange="location = this.value;">
								<% Establecimiento.todos.each do |e| %>
									<option value="<%= dashboard_path e.id %>" <% if @e.id == e.id %> selected <% end %> ><%= e.nombre %></option>
								<% end %>
								</select>
									</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Ubicaciones Ordenes</h2>

			</header>
			<div class="main-box-body clearfix">

				<div id="hero-bar" style="height: 250px;"></div>
			</div>
		</div>
	</div>
	<%= content_tag :div, "", id: "ordenes" %>
	<div class="col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Subvenciones totales ordenes</h2>

			</header>
			<div class="main-box-body clearfix">

				<div id="hero-donut" style="height: 250px;"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">


	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="main-box small-graph-box emerald-bg">
			<span class="value"><%= @ordenes_totales %></span>
			<span class="headline">Ordenes Totales</span>
			<div class="progress">
				<div style="width: 84%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
					<span class="sr-only">84% Complete</span>
				</div>
			</div>
			<span class="subinfo">
				<i class="fa fa-arrow-circle-o-down"></i> 9 Creadas este mes
			</span>
			<span class="subinfo">
				<i class="fa fa-globe"></i> 0 Creadas Hoy
			</span>	
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="main-box small-graph-box " style="background:#EA9E14!important;">
			<span class="value"><%= @ordenes_proceso %></span>
			<span class="headline">En Proceso</span>
			<div class="progress">
				<div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
					<span class="sr-only">100% Complete</span>
				</div>
			</div>
			<span class="subinfo">
				<i class="fa fa-arrow-circle-o-up"></i> 100% de el total
			</span>
			<span class="subinfo">
				<i class="fa fa-users"></i> 0 en Licitación
			</span>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12 hidden-sm">
		<div class="main-box small-graph-box green-bg">
			<span class="value">0</span>
			<span class="headline">Completadas </span>
			<div class="progress">
				<div style="width: 0%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="42" role="progressbar" class="progress-bar">
					<span class="sr-only">0% Complete</span>
				</div>
			</div>
			<span class="subinfo">
				<i class="fa fa-arrow-circle-o-up"></i> 0% de el total 
			</span>
			<span class="subinfo">
				<i class="fa fa-remove"></i> 0 Rechazadas
			</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Ingresos Gastos</h2>

			</header>
			<div class="main-box-body clearfix">
		
				<div id="hero-graph" style="height: 250px;"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Gasto Subvenciones</h2>

			</header>
			<div class="main-box-body clearfix">
				<div class="form-group" >
									<select class="form-control">
									<%= Subvencion.todos.each do |e| %>
										<option value="<%= e.id %>"><%= e.nombre %></option>
									<% end %>
									</select>
									</div>
				<div id="hero-area" style="height: 250px;"></div>
			</div>
		</div>
	</div>
</div>




<div class="row">
	
</div>

<script type="text/javascript">
	$(document).ready(function() {

		
  Morris.Bar({
    element: 'hero-bar',
    data: [
      {device: 'Director', geekbench: <%= @ordenes_director %>},
      {device: 'Director DAEM', geekbench: <%= @ordenes_daem %>},
      {device: 'En consulta', geekbench: <%= @ordenes_consulta %>},
      {device: 'Finanzas', geekbench: <%= @ordenes_finanzas %>},
      {device: 'Adquisiciones', geekbench: <%= @ordenes_adquisiciones %>},
    ],
    xkey: 'device',
    ykeys: ['geekbench'],
    labels: ['Total'],
    barRatio: 0.4,
    xLabelAngle: 35,
    hideHover: 'auto'
  });

  Morris.Donut({
    element: 'hero-donut',
    data: $("#dona_subv").data("ordenes"),
    formatter: function (y) { return y + "%" }
  });

  // data stolen from http://howmanyleft.co.uk/vehicle/jaguar_'e'_type
  var tax_data = [
       {"period": "2015-03", "Ingreso": 13000000, "Gasto": 09000000},
       {"period": "2015-04", "Ingreso": 15000000, "Gasto": 16000000},
       {"period": "2015-05", "Ingreso": 21000000, "Gasto": 20000000},
       {"period": "2015-06", "Ingreso": 13000000, "Gasto": 10000000},

  ];
		  Morris.Line({
		    element: 'hero-graph',
		    data: tax_data,
		    xkey: 'period',
		    ykeys: ['Ingreso', 'Gasto'],
		    labels: ['Ingreso', 'Gasto']
		  });




  Morris.Area({
    element: 'hero-area',
    data: [
      {period: '2015-03', Presupuesto: 250000, Proceso: 50000, Gastado: 0},
      {period: '2015-04', Presupuesto: 280000, Proceso: 100000, Gastado: 25000},
      {period: '2015-05', Presupuesto: 300000, Proceso: 150000, Gastado: 60000},
      {period: '2015-06', Presupuesto: 150000, Proceso: 130000, Gastado: 200000},
    ],
    xkey: 'period',
    ykeys: ['Presupuesto', 'Proceso', 'Gastado'],
    labels: ['Presupuesto', 'En Proceso', 'Gastado'],
    pointSize: 2,
    hideHover: 'auto'
  });



	})
</script>