
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix" style="overflow: scroll;">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Todas las ordenes, Periodo: <%= session[:periodo].anio %></h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        
        
<table class="table table-striped" id="datatable" data-source="<%= general_url(format: "json") %>">
            <thead>
              <tr>
                <th>ID</th>
                <th>Recep.</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Origen</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">estado</th>
                <th class="text-center">Creada</th>
                <th class="text-center">Ubicación</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              
            
            </tbody>
          </table>


      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
   $('#datatable').dataTable({
          "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
          "sPaginationType": "full_numbers",
          "aaSorting": [[0,'desc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": $('#datatable').data('source')
      });



  $('[data-toggle="tooltip"]').tooltip()

})
</script>