<form action="<%= actualiza_pass_path %>" method="post">
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Cambia Password </h2>
			</header>
			<div class="main-box-body clearfix">

					<div class="form-group">
						<label class="col-lg-2 control-label">Actual</label>
						<div class="col-lg-10">
							<input type="password" name="actual" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Nueva</label>
						<div class="col-lg-10">
							<input type="password" name="nueva" class="form-control required" id="nueva">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Verifica</label>
						<div class="col-lg-10">
							<input type="password" name="verifica" class="form-control required" id="verifica">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
			
			</div>
		</div>
	</div>
</div>
</form>