<form action="<%= actualiza_perfil_path %>" method="post">
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Perfil de usuario </h2>
			</header>
			<div class="main-box-body clearfix">

					<div class="form-group">
						<label class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="email" value="<%= @usuario_actual.email %>" name="usuario[email]" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Rut</label>
						<div class="col-lg-10">
							<input type="text" value="<%= @usuario_actual.rut %>" name="usuario[rut]" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Nombres</label>
						<div class="col-lg-10">
							<input type="text" value="<%= @usuario_actual.nombre %>" name="usuario[nombre]" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">A. Paterno</label>
						<div class="col-lg-10">
							<input type="text" value="<%= @usuario_actual.apaterno %>" name="usuario[apaterno]" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">A. Materno</label>
						<div class="col-lg-10">
							<input type="text" value="<%= @usuario_actual.amaterno %>" name="usuario[amaterno]" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
			
			</div>
		</div>
	</div>
</div>
</form>