

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Pago Recepción</span></li>
		</ol>
		<h1>Recepción N° <%= @r.id %></h1>
	</div>
</div>


<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Adquisicion </h2>
			</header>
			<div class="main-box-body clearfix">
			 <% if !@r.orden.blank? %>
			<% @r.orden.adquisicions.each do |a| %>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Orden Compra</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= a.orden_compra %>">
						</div>
						<label for="inputPassword1" class="col-lg-2 control-label">Fecha</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= fecha(a.fecha) %>">
						</div>

						<label for="inputPassword1" class="col-lg-2 control-label">Monto</label>
						<div class="col-lg-2">
								<input type="text" class="form-control" value="<%= dinero(a.monto.to_i) %>">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Documento:</label>
						<div class="col-lg-2">
							<% if !a.orden_compra_doc.blank? %>
								<a class="btn btn-primary" target="_blank" href="<%= a.orden_compra_doc.archivo %>"><i class="fa fa-cloud-download"></i> Descargar</a>
							<% end %>
						</div>
						
					</div>
			<% end %>		
			<% end %>		

					

			
			</div>
		</div>
	</div>
</div>

<form action="<%= guarda_cheque_path %>" method="post" id="new_recepcion">

<%= render "pagar/articulos" %>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Recepción </h2>
			</header>
			<div class="main-box-body clearfix">

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Tipo documento</label>
						<div class="col-lg-10">
							<select class="form-control required" name="recepcion[tipo_documento]">
								<option value="">Tipo Documento</option>
								<option <% if @r.tipo_documento == "FACTURA EXENTA ELECTRONICA" %> selected <% end %> value="FACTURA EXENTA ELECTRONICA">FACTURA EXENTA ELECTRONICA</option>
								<option <% if @r.tipo_documento == "FACTURA ELECTRONICA" %> selected <% end %> value="FACTURA ELECTRONICA">FACTURA ELECTRONICA</option>
								<option <% if @r.tipo_documento == "FACTURA EXENTA" %> selected <% end %> value="FACTURA EXENTA">FACTURA EXENTA </option>
								<option <% if @r.tipo_documento == "FACTURA" %> selected <% end %> value="FACTURA">FACTURA </option>
								<option <% if @r.tipo_documento == "BOLETA ELECTRONICA" %> selected <% end %> value="BOLETA ELECTRONICA">BOLETA ELECTRONICA</option>
								<option <% if @r.tipo_documento == "BOLETA HONORARIO ELECTRONICA" %> selected <% end %> value="BOLETA HONORARIO ELECTRONICA">BOLETA HONORARIO ELECTRONICA</option>
								<option <% if @r.tipo_documento == "BOLETA" %> selected <% end %> value="BOLETA">BOLETA</option>
								<option <% if @r.tipo_documento == "OTRO DOCUMENTO EXENTO" %> selected <% end %> value="OTRO DOCUMENTO EXENTO">OTRO DOCUMENTO EXENTO</option>
								<option <% if @r.tipo_documento == "GUIA" %> selected <% end %> value="GUIA">GUIA</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Rut Proveedor</label>
						<div class="col-sm-4">
							<input type="text" value="<%= @r.proveedor.rut %>" id="rut" class="form-control required" >
							<input type="hidden" value="<%= @r.proveedor_id %>" id="id_proveedor" name="recepcion[proveedor_id]" >
						</div>
						<div class="col-sm-6">
							<input type="text" value="<%= @r.proveedor.nombre %>" readonly="" id="nombre_proveedor"  class="form-control" >
						</div>
					</div>
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Orden Compra</label>
						<div class="col-lg-10">
<input type="text" placeholder="Ej. '2788-999-SE99'" value="<%= @r.orden_compra %>" name="recepcion[orden_compra]" class="form-control" >
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">OPI</label>
						<div class="col-lg-10">
							
							<input type="text" value="<%= @r.orden_id %>" name="orden" class="form-control required" >
							

						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">N° Doc</label>
						<div class="col-lg-10">
							<input type="text"  value="<%= @r.num_factura %>" name="recepcion[num_factura]" class="form-control required" >
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Fecha Doc</label>
						<div class="col-lg-10">
							<input type="date"  value="<%= @r.fecha_factura %>" name="recepcion[fecha_factura]" class="form-control required" >
						</div>
					</div>
			
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Observación</label>
						<div class="col-lg-10">
							<textarea rows="4" readonly="" maxlength="500" class="form-control " name="recepcion[observacion]" ><%= @r.observacion %></textarea>   
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Observación Adq</label>
						<div class="col-lg-10">
							<textarea rows="4" readonly=""  maxlength="500" class="form-control " name="recepcion[observacion_adq]" ><%= @r.observacion_adq %></textarea>   
						</div>
					</div>

			
			</div>
		</div>
	</div>
</div>



<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Pago </h2>
			</header>
			<div class="main-box-body clearfix">

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">N° Cheque</label>
						<div class="col-lg-10">
							<input type="text"  value="<%= @r.num_cheque %>" name="recepcion[num_cheque]" class="form-control required" >
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Fecha Pago</label>
						<div class="col-lg-10">
							<input type="date"  value="<%= @r.fecha_pago %>" name="recepcion[fecha_pago]" class="form-control required" >
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">N° Decreto</label>
						<div class="col-lg-10">
							<input type="text"  value="<%= @r.dec_pago %>" name="recepcion[dec_pago]" class="form-control required" >
						</div>
					</div>


					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-primary" id="crear_btn">Guardar</button>
							<%= link_to 'Volver', :back, :class => "btn btn-default" %>
						</div>
					</div>

					

			
			</div>
		</div>
	</div>
</div>
</form>


<script type="text/javascript">


	$(document).ready(function() {




		      $("#rut").Rut({
			      format: true,
			      on_error: function(){ 
			        alert("rut incorrecto");
			        $("#rut").val("");
			        $("#rut").focus();
			      },
			      on_success: function(){ 
			         $.getJSON("<%= get_proveedor_path %>", {rut : $("#rut").val()}, function(data) {
			            if(data.msj.msj == "si"){    
			              $("#nombre_proveedor").val(data.proveedor.nombre);
			              $("#id_proveedor").val(data.proveedor.id);
			              $("#datos_factura").show("slow");
			            }else{
			              $("#nuevo_proveedor").modal("show");
			              $("#nuevo_rut").val($("#rut").val());
			              $("#nuevo_nombre").focus();
			            }
			        });
			      }
			  })


    $('#nuevo_proveedor_form').submit(function (){
             $.post($(this).attr('action'), $(this).serialize(), null, "script");
             return false;
         });



	})
</script>