<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Origen</th>
                <th class="text-center">Subvención</th>
                <th class="text-center">Creada</th>
                <th class="text-center">Estado</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @ordenes.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                  <td class="text-left">
                    <%= o.titulo %>
                  </td>
                  <td class="text-left">
                    <%= o.departamento.nombre %> - <%= o.departamento.establecimiento.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.created_at.strftime('%d/%m/%Y %H:%M') %>
                  </td>
                  <td class="text-left">
                    <% if o.estado == "Rechazada" %>
                      <span class="label label-danger"><%= o.estado %></span>
                    <% elsif o.estado == "En consulta" %>
                      <span class="label label-info"><%= o.estado %></span>
                      <% else %>
                      <span class="label label-primary"><%= o.estado %></span>

                      <% end %>
                  </td>
                  <td style="width: 15%;">

                    <a href="<%= gestionar_opi_path o.id %>" class="table-link" data-toggle="tooltip" data-placement="top" title="Gestionar Orden">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
               
                                

                  </td>      
                </tr>
              <% end %>
            </tbody>
          </table>