<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Validar Asesor Subvencion</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        <%= render "tabla" %>
          
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>