<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Bandejas</span></li>
		</ol>
		<h1>Bandejas OPI</h1>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Nueva Bandeja <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= guarda_bandeja_path %>" method="post" class="validaf">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Nombre</label>
						<div class="col-lg-8">
							<input type="text" name="bandeja[nombre]" class="form-control">
						</div>
						<div class="col-lg-2">
						<button type="submit"class="btn btn-primary">Guardar bandeja</button>
					</div>
					</div>										
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Bandejas Creadas <span></span></h2>
			</header>
			<div class="main-box-body clearfix">

				<table class="table">
					<thead>
						<th>Nombre</th>
						<th>Usuarios</th>
						<th>Gestionar</th>
					</thead>
					<tbody>
						<% Bandeja.todas.each do |b| %>
						<tr>
							<td><%= b.nombre %></td>
							<td>
							<% if b.es_asesor || b.es_encargado %>
							 <li>Gestionar subvención especifica</li>

							<% else %>
							

								<% b.bandeja_usuarios.each do |u| %>
								<li><%= u.usuario.nombre.upcase %> <%= u.usuario.apaterno.upcase %> <%= u.usuario.amaterno.upcase %></li>
								<% end %>	
							
							<% end %>
							</td>
							<td>
							<% if b.es_asesor %>
								<a href="<%= asesores_subvencion_path %>" class="btn btn-default btn-sm">Gestionar</a>

							<% elsif b.es_encargado %>
								<a href="<%= encargados_subvencion_path %>" class="btn btn-default btn-sm">Gestionar</a>

							<% else %>
								<a href="<%= ver_bandeja_path b.id %>" class="btn btn-default btn-sm">Gestionar</a>
							<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		

	$(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });
	

	})
</script>
