<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><span><a href="<%= bandejas_path %>">Bandejas</a></span></li>
			<li class="active"><span>Ver</span></li>
		</ol>
		<h1>Bandejas OPI</h1>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Agregar Usuario bandeja: <%= @b.nombre %> <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= guarda_usuario_bandeja_path @b.id %>" method="post" class="validaf">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Agregar a:</label>
						<div class="col-lg-8">
							<select class="form-control" name="usuario[usuario_id]">
			                		<option>Seleccione Usuario</option>
			                	<% Usuario.daem.each do |u| %>
			                		<option value="<%= u.id %>"><%= u.apaterno.upcase %> <%= u.amaterno.upcase %> <%= u.nombre.upcase %></option>
			                	<% end %>
			                </select>
						</div>
						<div class="col-lg-2">
						<button type="submit"class="btn btn-primary">Agregar Usuario</button>
					</div>
					</div>										
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Usuario Bandeja <span></span></h2>
			</header>
			<div class="main-box-body clearfix">

				<table class="table">
					<thead>
						<th>Usuario</th>
						<th>Departamento</th>
						<th></th>
					</thead>
					<tbody>
						<% @b.bandeja_usuarios.each do |b| %>
						<tr>
							<td><%= b.usuario.nombre.upcase %> <%= b.usuario.apaterno.upcase %> <%= b.usuario.amaterno.upcase %></td>
							<td><%= b.usuario.departamento.nombre %></td>
							<td>
							<form method="post" action="<%= elimina_usuario_bandeja_path @b.id %>">
							<button type="submit" class="btn btn-default"><i class="fa fa-remove"></i> Quitar</button>
							<input type="hidden" name="usuario_id" value="<%= b.usuario_id %>">
							</form></td>
						</tr>
						<% end %> 	 	 	
					</tbody>
				</table>	
		
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		

	$(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });
	

	})
</script>
