<div class="col-sm-12">
	<div class="main-box">
		<header class="main-box-header clearfix">
			<h2><span>Accion:</span></h2>
		</header>
		<div class="main-box-body clearfix">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="rut_sugerido" class="col-sm-2 control-label">Acción</label>
					<div class="col-sm-10">
						<select class="form-control required" id="sl_accion" name="accion">
							<option value="">Seleccione</option>
							<% if @solicitud.estado == "Enviada" %>
							<option value="Aprobada">Aprobar</option>
							<option value="Rechazada">Rechazar</option>
							<option value="Devuelta">Devolver</option>
							<% end %>
							<% if @solicitud.estado == "Devuelta" %>
								<option value="Enviada">Reenviar</option>
								<option value="Eliminada">Eliminar</option>
							<% end %>
						</select>
					</div>
					
				</div>
				<div class="form-group">
					<label for="rut_sugerido" class="col-sm-2 control-label">Comentario</label>
					<div class="col-sm-10">
						<input type="text" name="comentario" id="comentario" class="form-control required" value="">
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</div>