<div class="col-lg-12 form-horizontal">
	<div class="main-box">
		<header class="main-box-header clearfix">
			<h2>Documentos Adjuntos</h2>
		</header>
		<div class="main-box-body clearfix">
		 	<form accept-charset="UTF-8" action="<%= guarda_doc_solicitud_path 1 %>" class="new_doc" id="new_doc" method="post" enctype="multipart/form-data">

            <div class="form-group">
				<label for="inputPassword1" class="col-lg-2 control-label">Descripcion Doc.</label>
				<div class="col-lg-10">
					<input type="text" maxlength="200"  class="form-control required " name="doc[name]" >
				</div>
			</div>

			<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Archivo</label>
					<div class="col-lg-10">
						<input type="file" name="doc[archivo]" class="required form-control input-transparent">  
					</div>
				</div>

			<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label"></label>
					<div class="col-lg-10">
						<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-upload"></i> Subir</button>
					</div>
				</div>
		</form>
				<div class="form-group">
				
					<div class="col-lg-12">
						<table id="t_doc" class="table" role="grid" aria-describedby="datatable-table_info">
							<thead>
								<th>Fecha</th>
								<th>Documento</th>
								<th>Subido por</th>
								<th>Enlace</th>
							</thead>
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>

		
			
			
		
		</div>
	</div>
</div>

<script type="text/javascript">


// pre-submit callback 
function showRequestAdjunto(formData, jqForm, options) { 

	var validator = $( "#new_doc" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}
      
     
} 
 
// post-submit callback 
function showResponseAdjunto(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){

      $("table#t_doc tbody").append("<tr>" +
        "<td>" + responseText.fecha + "</td>" +
        "<td>" + responseText.name + "</td>" +
        "<td>" + responseText.por + "</td>" +
        "<td>" +
          "<a href='" + responseText.url + "' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
          "<input type='hidden' name='id_doc' value='" + responseText.id + "'> <button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</button>" +
          "</td>" +
      "</tr>");
      $("#doc_orden").append("<input type='hidden' name='doc_guardar[][id]' value='" + responseText.id + "'>");	
      alertify.success("Se ha guardado el documento exitosamente");
  
  }
}

$(document).ready(function() {
	$("table#t_doc tbody").on("click", "button.borra_doc", function(){
		$id = $(this).parent().find("input[name^='id_doc']").val()
		$("#doc_orden").append("<input type='hidden' name='doc_borrar[][id]' value='" + $id + "'>");		
		$(this).parent().parent().remove();

	})

    var optionsAdjunto = { 
        beforeSubmit:  showRequestAdjunto,  // pre-submit callback 
        success:       showResponseAdjunto,  // post-submit callback 
        dataType:  'json'
    }; 
 
    // bind to the form's submit event 
    $('#new_doc').submit(function() { 
        $(this).ajaxSubmit(optionsAdjunto); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

  });
  
  </script>  