<div id="div_contrato">
<div class="col-sm-12" id="a_contratar" style="display: none">
	<div class="main-box">
		<header class="main-box-header clearfix">
			<h2><span>Funcionario a contratar:</span></h2>
		</header>
		<div class="main-box-body clearfix">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="rut_reemplazo" class="col-sm-2 control-label">Rut</label>
					<div class="col-sm-3">
						<input type="text" placeholder="Ej. 12.345.678-9" maxlength="12" id="rut_contrato" class="form-control required">	
						<input type="hidden"  id="id_contrato" name="id_contrato">	
					</div>
					<label for="nombre_contrato" class="col-sm-1 control-label">Nombres</label>
					<div class="col-sm-5">
						<input type="text" readonly="" value="" id="nombre_contrato" class="form-control">
					</div>
					<div class="col-sm-1" id="div_ver_contrato" style="display: none"><a id="btn_ver_contrato" class="btn btn-primary">Ver</a></div>
				</div>
				<div class="form-group">
					<label for="horas_contrato" class="col-lg-2 control-label">Horas</label>
					<div class="col-lg-4">
						<input type="number"  value="" name="horas_contrato" id="horas_contrato" class="form-control required" >
					</div>
				</div>
				<div class="form-group">
					<label for="fecha_contrato" class="col-lg-2 control-label">Fechas</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fecha_contrato" id="fecha_contrato">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<script type="text/javascript">
	

	$(document).ready(function() {

		$("#div_contrato").on("change", "input#rut_contrato", function() {
			LimpiaModal();
			$rut = $(this).val();
			$.getJSON("<%= get_docente_path %>", { rut: $rut }, function(data){

				if(data == null){
					$("#nombres").focus();
					$('#modal_dotacion').modal('toggle');
					$("#titulo_modal_dotacion").html("Contratar");
					$("#alerta_no_existe").show("slow");
					$("#rut").val($rut);
					
				}else{
					$("#div_ver_contrato").show();
					$("#nombre_contrato").val(data.nombre + " " + data.apaterno + " " + data.amaterno);
					$("#id_contrato").val(data.id)
				}

			})
		})

		$("#btn_ver_contrato").click(function() {
			LimpiaModal();
			$rut = $("#rut_contrato").val();
			$.getJSON("<%= get_docente_path %>", { rut: $rut }, function(data){

				if(data != null){
					console.log("ver contrato")
					$('#modal_dotacion').modal('toggle');
					$("#titulo_modal_dotacion").html("Contratar");
					DatosModal(data);
				}

			})

		})
	})
</script>