<div class="modal fade in" id="modal_dotacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Datos Docente <span id="titulo_modal_dotacion"></span></h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger fade in" id="alerta_no_existe" style="display: none">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<i class="fa fa-times-circle fa-fw fa-lg"></i>
						<strong>No encontrado!</strong> El rut ingresado no fue encontrado, favor ingrese los datos manualmente
					</div>
					<form role="form" action="<%= actualizar_docente_path %>" method="post" id="actualizar_docente">
						<div class="col-sm-6">
							<div class="form-group">
							<label for="rut">Rut</label>
								<input type="text" placeholder="Ej. 12.345.678-9" maxlength="12" value="" name="rut" id="rut" class="form-control required ">
							</div>
							<div class="form-group">
								<label for="apaterno">A. Paterno</label>
								<input type="text" placeholder="" tabindex="11" value="" name="docente[apaterno]" id="apaterno" class="form-control required">
							</div>
							<div class="form-group">
								<label for="nacimiento" class=" control-label">Nacimiento</label>
								<input type="date" placeholder=""  tabindex="13" value="" name="docente[nacimiento]" id="nacimiento" class="form-control required">
							</div>

							<div class="form-group">
								<label for="estado_civil" class="control-label">Estado Civil</label>
								<select  class="form-control required" name="docente[estado_civil]"  tabindex="15" id="estado_civil">
										<option value="">Seleccione...</option>
										<option value="M">SOLTERO</option>
										<option value="F">CASADO</option>
										<option value="F">DIVORCIADO</option>
										<option value="F">VIUDO</option>
									</select>
							</div>
							<div class="form-group">
								<label for="telefono" class="control-label">Telefono</label>
								<input type="text" placeholder="" value="" name="docente[telefono]"  tabindex="17" id="telefono" class="form-control required">
							</div>
							<div class="form-group">
								<label for="cargo_modal_id" class="control-label">Cargo</label>
									<select class="form-control required" name="docente[docente_cargo_id]"  tabindex="19" id="cargo_modal_id">
										<option value="">Seleccione...</option>
										<% DocenteCargo.vigentes.each do |d| %>
											<option value="<%= d.id %>"><%= d.nombre %></option>
										<% end %>
									</select>
							</div>
								

						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nombres">Nombre</label>
								<input type="text" value="" name="docente[nombre]"  tabindex="10" id="nombres" class="form-control required ">
							</div>
							<div class="form-group">
								<label for="amaterno">A. Materno</label>
								<input type="text" placeholder="" value=""  tabindex="12" name="docente[amaterno]" id="amaterno" class="form-control required">
							</div>

							<div class="form-group">
								<label for="sexo" class="control-label">Sexo</label>
								<select  class="form-control required" name="docente[sexo]"  tabindex="14" id="sexo">
										<option value="">Seleccione...</option>
										<option value="M">MASCULINO</option>
										<option value="F">FEMENINO</option>
									</select>
							</div>

							<div class="form-group">
								<label for="nacionalidad" class="control-label">Nacionalidad</label>
								<input type="text" placeholder="" value="" name="docente[nacionalidad]"  tabindex="16" id="nacionalidad" class="form-control required">
							</div>

							<div class="form-group">
								<label for="email" class="control-label">Email</label>
								<input type="email" placeholder="" value="" name="docente[email]"  tabindex="18" id="email" class="form-control">
							</div>
							<div class="form-group">
								<label for="docente_tipo_modal" class="control-label">Tipo Funcionario</label>
									<select  class="form-control required" id="docente_tipo_modal"  tabindex="20" name="docente[docente_tipo_id]">
										<option value="">Seleccione...</option>
										<% DocenteTipo.vigentes.each do |d| %>
											<option value="<%= d.id %>"><%= d.nombre %></option>
										<% end %>
									</select>
							</div>
					
						

						</div>
						<div class="col-sm-12">
							<div class="form-group">	
								<label for="profesion" class="control-label">Profesión - Ocupación</label>
								<input type="text" placeholder="" value="" name="docente[profesion]"  tabindex="21" id="profesion" class="form-control">
							</div>
							<div class="form-group">						
								<label for="direccion" class="control-label">Dirección</label>
								<input type="text" placeholder="" value="" name="docente[direccion]"  tabindex="22" id="direccion" class="form-control">
							</div>

						</div>

						
						
					</form>
				</div>
				<div class="modal-footer" style="    border: 0;"  >
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btn_actualiza_docente">Guardar Cambios</button>
				</div>
			</div>
		</div>
	</div>



<script type="text/javascript">


function showRequestDotacion(formData, jqForm, options) { 

	$("#btn_actualiza_docente").prop('disabled', true);
	$("#btn_actualiza_docente").html('Enviando...');
	var validator = $( "#actualizar_docente" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#btn_actualiza_docente").prop('disabled', false);
		$("#btn_actualiza_docente").html('Guardar Cambios');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponseDotacion(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha actualizado al docente exitosamente", function(){
     	$('#modal_dotacion').modal('toggle');
     	LimpiaModal();
     	if($("#titulo_modal_dotacion").text() == "Reemplazo"){
     		$("#div_ver_remplazo").show();
			$("#nombre_reemplazo").val(responseText.docente.nombre + " " + responseText.docente.apaterno + " " + responseText.docente.amaterno);
			$("#rut_reemplazo").val(responseText.docente.rut + "-" + responseText.docente.dv);
			$("#id_reemplazo").val(responseText.id);
			console.log("reemplazo")
     	}else if($("#titulo_modal_dotacion").text() == "Sugerido"){
     		$("#div_ver_sugerido").show();
			$("#nombre_sugerido").val(responseText.docente.nombre + " " + responseText.docente.apaterno + " " + responseText.docente.amaterno);
			$("#rut_sugerido").val(responseText.docente.rut + "-" + responseText.docente.dv);
			$("#id_sugerido").val(responseText.id);
			console.log("sugerido")

     	}else{
     		$("#div_ver_contrato").show();
			$("#nombre_contrato").val(responseText.docente.nombre + " " + responseText.docente.apaterno + " " + responseText.docente.amaterno);
			$("#rut_contrato").val(responseText.docente.rut + "-" + responseText.docente.dv);
			$("#id_contrato").val(responseText.id);
			console.log("contrato")
     	}
     	$("#btn_actualiza_docente").prop('disabled', false);
		$("#btn_actualiza_docente").html('Guardar Cambios');	
  	});

   
  }else{
	  $("#btn_actualiza_docente").prop('disabled', false);
	  $("#btn_actualiza_docente").html('Guardar Cambios');
	   alertify.error(responseText.estado);
		}
}


  $(document).ready(function() {


  	 //Opciones jquery.forms
	var option_dotacion = { 
		beforeSubmit:  showRequestDotacion,  // Funcion a ejecutar antes de enviarse
		success:       showResponseDotacion,  //Funcion a ejecutar despues de enviarse
		dataType:  'json' //tipo de dato a devolver
	}; 


      $("#btn_actualiza_docente").click(function() {
	      $('#actualizar_docente').ajaxSubmit(option_dotacion); 
      })        

  })
</script>