<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Movimientos  </h2>
			</header>
			<div class="main-box-body clearfix">
				
				<table class="table">
					<thead>
						<th>#</th>
						<th>Fecha</th>
						<th>Departamento</th>
						<th>Usuario</th>
						<th>Descripción</th>
						<th>Estado</th>
						<th>Comentario</th>
					</thead>
					<tbody>
						<% @solicitud.docente_solicitud_movimientos.each_with_index do |m, x| %>
						<tr>
							<td><%= x + 1 %></td>
							<td><%= m.created_at.strftime('%d/%m/%Y %H:%M') %></td>
							<td><%= m.departamento.nombre %> - <%= m.departamento.establecimiento.nombre %></td>
							<td><%= m.usuario.nombre %> <%= m.usuario.apaterno %></td>
							<td><%= m.descripcion %></td>
							<td><%= m.estado %></td>
							<td><%= m.comentario %></td>
						</tr>
						<% end %>
					</tbody>
				</table>

					
			
			</div>
		</div>
	</div>
</div>