<div class="col-sm-12">
	<div class="main-box">
		<header class="main-box-header clearfix">
			<h2><span>Funcionario a reemplazar:</span></h2>
		</header>
		<div class="main-box-body clearfix">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="rut_reemplazo" class="col-sm-2 control-label">Rut</label>
					<div class="col-sm-3">
						<input type="text" placeholder="Ej. 12.345.678-9" maxlength="12" id="rut_reemplazo" class="form-control ">	
						<input type="hidden"  id="id_reemplazo" name="id_reemplazo">	
					</div>
					<label for="nombre_reemplazo" class="col-sm-1 control-label">Nombres</label>
					<div class="col-sm-5">
						<input type="text" readonly="" value="" id="nombre_reemplazo" class="form-control">
					</div>
					<div class="col-sm-1" id="div_ver_remplazo" style="display: none"><a id="btn_ver_remplazo" class="btn btn-primary">Ver</a></div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	

	$(document).ready(function() {

		$("#rut_reemplazo").change(function() {
			LimpiaModal();
			$rut = $(this).val();
			$.getJSON("<%= get_docente_path %>", { rut: $rut }, function(data){

				if(data == null){
					$("#nombres").focus();
					$('#modal_dotacion').modal('toggle');
					$("#titulo_modal_dotacion").html("Reemplazo");
					$("#alerta_no_existe").show("slow");
					$("#rut").val($rut);
					
				}else{
					$("#div_ver_remplazo").show();
					$("#nombre_reemplazo").val(data.nombre + " " + data.apaterno + " " + data.amaterno);
					$("#id_reemplazo").val(data.id)
				}

			})
		})

		$("#btn_ver_remplazo").click(function() {
			LimpiaModal();
			$rut = $("#rut_reemplazo").val();
			$.getJSON("<%= get_docente_path %>", { rut: $rut }, function(data){

				if(data != null){
					console.log("ver reemplazo")
					$('#modal_dotacion').modal('toggle');
					$("#titulo_modal_dotacion").html("Reemplazo");
					DatosModal(data);
				}

			})

		})
	})
</script>