<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Solicitud Dotación</h2>
			</header>
			<div class="main-box-body clearfix">
					<div class="form-group">
	                    <label for="sl_est" class="col-lg-2 control-label">Establecimiento:</label>
	                    <div class="col-lg-10">
	                    	<% if @usuario_actual.departamento.establecimiento.es_admin %>
	                    	<select class="form-control" id="sl_est" name="solicitud[establecimiento_id]">
	                    		<option value="">Establecimiento</option>
	                    		<% Establecimiento.todos.each do |e| %>
	                    			<option value="<%= e.id %>"><%= e.nombre %></option>
	                    		<% end %>
	                    	</select>
	                    	<% else %>
	                    		<input type="text" readonly="" id="nombre_establecimiento" class="form-control" value="<%= @usuario_actual.departamento.establecimiento.nombre %>">
	                    		<input type="hidden" name="solicitud[establecimiento_id]" id="id_establecimiento" value="<%= @usuario_actual.departamento.establecimiento.id %>">
	                    	<% end %>
	                    </div>
	                </div> 	
	                <div class="form-group">
						<label for="docente_tipo_id" class="col-lg-2 control-label">Tipo Funcionario</label>
						<div class="col-lg-4">
							<select  class="form-control required" name="solicitud[docente_tipo_id]" id="docente_tipo_id">
								<option value="">Seleccione...</option>
								<% DocenteTipo.vigentes.each do |d| %>
									<option value="<%= d.id %>"><%= d.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="docente_cargo_id" class="col-lg-2 control-label">Cargo</label>
						<div class="col-lg-4">
							<select class="form-control required" name="solicitud[docente_cargo_id]" id="docente_cargo_id">
								<option value="">Seleccione...</option>
								<% DocenteCargo.vigentes.each do |d| %>
									<option value="<%= d.id %>"><%= d.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="horas" class="col-lg-2 control-label">Horas</label>
						<div class="col-lg-4">
							<input type="number"  value="" name="solicitud[horas]" id="horas" class="form-control required" >
						</div>
					</div>
					<div class="form-group">
						<label for="fechas" class="col-lg-2 control-label">Fechas</label>
						<div class="col-lg-10">
							<div class="input-group">
								<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas" id="fechas">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
					</div>
					
					<div class="form-group">
						<label for="motivo" class="col-lg-2 control-label">Motivo</label>
						<div class="col-lg-10">
							<input class="form-control required" rows="5" name="solicitud[motivo]" id="motivo" maxlength="50" > 
						</div>
					</div>
					<div class="form-group">
						<label for="justificacion" class="col-lg-2 control-label">Justificación</label>
						<div class="col-lg-10">
							<textarea class="form-control required" rows="5" name="solicitud[justificacion]" id="justificacion" maxlength="500" ></textarea>   
						</div>
					</div>

			
			</div>
		</div>
	</div>
</div>