<table class="table table-striped" id="datatable">
    <thead>
      <tr>
        <th>ID</th>
        <th class="text-center">Establecimiento</th>
        <th class="text-center">Motivo</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Cargo</th>
        <th class="text-center">Desde</th>
        <th class="text-center">Hasta</th>
        <th class="text-center">Horas</th>
        <th class="text-center">Estado</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @solicitudes.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.establecimiento.nombre %></td>
        <td><%= s.motivo %></td>
        <td><%= s.docente_tipo.nombre %></td>
        <td><%= s.docente_cargo.nombre %></td>
        <td><%= s.desde %></td>
        <td><%= s.hasta %></td>
        <td><%= s.horas %></td>
        <td>
          <% case s.estado %>
          <% when "Enviada" %>
            <span class="label label-primary">Enviada</span>
          <% when "Aprobada" %>
            <span class="label label-success">Aprobada</span>
          <% end %>
          
        </td>

        <td><a href="<%= ver_solicitud_dotacion_path s.id %>">Ver </a></td>
      </tr>
      <% end %>
    </tbody>
  </table>


  <script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>