
	<form action="<%= crea_solicitud_dotacion_path %>" method="post" id="crea_solicitud">
	<%= render "dotacion_docente/solicitud" %>

	<%= render "dotacion_docente/reemplazar" %>

	<%= render "dotacion_docente/sugerido" %>
	<div id="doc_orden"></div>
	</form>

	<%= render "dotacion_docente/adjuntos" %>

	
	<hr />
	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal text-center">
				
					<div class="col-sm-12"><button id="crear_btn" class="btn btn-primary">Enviar Solicitud</button></div>
				</div>
					
			</div>
		</div>
	</div>

	
	<%= render "dotacion_docente/modal_docente" %>

<script type="text/javascript">
function LimpiaModal() {
	$("#rut").val("");
	$("#apaterno").val("");
	$("#nacimiento").val("");
	$("#estado_civil").val("");
	$("#telefono").val("");
	$("#cargo_modal_id").val("");
	$("#nombres").val("");
	$("#amaterno").val("");
	$("#sexo").val("");
	$("#nacionalidad").val("");
	$("#email").val("");
	$("#docente_tipo_modal").val("");
	$("#profesion").val("");
	$("#direccion").val("");
	$("#alerta_no_existe").hide();
}

function DatosModal(data){
	$("#rut").val(data.rut + "-" + data.dv);
	$("#apaterno").val(data.apaterno);
	$("#nacimiento").val(data.nacimiento);
	$("#estado_civil").val(data.estado_civil);
	$("#telefono").val(data.telefono);
	$("#cargo_modal_id").val(data.docente_cargo_id);
	$("#nombres").val(data.nombre);
	$("#amaterno").val(data.amaterno);
	$("#sexo").val(data.sexo);
	$("#nacionalidad").val(data.nacionalidad);
	$("#email").val(data.email);
	$("#docente_tipo_modal").val(data.docente_tipo_id);
	$("#profesion").val(data.profesion);
	$("#direccion").val(data.direccion);
}

function showRequestSolicitud(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#crea_solicitud" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Enviar Solicitud');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponseSolicitud(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha enviado la solicitud exitosamente", function(){
     document.location.href = "/dotacion-docente/solicitudes-enviadas"
  	});

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Enviar Solicitud');
   alertify.error(responseText.estado);
	}
}


  $(document).ready(function() {


  	 //Opciones jquery.forms
	var optionsSolicitud = { 
		beforeSubmit:  showRequestSolicitud,  // Funcion a ejecutar antes de enviarse
		success:       showResponseSolicitud,  //Funcion a ejecutar despues de enviarse
		dataType:  'json' //tipo de dato a devolver
	}; 


      $("#crear_btn").click(function() {
	      $('#crea_solicitud').ajaxSubmit(optionsSolicitud); 
      })        

		$('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '01/03/<%= Time.now.year %>',
			    endDate: '05/04/<%= Time.now.year %>'
			});
  })
</script>