<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Remplazos Activos</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        
          <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Establecimiento</th>
                <th class="text-center">Motivo</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Desde</th>
                <th class="text-center">Hasta</th>
                <th class="text-center">Horas</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @contratos.each do |c| %>
              <tr>
                <td><%= c.docente_solicitud.id %></td>
                <td><%= c.docente_solicitud.establecimiento.nombre %></td>
                <td><%= c.docente_solicitud.motivo %></td>
                <td><%= c.docente_solicitud.docente_tipo.nombre %></td>
                <td><%= c.docente_solicitud.docente_cargo.nombre %></td>
                <td><%= c.docente_solicitud.desde %></td>
                <td><%= c.docente_solicitud.hasta %></td>
                <td><%= c.docente_solicitud.horas %></td>


                <td><a href="<%= ver_solicitud_dotacion_path s.id %>">Ver </a></td>
              </tr>
              <% end %>
            </tbody>
          </table>


          <script type="text/javascript">
        $(document).ready(function() {
          $('#datatable').DataTable({
            "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            responsive: true
          });


          $('[data-toggle="tooltip"]').tooltip()

        })
        </script>
                  
      </div>
    </div>
  </div>
</div>

