	<div class="col-sm-12">
  <h1>Solicitud ID: <%= @solicitud.id %> - Estado: <%= @solicitud.estado %></h1>
</div>

	<form action="<%= actualizar_solicitud_dotacion_path %>" method="post" id="actualizar_solicitud">
	
	<% if @solicitud.estado != "Aprobada" && @solicitud.estado != "Rechazada" %>
		<%= render "dotacion_docente/accion" %>
	<% end %>
	<%= render "dotacion_docente/contratado" %>
	
	<% if @solicitud.estado != "Aprobada" && @solicitud.estado != "Rechazada" %>
		<div class="col-sm-12">
			<div class="main-box">
				<header class="main-box-header clearfix">	
				</header>
				<div class="main-box-body clearfix">
					<div class="form-horizontal text-center">
						<div class="col-sm-12"><button type="button" id="btn_enviar" class="btn btn-primary">Enviar Solicitud</button></div>
					</div>	
				</div>
			</div>
		</div>
	<% end %>

	<hr />

	<%= render "dotacion_docente/solicitud" %>

	<%= render "dotacion_docente/reemplazar" %>

	<%= render "dotacion_docente/sugerido" %>
	<div id="doc_orden"></div>
	</form>


	<%= render "dotacion_docente/adjuntos" %>

	<%= render "dotacion_docente/movimientos" %>

	

	
	

	


	<%= render "dotacion_docente/modal_docente" %>

<script type="text/javascript">
function LimpiaModal() {
	$("#rut").val("");
	$("#apaterno").val("");
	$("#nacimiento").val("");
	$("#estado_civil").val("");
	$("#telefono").val("");
	$("#cargo_modal_id").val("");
	$("#nombres").val("");
	$("#amaterno").val("");
	$("#sexo").val("");
	$("#nacionalidad").val("");
	$("#email").val("");
	$("#docente_tipo_modal").val("");
	$("#profesion").val("");
	$("#direccion").val("");
	$("#alerta_no_existe").hide();
}

function DatosModal(data){
	$("#rut").val(data.rut + "-" + data.dv);
	$("#apaterno").val(data.apaterno);
	$("#nacimiento").val(data.nacimiento);
	$("#estado_civil").val(data.estado_civil);
	$("#telefono").val(data.telefono);
	$("#cargo_modal_id").val(data.docente_cargo_id);
	$("#nombres").val(data.nombre);
	$("#amaterno").val(data.amaterno);
	$("#sexo").val(data.sexo);
	$("#nacionalidad").val(data.nacionalidad);
	$("#email").val(data.email);
	$("#docente_tipo_modal").val(data.docente_tipo_id);
	$("#profesion").val(data.profesion);
	$("#direccion").val(data.direccion);
}

function showRequestSolicitud(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#actualizar_solicitud" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Enviar Solicitud');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponseSolicitud(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha enviado la solicitud exitosamente", function(){
     document.location.href = "/dotacion-docente/solicitudes"
  	});

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Enviar Solicitud');
   alertify.error(responseText.estado);
	}
}


  $(document).ready(function() {

  	$("#sl_est").val(<%= @solicitud.establecimiento_id %>);
  	$("#nombre_establecimiento").val("<%= @solicitud.establecimiento.nombre %>");
  	$("#id_establecimiento").val(<%= @solicitud.establecimiento_id %>);
  	$("#docente_tipo_id").val(<%= @solicitud.docente_tipo_id %>);
  	$("#docente_cargo_id").val(<%= @solicitud.docente_cargo_id %>);
  	$("#horas").val("<%= @solicitud.horas %>");
  	$('#fechas').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= fecha(@solicitud.desde) %>',
			    endDate: '<%= fecha(@solicitud.hasta) %>'
			});
  	$("#motivo").val("<%= @solicitud.motivo %>");
  	$("#justificacion").val("<%= @solicitud.justificacion %>");

  	<% if not @solicitud.docente_reemplazar.blank? %>
	  	$("#rut_reemplazo").val("<%= @solicitud.docente_reemplazar.docente.rut %>-<%= @solicitud.docente_reemplazar.docente.dv %>");
	  	$("#id_reemplazo").val(<%= @solicitud.docente_reemplazar.docente.id %>);
	  	$("#nombre_reemplazo").val("<%= @solicitud.docente_reemplazar.docente.nombre %> <%= @solicitud.docente_reemplazar.docente.apaterno %> <%= @solicitud.docente_reemplazar.docente.amaterno %>");
	  	$("#div_ver_remplazo").show()
  	<% end %>

  	<% if not @solicitud.docente_sugerido.blank? %>
	  	$("#rut_sugerido").val("<%= @solicitud.docente_sugerido.docente.rut %>-<%= @solicitud.docente_reemplazar.docente.rut %>");
	  	$("#id_sugerido").val(<%= @solicitud.docente_sugerido.docente.id %>);
	  	$("#nombre_sugerido").val("<%= @solicitud.docente_sugerido.docente.nombre %> <%= @solicitud.docente_sugerido.docente.apaterno %> <%= @solicitud.docente_sugerido.docente.amaterno %>");
	  	$("#div_ver_sugerido").show()
  	<% end %>

  	<% if not @solicitud.docente_solicitud_archivos.blank? %>
  		<% @solicitud.docente_solicitud_archivos.each do |a| %>
		  	$("table#t_doc tbody").append("<tr>" +
		        "<td><%= fecha(a.created_at) %></td>" +
		        "<td><%= a.name %></td>" +
		        "<td><%= a.usuario.nombre %></td>" +
		        "<td>" +
		          "<a href='<%= a.archivo.url %>' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
		          "<input type='hidden' name='id_doc' value='<%= a.id %>'> <button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</button>" +
		          "</td>" +
		      	"</tr>"
		     );
		<% end %>  	
	<% end %>  	

	<% if not @solicitud.docente_contratado.blank? %>
		$("#a_contratar").show()
		$("#rut_contrato").val("<%= @solicitud.docente_contratado.docente.rut %>-<%= @solicitud.docente_contratado.docente.dv %>");
	  	$("#id_contrato").val(<%= @solicitud.docente_contratado.docente.id %>);
	  	$("#horas_contrato").val(<%= @solicitud.docente_contratado.horas %>);
	  	$("#nombre_contrato").val("<%= @solicitud.docente_contratado.docente.nombre %> <%= @solicitud.docente_contratado.docente.apaterno %> <%= @solicitud.docente_contratado.docente.amaterno %>");
	  	$('#fecha_contrato').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= fecha(@solicitud.docente_contratado.desde) %>',
			    endDate: '<%= fecha(@solicitud.docente_contratado.hasta) %>'
			});

	  	$("#div_ver_contrato").show()
	<% else %>
		$('#fecha_contrato').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= fecha(@solicitud.desde) %>',
			    endDate: '<%= fecha(@solicitud.hasta) %>'
			});
	<% end %>
	
	$("#sl_accion").change(function() {
		if($(this).val() == "Aprobada"){
			$("#a_contratar").show("slow")
		}else{
			$("#a_contratar").hide()
		}
	})

  	 //Opciones jquery.forms
	var optionsSolicitud = { 
		beforeSubmit:  showRequestSolicitud,  // Funcion a ejecutar antes de enviarse
		success:       showResponseSolicitud,  //Funcion a ejecutar despues de enviarse
		dataType:  'json' //tipo de dato a devolver
	}; 


      $("#btn_enviar").click(function() {
	      $('#actualizar_solicitud').ajaxSubmit(optionsSolicitud); 
      })        

		
  })
</script>