<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="#">Inicio</a></li>
      <li class="active"><span></span></li>
    </ol>
    <h1>Carga Presupuesto</h1>
  </div>
</div>
<form action="<%= guarda_presupuesto_path %>" method="post" id="new_liquidacion">
  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Mes de pago<span></span></h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Mes</label>
            <div class="col-lg-10">
              <select class="form-control requierd" name="cargar[mes]">
                <option>Seleccione mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Indentificación Establecimiento <span></span></h2>
        </header>
        <div class="main-box-body clearfix">

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Establecimiento</label>
            <div class="col-lg-10">
              <select class="form-control" name="cargar[establecimiento_id]">
                <option>Seleccione establecimiento</option>
                <% Establecimiento.todos.each do |e| %>
                <option value="<%= e.id %>"><%= e.nombre %></option>
                <% end %>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Subvencion a cargar <span></span></h2>
        </header>
        <div class="main-box-body clearfix">

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Subvención</label>
            <div class="col-lg-10">
              <select class="form-control" name="cargar[subvencion_id]">
                <option>Seleccione subvención</option>
                <% Subvencion.todos.each do |e| %>
                <option value="<%= e.id %>"><%= e.nombre %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Monto a Cargar</label>
            <div class="col-lg-10">

                <input type="text" class="form-control" name="cargar[total]">
  
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Monto a Cargar</label>
            <div class="col-lg-10">

                <button type="submit" class="btn btn-primary">Cargar presupuesto</button>
  
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  </form>

  <div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Cargas Realizadas</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        
<table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Subvencion</th>
                <th class="text-center">Establecimiento</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Mes</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Fecha</th>
                <th>&nbsp;</th>
              

              </tr>
            </thead>
            <tbody>
              <% @cargas.each do |o| %>
                <tr>
                  <td>
                    <%= o.id %>
                  </td>
                  <td class="text-left">
                    <%= o.subvencion.nombre %>
                  </td>
                  <td class="text-left">
                    <%= o.establecimiento.nombre %>
                  </td>
                  <td class="text-left">
                    <%= dinero(o.total.to_i) %>
                  </td>
                  <td class="text-left">
                    <%= mes(o.mes) %>
                  </td>
                  <td class="text-left">
                    <%= o.usuario.nombre %> <%= o.usuario.apaterno %>
                  </td>
                  <td class="text-left">
                    <%= o.created_at.strftime('%d/%m/%Y %H:%M') %>
                  </td>

                  <td>
                      <form action="<%= anula_carga_path o.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea anular la carga: <%= o.id %>?');">
                        <button type="submit"  class="btn btn-link table-link"  data-toggle="tooltip" data-placement="top" title="Eliminar">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                          </span>
                        </button>    
                      </form>
                        
                  
                  </td>
                   

                   
                </tr>
              <% end %>
            </tbody>
          </table>



      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#datatable').DataTable({
    "aaSorting": [[0,'desc']],
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

})
</script>