<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">Finanzas</a></li>
            <li class="active"><span>Subvencion <%= @t.subvencion.nombre %></span></li>
        </ol>
        <h1>Categorias de gastos de Tipo Gasto: <b> <%= @t.nombre %> </b></h1>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Crear Nueva Categoria de Gasto <span></span></h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= guarda_categoria_gasto_path %>" method="post">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="cat[nombre]">
                        <input type="hidden" value="<%= @t.id %>"  name="cat[tipo_gasto_id]">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Codigo</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="cat[codigo]">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit"class="btn btn-primary">Ingresar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Categorias de Gastos</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
            <input type="text" class="form-control" placeholder="Buscar...">
            <i class="fa fa-search search-icon"></i>
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table table-hover table-striped" id="datatable">
            <thead>
              <tr>
                <th><a href="#"><span>Nombre</span></a></th>
                <th><a href="#"><span>Codigo</span></a></th>
                <th ><a href="#" class="asc"><span></span></a></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
           
            <tbody>
             <% @t.categoria_gastos(:es_vigente => true).each do |p| %>
              <tr>
                <td>
                  <div class='edit_nombre tool' id='<%= p.id %>' rel="tooltip" title="Click para editar..." ><%= p.nombre %></div>
                </td>
                <td>
                  <div class='edit_codigo tool' id='<%= p.id %>' rel="tooltip" title="Click para editar..." ><%= p.codigo %></div>
                </td>
                <td>
                  <form action="<%= borrar_cat_gasto_path p.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar <%= p.nombre %>?');">
                    <button type="submit" class="btn btn-danger ">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </form>
                </td>
                <td style="width: 15%;">
                  <a href="<%= subcategoria_gasto_subvencion_path p.id %>" class="btn btn-primary">Subcategoria gastos</a>                 
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

     $('.tool').tooltip({
    'placement':'top',
    delay: { show: 500, hide: 100 } 
});
   $("#datatable tbody").on("click", ".edit_nombre",function() {
    $(this).editable('<%= jeditable_nombre_cat_gasto_path %>', { 
       id   : 'elementid',
       name : 'newvalue',
   });    
   });   

   $("#datatable tbody").on("click", ".edit_codigo",function() {
    $(this).editable('<%= jeditable_codigo_cat_gasto_path %>', { 
       id   : 'elementid',
       name : 'newvalue',
   });    
   });         

  })
</script>