<%= render "partials/buzon"  %>



<div style="float:left">
	<a href="http://www.portaltransparencia.cl/PortalPdT/pdtta?codOrganismo=MU299" target="_blank">
		<img src="http://sanpedrodelapaz.cl/wp-content/uploads/2014/11/banner_ta.png">
	</a>
</div>
<div style="float:left">
	<a href="http://www.portaltransparencia.cl/PortalPdT/web/guest/directorio-de-organismos-regulados?p_p_id=pdtorganismos_WAR_pdtorganismosportlet&amp;orgcode=6357899254af4b69fd82c12b5b8d2eee" target="_blank">
		<img src="http://sanpedrodelapaz.cl/wp-content/uploads/2014/11/banner_informacion.png">
	</a>
</div>