  <%= render "partials/mensajes" %>

  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Indentificación Establecimiento <span></span></h2>
        </header>
        <div class="main-box-body clearfix">

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Establecimiento</label>
            <div class="col-lg-10">
              <select class="form-control" id="establecimiento" name="liq[establecimiento_id]">
                <option>Seleccione establecimiento</option>
                <% Establecimiento.todos.each do |e| %>
                <option value="<%= e.id %>"><%= e.nombre %></option>
                <% end %>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


    <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Liquidaciones ingresadas año <strong><%= session[:periodo].anio %></strong> <span></span></h2>
        </header>
        <div class="main-box-body clearfix">

        <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th >Mes</th>
                <th >Sub Total Pagos</th>
                <th >Total</th>
                <th >Asignado</th>
                <th >Fecha Ingreso</th>

                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#establecimiento").change(function(){
       $("#datatable tbody").html("");
      $.getJSON("<%= get_liquidacion_est_path %>", { id: $(this).val() }, function(data){
        $.each(data, function(i,v){
          fecha = $.format.date(v.created_at, "dd/MM/yyyy")
          $("#datatable tbody").append("<tr>" +
                "<td>"+ mes(v.mes) +"</td>" +
                "<td>$ "+ puntitos(v.sub_total_pagos) +"</td>" +
                "<td>$ "+ puntitos(v.total) +"</td>" +
                "<td>$ "+ puntitos(v.asignado) +"</td>" +
                "<td>"+ fecha +"</td>" +
                "<td><a href='" + v.id + "/ver-liquidacion-subvenciones'><i class='fa fa-search'></i> Detalle</a></td>" +
              "</tr>")
      }) 
        })
      
    })



  })
</script>