<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">Finanzas</a></li>
            <li class="active"><span>Subvenciones</span></li>
        </ol>
        <h1>Presupuesto Subvención</h1>
    </div>
</div>
  <div class="row form-horizontal">
      <div class="col-lg-12">
          <div class="main-box">
              <header class="main-box-header clearfix">
                  <h2>Establecimiento <span></span></h2>
              </header>
              <div class="main-box-body clearfix">
              <form action="<%= guarda_subvencion_path %>" method="post">
              <%= render "partials/mensajes" %>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Establecimiento</label>
                      <div class="col-lg-10">
                          <select class="form-control" name="establecimiento_id">
                            <option>Seleccione establecimiento</option>
                          
                              <option value="5">Colegio Galvarino</option>
                            
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label"></label>
                      <div class="col-lg-10">
                          <button type="submit"class="btn btn-primary">Seleccionar</button>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>


<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Presupuesto</h2>

      </header>
      <div class="main-box-body clearfix">
      <form action="<%= actualiza_presupuesto_subvencion_path %>" method="post">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><a href="#"><span>Subvencion</span></a></th>
                <th ><a href="#"><span>Presupuesto</span></a></th>
              </tr>
            </thead>
           
            <tbody>
            <% @presupuesto.each do |e| %>
              <tr>
                <td>
                  <%= e.subvencion.nombre %>
                </td>
                <td>
                <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                  <input type="text" class="form-control" size="5" name="presupuesto[][monto]" value="<%= miles(e.monto.to_i) %>">
                  </div>
                  <input type="hidden" name="presupuesto[][id]" value="<%= e.id %>">
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <label for="inputPassword1" class="col-lg-2 control-label"></label>
          <div class="col-lg-10">
              <button type="submit"class="btn btn-primary">Guardar</button>
          </div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
