<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">Finanzas</a></li>
            <li class="active"><span>Subvenciones Liquidación</span></li>
        </ol>
        <h1>Subvenciones Base</h1>
    </div>
</div>
  <div class="row form-horizontal">
      <div class="col-lg-12">
          <div class="main-box">
              <header class="main-box-header clearfix">
                  <h2>Crear Nueva Subvencion Base <span></span></h2>
              </header>
              <div class="main-box-body clearfix">
              <form action="<%= guarda_subvencion_base_path %>" method="post">
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Nombre</label>
                      <div class="col-lg-10">
                          <input type="text" class="form-control" name="subvencion[nombre]">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Codigo</label>
                      <div class="col-lg-10">
                          <input type="text" class="form-control" name="subvencion[codigo]">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Subvención</label>
                      <div class="col-lg-10">
                          <select id="sl_subvencion" class=" form-control select-block-level input-transparent" name="subvencion[subvencion_id]">
                              <option value="">Seleccione Subvención</option>
                              <% Subvencion.todos.each do |s| %>
                              <option value="<%= s.id %>"><%= s.nombre %></option>
                              <% end %>
                            </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label">Porcentaje </label>
                      <div class="col-lg-2">
                        <div class="input-group">
                          <input type="number"  class="form-control" name="subvencion[porcentaje]">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="inputPassword1" class="col-lg-2 control-label"></label>
                      <div class="col-lg-10">
                          <button type="submit"class="btn btn-primary">Ingresar Subvencion</button>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Subvenciones Base</h2>

      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><a href="#"><span>Codigo</span></a></th>
                <th><a href="#"><span>Nombre</span></a></th>
                <th><a href="#"><span>Subvención</span></a></th>
                <th><a href="#"><span>%</span></a></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
           
            <tbody>
             <% @subvenciones.each do |p| %>
              <tr>
                <td>
                  <%= p.codigo %>
                </td>
                <td>
                  <%= p.nombre %>
                </td>
                 <td>
                  <%= p.subvencion.nombre %>
                </td>
                <td>
                  <%= p.porcentaje %>
                </td>
                <td style="width: 15%;">
                  <form action="<%= eliminar_subvencion_base_path %>" method="post" id="elimina_form">
                    <input type="hidden" value="<%= p.id %>" name="id_subvencion_base">
                    <button type="submit"  onclick="return confirm('seguro que desea borrar?')" class="btn btn-primary" ><i class="fa fa-trash"></i></button> 
                  </form>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


