<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">Finanzas</a></li>
            <li class="active"><span>Subvenciones</span></li>
        </ol>
        <h1>Tipo Gasto Subvencion: <b> <%= @s.nombre %> </b></h1>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Crear Tipo Gasto <span></span></h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= guarda_tipo_gasto_path %>" method="post">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="tipo[nombre]">
                        <input type="hidden" value="<%= @s.id %>"  name="tipo[subvencion_id]">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                      <div class="radio">
                          <input type="radio" name="tipo[es_persona]" id="optionsRadios1" value="0" checked="">
                          <label for="optionsRadios1">
                           Es Bien o Servicio
                          </label>
                        </div>
                        
                    </div>

                    

                </div>
                
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit"class="btn btn-primary">Ingresar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Tipos de gasto</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
            <input type="text" class="form-control" placeholder="Buscar...">
            <i class="fa fa-search search-icon"></i>
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="datatable">
            <thead>
              <tr>
                <th><a href="#"><span>Nombre</span></a></th>
                <th ><a href="#" class="asc"><span></span></a></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
           
            <tbody>
             <% @s.tipo_gastos(:es_vigente => true).each do |p| %>
              <tr>
                <td>
                  <div class='edit_nombre tool' id='<%= p.id %>' rel="tooltip" title="Click para editar..." ><%= p.nombre %></div>
                </td>
                <td>
                 <form action="<%= borrar_tipo_gasto_path p.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar <%= p.nombre %>?');">
                    <button type="submit" class="btn btn-danger ">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </form>
                </td>
                <td style="width: 15%;">
                  <a href="<%= categoria_gasto_subvencion_path p.id %>" class="btn btn-primary">Categoria gastos</a>                 
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

     $('.tool').tooltip({
    'placement':'top',
    delay: { show: 500, hide: 100 } 
});
   $("#datatable tbody").on("click", ".edit_nombre",function() {
    $(this).editable('<%= jeditable_nombre_tipo_gasto_path %>', { 
       id   : 'elementid',
       name : 'newvalue',
   });    
   });         

  })
</script>