<script type="text/javascript">
  function calcular_total(){
    total =  parseInt($("#sub_total_pagos").val()) - parseInt($("#total_descuento_real").val()) - parseInt($("#total_retencion_real").val());
      $("#total_pagado").val(total)
      $("#total_pagado_puntos").val(puntitos(total))
   }
</script>

<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="#">Inicio</a></li>
      <li class="active"><span></span></li>
    </ol>
    <h1>Liquidación de Subvenciones</h1>
  </div>
</div>
<form action="<%= actualiza_liquidacion_path @liq.id %>" method="post" id="new_liquidacion">
  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Mes de pago<span></span></h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Mes</label>
            <div class="col-lg-10">
              <select class="form-control requierd" name="liq[mes]" id="mes_liq">
                <option>Seleccione mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row form-horizontal">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Indentificación Establecimiento <span></span></h2>
        </header>
        <div class="main-box-body clearfix">

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Establecimiento</label>
            <div class="col-lg-10">
              <select class="form-control" name="liq[establecimiento_id]" id="est_liq">
                <option>Seleccione establecimiento</option>
                <% Establecimiento.todos.each do |e| %>
                <option value="<%= e.id %>"><%= e.nombre %></option>
                <% end %>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  
    <%= render "finanzas/ver_liquidacion/base" %>




  <div class="row">
    <%= render "finanzas/ver_liquidacion/descuentos" %>
  </div> 


  <div class="row">
    <%= render "finanzas/ver_liquidacion/retenciones" %>
  </div> 

  <div class="row form-horizontal">
      <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>TOTAL PAGADO <span></span></h2>
        </header>
        <div class="main-box-body clearfix">

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Total:</label>
            <div class="col-lg-10">
       
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control " size="20" readonly=""  id="total_pagado_puntos" value="<%= miles(@liq.total.to_i) %>">
                    <input type="hidden" id="total_pagado" name="liq[total]" value="<%= @liq.total %>">
                  </div>
               
            </div>
          </div>


          <div class="form-group" >
            <label for="inputPassword1" class="col-lg-2 control-label">Total Asignado:</label>
            <div class="col-lg-10">
            
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control "  size="20" readonly=""  id="total_total_asignado_puntos" value="<%= miles(@liq.asignado.to_i) %>">
                    <input type="hidden"  id="total_total_asignado" name="liq[asignado]" value="<%= @liq.asignado %>">
                  </div>
               
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Porcentaje Daem:</label>
            <div class="col-lg-10">
              
                  <div class="input-group">
                    
                    <input type="number" class="form-control " value="<%= @liq.porcentaje_daem %>" size="20" id="porcentaje_daem"name="liq[porcentaje_daem]">
                    <span class="input-group-addon">%</span>
                  </div>
                
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Total Daem:</label>
            <div class="col-lg-10">
       
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" size="20" readonly=""  id="total_daem_puntos" value="<%= miles(@liq.total_daem.to_i) %>">
                    <input type="hidden"  id="total_daem" name="liq[total_daem]" value="<%= @liq.total_daem %>">
                  </div>
               
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <%= render "finanzas/ver_liquidacion/bonos" %>
  </div> 
</form>


<form action="<%= elimina_liquidacion_path @liq.id %>" method="post" id="elimina_liquidacion">
</form>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2><span></span></h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <div class="input-group">
                <button type="button" class="btn btn-success btn-lg" id="crear_btn"><i class="fa fa-save"></i> Guardar</button> 
                <button type="button" style="margin-left:10px" class="btn btn-danger btn-lg " id="eliminar_btn"><i class="fa fa-trash"></i> Eliminar</button>
                <a href="<%= listado_liquidacion_path %>" style="margin-left:10px" class="btn btn-default  btn-lg" ><i class="fa fa-cancel"></i> Cancelar</a>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 


<script type="text/javascript">


// Funcion antes de enviarse
function showRequest(formData, jqForm, options) { 

  var validator = $( "#new_liquidacion" ).validate();
  if(validator.form()){
    return true;
  }else{
    alertify.error("Error, Por favor compruebe los campos señalados.");
    return false;

  }



} 

// Funcion despues de enviarse 
function showResponse(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    alertify.success("Se ha guardado la liquidación exitosamente");

    document.location.href = "../" + responseText.id +"/ver-liquidacion-subvenciones"
    
  }else if(responseText.estado == "Existe"){
   alertify.error("Error, la liquidacion del mes ingresado ya existe para el establecimiento");
  }else{
    alertify.error("Error, no se ha guardado la liquidación, revise los campos ingresados");
  }
}


  $(document).ready(function() {

    //Opciones jquery.forms
        var options = { 
            beforeSubmit:  showRequest,  // Funcion a ejecutar antes de enviarse
            success:       showResponse,  //Funcion a ejecutar despues de enviarse
            dataType:  'json' //tipo de dato a devolver
          }; 


          $("#crear_btn").click(function() {
            $('#new_liquidacion').ajaxSubmit(options); 
          })

          $("#eliminar_btn").click(function() {
            $('#elimina_liquidacion').submit(); 
          })

      

          $("#mes_liq").val(<%= @liq.mes %>)
          $("#est_liq").val(<%= @liq.establecimiento_id %>)
    


    $("#porcentaje_daem").change(function(){
      porcentaje = parseInt($(this).val());
      cien = 100
      porcentaje = parseInt(porcentaje) / parseInt(cien);
      $monto = parseInt($("#total_total_asignado").val());
      daem = $monto * porcentaje
      daem = parseInt(daem)
      $("#total_daem_puntos").val(puntitos(daem));
      $("#total_daem").val(daem);

    })

  })
</script>