
	<div class="row" id="bloque_archivos">
		<div class="col-md-12">
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Documentos Adjuntos</h2>
			</header>
			<div class="main-box-body clearfix">
				<form accept-charset="UTF-8" action="<%= adjuntar_documento_path %>" class="new_doc" id="new_doc" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">
						Documento:</label>
						<div class="col-lg-10">
							<input type="hidden" name="doc[orden_id]" value="<%= @orden.id %>">
							<select class="required form-control input-transparent" name="doc[name]" id="tipo_doc">
								<option value="">Seleccione tipo documento</option>
								<% TipoDocumento.vigentes.each do |d| %>
									<option value="<%= d.nombre %>"><%= d.nombre %></option>	
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Archivo</label>
						<div class="col-lg-10">
							<input type="file" name="doc[archivo]" class="required form-control input-transparent">  
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-upload"></i> Subir</button>
						</div>
					</div>
			</form>
					<div class="form-group">
					
						<div class="col-lg-12">
							<table id="t_doc" class="table" role="grid" aria-describedby="datatable-table_info">
								<thead>
									<th>#</th>
									<th>Fecha</th>
									<th>Documento</th>
									<th>Departamento</th>
									<th>Subido por</th>
									<th>Enlace</th>
								</thead>
								<tbody>
									<% @orden.documentos.each_with_index do |d, i| %>
									<tr>
									<td class='num_archivo'><%= i + 1 %></td>
									<td><%= d.created_at.strftime("%d/%m/%Y %H:%M") %></td>
									<td><%= d.name %></td>
									<td><%= d.departamento.nombre %></td>
									<td><%= d.usuario.nombre %> <%= d.usuario.apaterno %></td>
										<td>
										<a href='<%= d.archivo %>' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>
										<input type='hidden' name='id_doc' value='<%= d.id %>'> 
										<% if @orden.es_editable? %>
										<form action="<%= borrar_documento_path d.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar el archivo?');">
										<button type='submit' class='btn btn-default btn-sm'><i class='fa fa-times'></i> Eliminar</button>
										</form>
										<% end %>
										</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
			
			
			</div>
		</div>
	</div>
</div>
		</div>
	</div>





<script type="text/javascript">

function numero_archivos() {
		cantidad = 1
		 $("#t_doc tbody").find("td.num_archivo").each(function(i, v) {
		 		$(this).html(cantidad)
	            cantidad++;

	        })
		 return(cantidad)
	}
// pre-submit callback 
function showRequest(formData, jqForm, options) { 

	var validator = $( "#new_doc" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}
      
     
} 
 


// post-submit callback 
function showResponse(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){

      $("table#t_doc tbody").append("<tr >" +
        "<td class='num_archivo'>" + numero_archivos() + "</td>" +
        "<td>" + responseText.fecha + "</td>" +
        "<td>" + responseText.name + "</td>" +
        "<td>" + responseText.dpto + "</td>" +
        "<td>" + responseText.por + "</td>" +
        "<td>" +
          "<a href='" + responseText.url + "' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
          "<form action='/documentos/"+ responseText.id + "/borrar' method='post'> <button type='submit' class='btn btn-default btn-sm'><i class='fa fa-times'></i> Eliminar</buttton>" +
          "</td>" +
      "</tr>");
      $("#doc_orden").append("<input type='hidden' name='doc_guardar[][id]' value='" + responseText.id + "'>");	
      alertify.success("Se ha guardado el documento exitosamente");
  
  }
}

$(document).ready(function() {
	$("table#t_doc tbody").on("click", "button.borra_doc", function(){
		$id = $(this).parent().find("input[name^='id_doc']").val()
		$("#doc_orden").append("<input type='hidden' name='doc_borrar[id]' value='" + $id + "'>");		
		$(this).parent().parent().remove();
		numero_archivos()

	})

    var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
        dataType:  'json'
    }; 
 
    // bind to the form's submit event 
    $('#new_doc').submit(function() { 
        $(this).ajaxSubmit(options); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

  });
  
  </script>  