<% if not @orden.cuenta_gasto_orden.blank? %>
	<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Cuenta de Gasto </h2>
			</header>
			<div class="main-box-body clearfix">	
				<div class="form-group" >
					<label  class="col-lg-2 control-label">Cuenta:</label>
					<div class="col-lg-10">
						<input type="text"  readonly="" class="form-control " value="<%= @orden.cuenta_gasto_orden.cuenta %>">
					</div>
				</div>
				<div class="form-group" >
					<label  class="col-lg-2 control-label">Subtitulo:</label>
					<div class="col-lg-10">
						<input type="text"  readonly="" class="form-control " value="<%= @orden.cuenta_gasto_orden.subtitulo %>">
					</div>
				</div>
				<div class="form-group" >
					<label  class="col-lg-2 control-label">Item:</label>
					<div class="col-lg-10">
						<input type="text"  readonly="" class="form-control " value="<%= @orden.cuenta_gasto_orden.item %>">
					</div>
				</div>
				<div class="form-group" >
					<label  class="col-lg-2 control-label">Asignación:</label>
					<div class="col-lg-10">
						<input type="text"  readonly="" class="form-control " value="<%= @orden.cuenta_gasto_orden.asignacion %>">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>