<div class="row form-horizontal" id="pme_box">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Plan de mejora 
				<button type="button" value="0" id="ampliar_pme_show" style="border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-search-plus icono_pme_show"></i></button>
				<% if @orden.es_editable? %>
				<button type="button" value="0" id="edit_pme" style="border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-edit "></i> Editar</button> 
				<% end %>
				</h2>
			</header>
			<div class="main-box-body clearfix">
			<div id="pme_sl_show" style="display:none">
			 	<div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimensión:</label>
                    <div class="col-lg-10">
                    	<input disabled="" type="text" value="<%= @orden.orden_tiene_pme_accion.pme_accion.pme_estrategia.pme_objetivo.pme_dimension.nombre %>"  class="form-control">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo:</label>
                    <div class="col-lg-10">
                        <textarea disabled="" class="form-control"><%= @orden.orden_tiene_pme_accion.pme_accion.pme_estrategia.pme_objetivo.nombre %></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sl_objetivo" class="col-lg-2 control-label">Estrategia:</label>
                    <div class="col-lg-10">
                        <textarea disabled="" class="form-control"><%= @orden.orden_tiene_pme_accion.pme_accion.pme_estrategia.nombre %></textarea>
                    </div>
                </div> 

                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción</label>
					<div class="col-lg-10">
						<textarea disabled="" class="form-control" name="accion[descripcion]" rows="3"><%= @orden.orden_tiene_pme_accion.pme_accion.descripcion %></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input disabled="" type="text" value="<%= fecha(@orden.orden_tiene_pme_accion.pme_accion.desde) %> - <%= fecha(@orden.orden_tiene_pme_accion.pme_accion.hasta) %>" class="form-control" placeholder="Desde..." name="fechas">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
							<input disabled="" type="text" class="form-control required" placeholder="Nombre..." name="accion[responsable_nombre]" maxlength="200" value="<%= @orden.orden_tiene_pme_accion.pme_accion.responsable_nombre %>">

					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Recursos Necesarios</label>
					<div class="col-lg-10">
							<textarea disabled="" class="form-control required" name="accion[recursos]" rows="3"><%= @orden.orden_tiene_pme_accion.pme_accion.recursos %></textarea> 

					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Presupuesto:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input disabled="" type="text" class="form-control required"  onKeyPress='return isNumberKey(event)' name="accion[presupuesto]" value="<%= @orden.orden_tiene_pme_accion.pme_accion.presupuesto %>">
						</div>
						
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Disponible:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input disabled="" type="text" class="form-control required"  onKeyPress='return isNumberKey(event)' name="accion[presupuesto]" value="<%= @orden.orden_tiene_pme_accion.pme_accion.presupuesto %>">
						</div>
						
					</div>
				</div>

                </div>
                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input disabled="" type="text" value="<%= @orden.orden_tiene_pme_accion.pme_accion.nombre %>"  class="form-control">
					</div>
				</div>

				
			
			
			</div>
		</div>
	</div>
</div>

<div class="col-lg-6" id="pme_box_edit" style="display:none">
<%= render "opi/partial/new_pme" %>
</div>



<script type="text/javascript">
	$(document).ready(function() {

		$("#edit_pme").click(function() {
			if($(this).val() == 0){
				$("#pme_box").removeClass("col-lg-12");
				$("#pme_box").addClass("col-lg-6");
				$("#pme_box_edit").show("slow");
				$("#edit_pme").val(1);
			}else{
				$("#pme_box_edit").hide();
				$("#pme_box").removeClass("col-lg-6");
				$("#pme_box").addClass("col-lg-12");
				$("#edit_pme").val(0);
			}


		})


		$("#ampliar_pme_show").click(function(){
			console.log("ampliar_pme_show")
			if($(this).val() == 1){
				console.log("1")
				$("#pme_sl_show").hide("slow");
				$("#ampliar_pme_show").val(0);
				$(".icono_pme_show").removeClass("fa-search-minus");
				$(".icono_pme_show").addClass("fa-search-plus");
				
			}else{
				console.log("0")
				$("#pme_sl_show").show("slow");
				$("#ampliar_pme_show").val(1);
				$(".icono_pme_show").removeClass("fa-search-plus ");
				$(".icono_pme_show").addClass("fa-search-minus ");
				
			}
			
		})

	})
</script>