
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>OPI ID: <%= @orden.id %> <a href="<%= imprimible_orden_path @orden.id %>" target="_blank" class="table-link" data-toggle="tooltip" data-placement="top" title="Ver PDF imprimible">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>  </h2>
			</header>
			<div class="main-box-body clearfix">
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Título</label>
						<div class="col-lg-10">
							<input maxlength="99" type="text" placeholder="Ej. 'Materiales de oficina'" value="<%= @orden.titulo %>" name="orden[titulo]" id="cod" class="form-control required" <% if !@orden.es_editable %> disabled <% end %> >
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Creada</label>
						<div class="col-lg-10">
							<input type="text"  value="<%= @orden.created_at.strftime('%d/%m/%Y %H:%M') %>"  class="form-control" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Estado</label>
						<div class="col-lg-10">
							<input type="text"  value="<%= @orden.estado %>"  class="form-control" disabled>
						</div>
					</div>
					<% if @orden.estado == "En Licitacion" %>
					<% @orden.licitacions.each_with_index do |l, i| %>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Licitacion #<%= i + 1 %></label>
						<div class="col-lg-10">
							<input type="text"  value="Desde: <%= fecha(l.inicio) %> - Hasta: <%= fecha(l.termino) %>"  class="form-control" disabled>
						</div>
					</div>
					<% end %>
					<% end %>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Ubicacion</label>
						<div class="col-lg-10">
							<input type="text"  value="<%= ubicacion_opi(@orden.id) %>"  class="form-control" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Justificación</label>
						<div class="col-lg-10">
							<textarea rows="4" maxlength="500" class="form-control required" name="orden[justificacion]" id="justificacion" <% if !@orden.es_editable %> disabled <% end %> ><%= @orden.justificacion %></textarea>   
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subvención</label>
						<div class="col-lg-10">
							<input type="text" value="<%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>"  class="form-control required" disabled>
						</div>
					</div>

					<% if @orden.es_editable %>
				        <div class="form-group">
							<div class="col-lg-12 text-center">
								<button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Guardar Cambios</button>
							</div>
						</div>
					<% end %>

			
			</div>
		</div>
	</div>
</div>
