<div class="row form-horizontal" id="pme_box">
	<div class="col-lg-12" >
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Plan de Mejora 
				<button type="button" value="0" id="ampliar_pme" style="border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-search-plus icono_pme"></i></button>
				<% if @orden.es_editable? %>
				<button type="button" value="0" id="edit_pme" style="border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-edit "></i> Editar</button> 
				<% end %>
				</h2>
			</header>
			<div class="main-box-body clearfix">
				<div id="pme_sl" style="display:none">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Dimension</label>
						<div class="col-lg-10">
							<input disabled="" type="text" value="<%= @orden.orden_tiene_accion.accion.objetivo.dimencion.area.nombre %>"  class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
						<div class="col-lg-10">
							<input disabled="" type="text" value="<%= @orden.orden_tiene_accion.accion.objetivo.dimencion.nombre %>"  class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
						<div class="col-lg-10">
							<input disabled="" type="text" value="<%= @orden.orden_tiene_accion.accion.nombre %>"  class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input disabled="" type="text" value="<%= @orden.orden_tiene_accion.accion.nombre %>"  class="form-control">
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="col-lg-6" id="pme_box_edit" style="display:none">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Nuevo Plan de Mejora</h2>
			</header>
			<div class="main-box-body clearfix">
				<div >
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Area</label>
						<div class="col-lg-10">
							<select id="sl_area" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Area</option>
								<% Area.todos(session[:periodo].id).each do |s| %>
								<option value="<%= s.id %>"><%= s.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Dimensión</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_dimencion" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Dimensión</option>
							</select>   
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_objetivo" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Objetivo</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<select id="sl_accion"  class="required form-control select-block-level input-transparent" name="accion_id_a">
							<option value="">Seleccione Accion</option>
						</select>
					</div>
				</div>
				<% if @orden.es_editable %>
				        <div class="form-group">
							<div class="col-lg-12 text-center">
								<button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Guardar Cambios</button>
							</div>
						</div>
					<% end %>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {

		$("#edit_pme").click(function() {
			if($(this).val() == 0){
				$("#pme_box").removeClass("col-lg-12");
				$("#pme_box").addClass("col-lg-6");
				$("#pme_box_edit").show("slow");
				$("#edit_pme").val(1);
			}else{
				$("#pme_box_edit").hide();
				$("#pme_box").removeClass("col-lg-6");
				$("#pme_box").addClass("col-lg-12");
				$("#edit_pme").val(0);
			}


		})

		$("#sl_area").change(function(){
			if($(this).val() == ""){
				$("#sl_dimencion").html("<option value=''>Seleccione Dimención</option>");
				$("#sl_dimencion").attr('disabled', true);
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_dimencion_path %>", { id: $(this).val() }, function(data){
					console.log(data)
					$("#sl_dimencion").removeAttr("disabled");
					$("#sl_dimencion").html(data.opciones);
				}) 
			} 
		})

		$("#sl_dimencion").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})

		$("#sl_objetivo").change(function(){
			if($(this).val() == ""){
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_accion_path %>", { id: $(this).val() }, function(data){
					console.log(data)
					$("#sl_accion").removeAttr("disabled");
					$("#sl_accion").html(data.opciones);
				}) 
			} 
		})

		$("#sl_accion").change(function(){
			if($(this).val() == ""){
				$("#pme_sl").show("slow");
			}else{
				$.getJSON("<%= presupuesto_accion_path %>", { id: $(this).val() }, function(data){
					$("#p_total").val(data.total);
					$("#p_gastado").val(data.gastado);
					$("#p_restante").val(data.restante);
				}) 
				
			} 
		})
		$("#ampliar_pme").click(function(){
			console.log("ampliar_pme")
			if($(this).val() == 1){
				console.log("1")
				$("#pme_sl").hide("slow");
				$("#ampliar_pme").val(0);
				$(".icono_pme").removeClass("fa-search-minus");
				$(".icono_pme").addClass("fa-search-plus");
				
			}else{
				console.log("0")
				$("#pme_sl").show("slow");
				$("#ampliar_pme").val(1);
				$(".icono_pme").removeClass("fa-search-plus ");
				$(".icono_pme").addClass("fa-search-minus ");
				
			}
			
		})

	})
</script>