<h1>Borrar Area</h1>

  
  

  <% if not flash[:notificacion].nil? %>   
      <div style="color:blue"><%= flash[:notificacion] %></div>

  <% end %>

  <form method="post" action="<%= destroy_area_path @a.id%>">
       <p>Nombre: <input type= "text" name= "tx_nombre" value="<%= @a.nombre %>"></p>

       
      
      

         <h2>ESTA SEGURO QUE DESEA BORRAR AREA? </h2>
         <button class="btn btn-primary" type= "submit">Borrar </button>
         <a class="btn btn-default" role="button" href= "<%= areas_path %>"> Volver </a>
       </p>




        
     
      

  </form>

  