


<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Editar Area</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        
<form method="post" action="<%= update_area_path @a.id%>">
          <div class="form-horizontal form-label-left">
            <div class="form-group">
              <label for="cod" class="control-label col-sm-4">Nombre: </label>
              <div class="col-sm-8">
                <input type="text" name="tx_nombre" value="<%= @a.nombre %>" class="form-control input-transparent" autocomplete="off">
              </div>
            </div>

            <div class="form-group">
              <label for="cod" class="control-label col-sm-4">Eliminar: </label>
              <div class="col-sm-8">
               <select name ="vigente" class=" form-control select-block-level input-transparent" style="width:auto">
                  <option value="true"> No </option>
                  <option value="false" <% if @a.es_vigente == false %> selected <% end %> > Si </option>
                </select>
              </div>
            </div>

            

            <div class="form-group">
              <label for="cod" class="control-label col-sm-4"></label>
              <div class="col-sm-8">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-save"></i> Guardar</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>



