
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Areas</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        
       <table class="table table-striped" role="grid" aria-describedby="datatable-table_info">
   <thead>
    <th>Nombre Dimension</th>
    <th>Opciones</th>
  </thead>
  <tbody>
       <% @area.each do |a| %>
           <tr>
              <td><%= a.nombre%></td>

              <td><a class="btn btn-primary" role="button" href="<%= editar_area_path a.id %>">Editar</a>
              <a class="btn btn-primary" role="button" href="<%= ver_area_dim_path a.id %>">Dimensiones</a></td> <%# cambiar la ruta %>
              

           </tr>
       <% end %>    
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>





<a class="btn btn-primary" role="button" href= "<%= nueva_area_path %>">Nueva Area </a>
