
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Nueva Dimension</h2>
      </header>
      <div class="main-box-body clearfix">
        
        <form method="post" action="<%= crear_area_path %>">
          <div class="form-horizontal form-label-left">
            <div class="form-group">
              <label for="cod" class="control-label col-sm-4">Nombre: </label>
              <div class="col-sm-8">
                <input type="text" value="" name="tx_nombre" class="form-control input-transparent" autocomplete="off">
              </div>
            </div>

            <div class="form-group">
              <label for="cod" class="control-label col-sm-4"></label>
              <div class="col-sm-8">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-save"></i> Guardar</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>





	
