
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">SubDimensiones de la Dimension </h2>
      </header>
      <div class="main-box-body clearfix">
        
<table class="table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="datatable-table_info">
  <thead>
    <th>Nombre Dimension </th>
    
    <th>Opciones </th>
    
  </thead>
  <tbody>

    

       <% @dimencion.each do |d| %>
          
          
           <tr>
              <td><%= d.nombre%></td>
              
              <td><a class="btn btn-primary" role="button" href="<%= editar_dimencion_path d.id %>">Editar</a></td>
             
         

           </tr>
           <%end%>
       
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>






<a class="btn btn-primary" role="button" href= "<%= nueva_dimencion_path @a.id %>">Nueva Dimension </a> 
<%# redirigir a crear una dimension para el area en especifico%>

<a class="btn btn-default" role="button" href="<%= areas_path %>">Volver</a>
