<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Ordenes</a></li>
			<li class="active"><span>Conducto Regular</span></li>
		</ol>
		<h1>Conducto Regular Orden</h1>
	</div>
</div>


<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Conducto actual </h2>
			</header>
			<div class="main-box-body clearfix">

				<div class="form-group" style="font-weight: bold">
					<div class="col-lg-1 text-center">#</div>
					<div class="col-lg-4">Bandeja</div>
					<div class="col-lg-3 text-center">Firma Funcionario?</div>
					<div class="col-lg-1 text-center"></div>					
				</div>
				<form action="<%= guarda_conducto_path %>" method="post">
				<div id="conducto">
				<% Conducto.actual.each_with_index do |c, x| %>
					<div class="form-group">
						<div class="col-lg-1 text-center num_etapa"><%= x + 1%>°</div>
						<div class="col-lg-4">
							<select class="form-control" name="conducto[][bandeja_id]">
								<% Bandeja.todas.each do |b| %>
								<option value="<%= b.id %>" <%=(b.id == c.bandeja_id ? "selected" : "") %>><%= b.nombre %></option>
								<% end %>
							</select>
						</div>
						<div class="col-lg-3 text-center">
							<div class="checkbox">
							    <label>
							      <input type="checkbox" <%=(c.firma ? "checked" : "") %> name="conducto[][firma]" value="1" > SI
							    </label>
							</div>
						</div>
				
						<div class="col-lg-1 text-center">
							<button type="button" class="btn-elimina-etapa btn btn-default btn-sm"><i class="fa fa-remove"></i></button>
						</div>				
					</div>
				<% end %>
				</div>

					<div class="form-group">
						<div class="col-lg-1 text-left"></div>
						<div class="col-lg-11 text-left">
							<button class="btn btn-sm btn-info" type="button" id="btn-agregar-etapa"><i class="fa fa-plus"></i> Agregar Etapa</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-11 text-center">
							<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar Conducto</button>
						</div>
					</div>
					</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function numero_etapas() {
		cantidad = 1
		 $("#conducto").find("div.num_etapa").each(function(i, v) {
		 		$(this).html(cantidad + "°")
		 		
	            cantidad++;

	        })
		 return(cantidad)
	}
	$(document).ready(function() {


		$("#conducto").on("click", "button.btn-elimina-etapa", function() {
			$(this).parent().parent().fadeOut(300, function(){ $(this).remove();numero_etapas()});
			
		})


		$("#btn-agregar-etapa").click(function() {
			$("#conducto").append('<div class="form-group">' +
						'<div class="col-lg-1 text-center num_etapa">' + numero_etapas() + '°</div>' +
						'<div class="col-lg-4">' +
							'<select class="form-control" name="conducto[][bandeja_id]">' +
								'<% Bandeja.todas.each do |b| %>' +
								'<option value="<%= b.id %>" ><%= b.nombre %></option>' +
								'<% end %>' +
							'</select>' +
						'</div>' +
						'<div class="col-lg-3 text-center">' +
							'<div class="checkbox">' +
							    '<label>' +
							      '<input type="checkbox" name="conducto[][bien]" value="1" > SI' +
							    '</label>' +
							'</div>' +
						'</div>' +
						'<div class="col-lg-3 text-center">' +
							'<div class="checkbox">' +
							    '<label>' +
							      '<input type="checkbox" name="conducto[][cometido]" value="1" > SI' +
							    '</label>' +
							'</div>' +
						'</div>	' +
						'<div class="col-lg-1 text-center">' +
							'<button type="button" class="btn-elimina-etapa btn btn-default btn-sm"><i class="fa fa-remove"></i></button>' +
						'</div>' +				
					'</div>')
		})
		

	$(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });
	

	})
</script>
