<%= render partial: "partials/mensajes" %>
<form role="form" action="<%= login_index_path %>" method="post">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" name="usuario" type="text" placeholder="Email ">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-key"></i></span>
                      <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div id="remember-me-wrapper">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="checkbox-nice">
                            <input type="checkbox" id="remember-me" checked="checked"/>
                            <label for="remember-me">
                              Recordarme
                            </label>
                          </div>
                        </div>
                        <a href="#" id="login-forget-link" class="col-xs-6">
                          Olvido password?
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="submit" class="btn btn-success col-xs-12">Login</button>
                      </div>
                    </div>

                  
                  </form>

