<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#"> Inicio</a></li>
			<li class="active"><span>Informes</span></li>
		</ol>
		<h1>Gastos por subvencion</h1>
	</div>  	
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Genera Informe <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="/informe/informe_gastos_subvencion.xlsx" method="get" class="validaf" >
					<div class="form-group">
						<label  class="col-lg-2 control-label">Establecimiento</label>
						<div class="col-lg-10">
							<select class="form-control" name="est">
							<option value="">Todos</option>
								<%= Establecimiento.todos.each do |e| %>
									<option value="<%= e.id %>"><%= e.nombre %></option>
								<% end %>
								</select>
						</div>
					</div>
				
					<div class="form-group">
						<label  class="col-lg-2 control-label">Subvencion</label>
						<div class="col-lg-10">
							<select class="form-control" name="sub">
							<option value="">Todas</option>
								<%= Subvencion.todos.each do |e| %>
									<option value="<%= e.id %>"><%= e.nombre %></option>
								<% end %>
								</select>
						</div>
					</div>

					
					<div class="form-group">
						<label class="col-lg-2 control-label">Formato</label>
						<div class="radio col-lg-10">
							<input type="radio" class="radios" name="optionsRadios" id="optionsRadios1" value="xls" checked="">
							<label for="optionsRadios1">
								Excel (xlsx)
							</label>
						</div>
						<label class="col-lg-2 control-label"></label>
						<div class="radio col-lg-10">
							<input type="radio" class="radios" name="optionsRadios" id="optionsRadios2" value="pdf">
							<label for="optionsRadios2">
								PDF
							</label>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-primary">Generar Informe</button>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function (){
		$('.radios').on('change', function() {
		   if($('input[name=optionsRadios]:checked').val() == "pdf"){
		   	$('form').get(0).setAttribute('action', '/informe/informe_gastos_subvencion.pdf')
		   }else{
		   	$('form').get(0).setAttribute('action', '/informe/informe_gastos_subvencion.xlsx')
		   }
		});
			
		
	})
</script>