<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Hoja1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
        <Cell><Data ss:Type="String">Subvencion</Data></Cell>
        <Cell><Data ss:Type="String">Categoria Gasto</Data></Cell>
        <Cell><Data ss:Type="String">Cantidad</Data></Cell>
        <Cell><Data ss:Type="String">Neto</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">OPI</Data></Cell>
        <Cell><Data ss:Type="String">Orden Compra</Data></Cell>
        <Cell><Data ss:Type="String">Establecimiento</Data></Cell>
      </Row>
    <% @ordenes.recepcion.recepcion_items.each do |a| %>
      <Row>
        <Cell><Data ss:Type="Date"><%= fecha(a.recepcion.created_at) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= a.recepcion.orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= a.recepcion.orden.subcategoria_gasto.nombre %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= a.cantidad %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= a.neto %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= a.total %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= a.recepcion.orden.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= a.recepcion.orden_compra %></Data></Cell>
        <Cell><Data ss:Type="String"><%= a.recepcion.orden.departamento.establecimiento.nombre %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
