
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#"> Inicio</a></li>
			<li class="active"><span>Informes</span></li>
		</ol>
		<h1>Informe Super de Educacion</h1>
	</div>  	
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Genera Informe <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="/informe/informe_supereduc.csv" method="get" class="validaf" >
					<div class="form-group">
						<label  class="col-lg-2 control-label">Establecimiento</label>
						<div class="col-lg-10">
							<select class="form-control" name="est">
							<option value="">Todos</option>
								<%= Establecimiento.todos.each do |e| %>
									<option value="<%= e.id %>"><%= e.nombre %></option>
								<% end %>
								</select>
						</div>
					</div>


					<div class="form-group">
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-primary">Generar Informe CSV</button>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
</div>
