<div class="row">
<div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Subvencion Base <span></span></h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <div id="base">
                <div style="margin-bottom:5px">
                  <div class="form-inline" role="form">    
                    <div class="form-group" >
                      <input type="text" class="required form-control codigo" size="2" placeholder="Codigo" onKeyPress="return isNumberKey(event)">
                    </div>
                    <div class="form-group"  >
                      <select  name="base[][subvencion_base_id]" style="width: 200px;" disabled="" class="form-control sl_sb">
                        <option>Tipo de Enseñanza/Grado</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" disabled="" class="form-control required monto_base" size="7" placeholder="Monto" >
                        <input type="hidden" class="monto_base_real" name="base[][monto]">
                      </div>                    
                    </div> 
                    <div class="form-group">
                      <div class="input-group">
                      <input type="text" disabled class="form-control required porcentaje" name="base[][porcentaje]" size="3" placeholder="porcentaje" >
                      <span class="input-group-addon">%</span>
                      </div>                  
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text"  class="form-control required monto_asignado" size="7" placeholder="Asignado" >
                        <input type="hidden" class="monto_asignado_real" name="base[][asignado]">
                      </div>                    
                    </div> 
                    <button type="button" tabindex="-1" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
              </div>
              <div style="margin-bottom:5px " >
                <button type="button" class="btn btn-success btn-xs" id="agregar_base"><i class="fa fa-plus"></i> Agregar</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Total Pagado:</label>
            <div class="col-lg-10">
              <div class="form-inline" role="form">    
                <div class="form-group " >
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control " value="0" size="20" readonly="" name="solicitado" id="total_base">
                    <input type="hidden" id="total_base_real">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Total Asignado:</label>
            <div class="col-lg-10">
              <div class="form-inline" role="form">    
                <div class="form-group " >
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control " value="0" size="20" readonly="" name="solicitado" id="total_asignado">
                    <input type="hidden" id="total_asignado_real">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

<div class="row ">
<div class="col-lg-12">
      <div class="main-box">
        <header class="main-box-header clearfix">
          <h2>Aportes Adicionales</h2>
        </header>
        <div class="main-box-body clearfix">

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-8 control-label">% INCREMENTO DE ZONA</label>
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control required valor_a" size="7"  placeholder="Monto" id="incremento_puntos"  >
                <input type="hidden" name="liq[incremento_zona]" id="incremento" >
              </div>   
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-8 control-label">DESEMPEÑO DIFICIL</label>
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control required valor_a" size="7" placeholder="Monto" id="desempeno_puntos" >
                <input type="hidden" name="liq[desempeno_dificil]" id="desempeno" >
              </div>      
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-8 control-label">ADICIONAL ESPECIAL LEY 19.410</label>
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control required valor_a" size="7" placeholder="Monto" id="especial_puntos" >
                <input type="hidden" name="liq[adicional_especial]" id="especial">
              </div>   
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-8 control-label">NO DOCENTES LEY 19.464/96</label>
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control required valor_a" size="7" placeholder="Monto" id="no_docentes_puntos" >
                <input type="hidden" name="liq[no_docentes]" id="no_docentes" >
              </div>   
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-8 control-label"><b>SUB - TOTAL APORTES ADICIONALES</b></label>
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control required valor_a" size="7" placeholder="Monto" id="sub_total_puntos" >
                <input type="hidden" name="liq[sub_total_aportes]" id="sub_total" >
              </div>     
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="col-lg-8 control-label"><b>SUB - TOTAL PAGOS</b></label>
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control required valor_a" size="7" placeholder="Monto" id="sub_total_pagos_puntos">
                <input type="hidden"name="liq[sub_total_pagos]" id="sub_total_pagos" value="0">
              </div>    
            </div>
          </div>


        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript">

  $(document).ready(function() {

    $("#base").on("change", "input.codigo", function(){
        $selector = $(this).parent().next().find("select.sl_sb");
        $monto = $(this).parent().next().next().find("input.monto_base");
        $porcentaje = $(this).parent().next().next().next().find("input.porcentaje");
        $selector.empty();
        $cod = $(this).val();
        $input = $(this);
        $.getJSON("<%= get_subvencion_base_path %>", { id: $(this).val() }, function(data){


            
            if(data.length > 0){
              $.each(data, function(index, value) {

                $selector.append("<option value='" + value.id + "'>" + value.nombre + " (" + value.porcentaje + "%)</option>");
                if(index > 0){
                  $selector.prop( "disabled", false );
                }
                if(index == 0){
                  $.getJSON("<%= get_porcentaje_base_path %>", { id: value.id }, function(data){
                    $selector.prop( "disabled", false );
                    $porcentaje.prop( "disabled", false );
                    $porcentaje.val(data.porcentaje)
                  }) 
                }
              })
              $monto.prop( "disabled", false );
              if(data.length > 1){
                $selector.select().focus();
              }else{
                $monto.select().focus();
              }
              
              
            }else{
              alertify.alert("No existe Subvencion asociada al codigo " + $cod + "");
              $input.select().focus();
            }
            
        }) 
    })

    $("#base").on("change", "select.sl_sb", function(){
      $porcentaje = $(this).parent().next().next().find("input.porcentaje");
      $.getJSON("<%= get_porcentaje_base_path %>", { id: $(this).val() }, function(data){
        $porcentaje.prop( "disabled", false );
        $porcentaje.val(data.porcentaje)
      }) 
    })



    $("#agregar_base").click(function() {
      $("#base").append('<div style="margin-bottom:5px">' +
        '<div class="form-inline" role="form">' +   
        '<div class="form-group" >' +
        '<input type="text" class="required form-control codigo" size="2" placeholder="Codigo" onKeyPress="return isNumberKey(event)"> ' +
        '</div> ' +
        '<div class="form-group"  >' +
        '<select style="width: 200px;" name="base[][subvencion_base_id]" disabled="" class="form-control sl_sb"><option>Tipo de Enseñanza/Grado</option></select>'+
        '</div> ' +
        '<div class="form-group">' +
        '<div class="input-group">' +
        '<span class="input-group-addon">$</span>' +
        '<input type="text" disabled class="form-control required monto_base" size="7" placeholder="Monto" > ' +
        '<input type="hidden"  class="monto_base_real" name="base[][monto]"> ' +
        '</div>' +                    
        '</div> ' +
        '<div class="form-group">' +
        '<div class="input-group">' +
        '<input type="text" disabled class="form-control required porcentaje" name="base[][porcentaje]" size="3" placeholder="porcentaje" > ' +
        '<span class="input-group-addon">%</span>' +
        '</div>' +                    
        '</div>' +
        ' <div class="form-group">' +
        '<div class="input-group">' +
          '<span class="input-group-addon">$</span>' +
          '<input type="text"  class="form-control required monto_asignado" size="7" placeholder="Asignado" >' +
          '<input type="hidden" class="monto_asignado_real" name="base[][asignado]">' +
        '</div>' +                    
      '</div>' +
        ' <button type="button" tabindex="-1" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>' +
        '</div>' +
        '</div>')
    })

 function recalcular() {
        // Los totales
        var neto = 0;
        var cantidad = 0;
        $("#base").find("input.monto_base_real").each(function(i, v) {
          neto += parseInt(v.value);
          cantidad++;
        })
        var total = neto
      //  neto = Math.round(total / 1.19)
       // iva = Math.round(neto * 0.19);
       total = parseInt(total)
       $("#total_base").val(puntitos(total));
       $("#total_base_real").val(total);

       $("#total_pagado_puntos").val(puntitos(total));
       $("#total_pagado").val(total);

       var neto_asignado = 0;
        $("#base").find("input.monto_asignado_real").each(function(i, v) {
          neto_asignado += parseInt(v.value);
        })
        var total_asignado = neto_asignado
      //  neto = Math.round(total / 1.19)
       // iva = Math.round(neto * 0.19);
       total_asignado = parseInt(total_asignado)
       $("#total_asignado").val(puntitos(total_asignado));
       $("#total_asignado_real").val(total_asignado);

       $("#total_total_asignado_puntos").val(puntitos(total_asignado));
       $("#total_total_asignado").val(total_asignado);


       porcentaje = parseInt($("#porcentaje_daem").val());
      cien = 100
      porcentaje = parseInt(porcentaje) / parseInt(cien);
      $monto = parseInt($("#total_total_asignado").val());
      daem = $monto * porcentaje
      daem = parseInt(daem)
      $("#total_daem_puntos").val(puntitos(daem));
      $("#total_daem").val(daem);

      porcentaje_zona = (20 / 100)

      incremento = (parseInt(total) * porcentaje_zona)
      incremento = parseInt(incremento)
      $("#incremento").val(incremento);
      $("#incremento_puntos").val(puntitos(incremento))

     }

    $("#base").on("click", "button.remove_line", function() {
      $(this).parent().remove();
      recalcular()
    })
    $("#base").on("change", "select.sl_sb", function(){
      $(this).parent().next().find("input.monto_base").select().focus();
    })

    $("#base").on("change", "input.monto_base", function(){
      $monto = $(this).val().replace(/\./g,'');
      $(this).parent().find("input.monto_base_real").val($monto)
      $(this).val(puntitos($monto));
      porcentaje = parseInt($(this).parent().parent().next().find("input.porcentaje").val());
      $monto = parseInt($monto);
      cien = 100
      porcentaje = parseInt(porcentaje) / parseInt(cien);
      asignado = $monto * porcentaje
      asignado = parseInt(asignado);
      $(this).parent().parent().next().next().find("input.monto_asignado_real").val(asignado)
      $(this).parent().parent().next().next().find("input.monto_asignado").val(puntitos(asignado))
      recalcular();
    })

    $("#base").on("change", "input.porcentaje", function(){
      porcentaje = parseInt($(this).val());
      $monto  = parseInt($(this).parent().parent().prev().find("input.monto_base_real").val());
      console.log($monto)
      cien = 100
      porcentaje = parseInt(porcentaje) / parseInt(cien);
      asignado = $monto * porcentaje
      asignado = parseInt(asignado);
      $(this).parent().parent().next().find("input.monto_asignado_real").val(asignado)
      $(this).parent().parent().next().find("input.monto_asignado").val(puntitos(asignado))
      recalcular();
    })




     $("#incremento_puntos").change(function(){
        $monto = $(this).val().replace(/\./g,'');
        $("#incremento").val($monto)
        $(this).val(puntitos($monto));
      })

      $("#desempeno_puntos").change(function(){
        $monto = $(this).val().replace(/\./g,'');
        $("#desempeno").val($monto)
        $(this).val(puntitos($monto));
      })

      $("#especial_puntos").change(function(){
        $monto = $(this).val().replace(/\./g,'');
        $("#especial").val($monto)
        $(this).val(puntitos($monto));
      })

      $("#no_docentes_puntos").change(function(){
        $monto = $(this).val().replace(/\./g,'');
        $("#no_docentes").val($monto)
        $(this).val(puntitos($monto));
      })

      $("#sub_total_puntos").change(function(){
        $monto = $(this).val().replace(/\./g,'');
        $("#sub_total").val($monto)
        $(this).val(puntitos($monto));
      })

      $("#sub_total_pagos_puntos").change(function(){
        $monto = $(this).val().replace(/\./g,'');
        $("#sub_total_pagos").val($monto)
        $(this).val(puntitos($monto));
        calcular_total()

      })
   
   })
</script>