  <div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">PME</a></li>
            <li class="active"><span><%= @usuario_actual.departamento.establecimiento.nombre %></span></li>
        </ol>
        <h1>Plan de Mejoramiento Educativo</h1>
    </div>
</div>
<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Ingresar Objetivo <span></span></h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= crear_objetivo_path %>" method="post" class="validaf">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimension</label>
                    <div class="col-lg-10">
                        <select class="form-control required" name="" id="sl_area">
                            <option value="">Seleccione Dimension</option>
                            <% Area.todos(session[:periodo].id).each do |a| %>
                                <option value="<%= a.id %>"><%= a.nombre %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
                    <div class="col-lg-10">
                        <select disabled="" class="form-control required" name="dimencion" id="sl_dimension">
                            <option value="">Seleccione Subdimension</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control required" maxlength="800" placeholder="" name="tx_nombre">
                    </div>
                </div>

                
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit"class="btn btn-primary">Guardar Objetivo</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Objetivos ingresados</h2>

      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="datatable">
            <thead>
              <tr>
                <th>Nombre Objetivo</th>
                <th>Subdimension</th>
                <th>Dimension</th>
                <th>Acciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% if not @objetivos.blank? %>
              <% @objetivos.each do |o| %>
                <tr>
                  <td><div class='edit_nombre tool' id='<%= o.id %>' rel="tooltip" title="Click para editar..." ><%= o.nombre %></div></td>
                  <td><%= o.dimencion.nombre %></td>
                  <td><%= o.dimencion.area.nombre %></td>
                  <td><%= o.accions.size %></td>
                  <td>
                  <form action="<%= borrar_objetivo_path o.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar el obetivo <%= o.nombre %>?');">
                    <button type="submit" class="btn btn-danger ">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </form>
                    
                  </td>
                </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

     $('.tool').tooltip({
    'placement':'top',
    delay: { show: 500, hide: 100 } 
});
   $("#datatable tbody").on("click", ".edit_nombre",function() {
    $(this).editable('<%= jeditable_nombre_objetivo_path %>', { 
       id   : 'elementid',
       name : 'newvalue',
   });    
   });         


    $("#sl_area").change(function(){
      if($(this).val() == ""){
        $("#sl_dimension").html("<option value=''>Seleccione dimension</option>");
        $("#sl_dimension").attr('disabled', true);
      }else{
        $.getJSON("<%= sl_dimencion_path %>", { id: $(this).val() }, function(data){
          $("#sl_dimension").removeAttr("disabled");
          $("#sl_dimension").html(data.opciones);
        }) 
      } 
    })

    $(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });
  })
</script>