
<form action="<%= termina_decreto_path @orden.id %>" method="post">
<div class="row">
	<div class="col-md-12">
		<div class="row form-horizontal">
			<div class="col-lg-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2> <span>Espera Decreto</span></h2>
					</header>
					<div class="main-box-body clearfix">
					<div class="form-group">
					<label  class="col-lg-2 control-label">Comentario</label>
					<div class="col-lg-10">
					<textarea class="form-control required" maxlength="800" name="comentario"></textarea>
						
					</div>
				</div>
					
					<div class="form-group">
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" name="btn" value="aprobar"class="btn btn-primary">Terminar OPI</button>
							
							<%= link_to 'Volver', :back, :class => "btn btn-default" %>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>