
<form action="<%= sigue_conducto_path @orden.id %>" method="post" enctype="multipart/form-data">
<div class="row">
	<div class="col-md-12">
		<div class="row form-horizontal">
			<div class="col-lg-12">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2> <span>Adquisiciones Gestionar</span></h2>
					</header>
					<div class="main-box-body clearfix">


<div class="form-group">
	<label  class="col-lg-2 control-label">Accion:</label>
	<div class="col-lg-10">
		<select class="form-control" name="accion" id="accion_opi">
			<option>Seleccione</option>
			<% if @orden.estado == "Espera decreto" %>
			<option value="Licitar">Enviar a Licitación</option>
			<option value="Comprar">Ingresar Orden de Compra y Terminar</option>
			<option value="oc">Ingresar Orden de Compra </option>
			<% else %>
			<% if get_siguiente_etapa(@orden.id) != "Terminar OPI aprobada" %>
				<option value="Aprobar">Aprobar y Enviar OPI (<%= get_siguiente_etapa(@orden.id) %>)</option>
			<% end %>
			<option value="Comprar">Ingresar Orden de Compra y Terminar OPI</option>
			<option value="oc">Ingresar una Orden de Compra (OPI continuara en bandeja) </option>
			<option value="Espera decreto">Enviar a Esperar decreto</option>
			<option value="Licitar">Enviar a Licitación</option>
			
			<option value="Rechazar">Rechazar y Devolver OPI a Establecimiento</option>
			<% 
				anterior = get_etapa_anterior(@orden.id) 
				if not anterior.blank?
			%>
			<option value="Devolver">Devolver a Etapa Anterior (<%= anterior %>)</option>
			<% end %>
			
			<option value="Consulta">Enviar a consulta</option>
		
			<% end %>
			
			
			
		</select>
	</div>
</div>
<div class="form-group" id="destino_consulta" style="display: none">
	<label  class="col-lg-2 control-label">Consultar a:</label>
	<div class="col-lg-10">
		<select class="form-control" name="consulta" >
			<option value="">Seleccione Funcionario</option>
			<option value="<%= @director.id %>"><%= @director.apaterno.upcase %> <%= @director.amaterno.upcase %> <%= @director.nombre.upcase %> - <%= @director.departamento.nombre.upcase %> <%= @director.departamento.establecimiento.nombre.upcase %> (DIRECTOR)</option>
			<% if @director.id != @emisor.id %>
			<option value="<%= @emisor.id %>"><%= @emisor.apaterno.upcase %> <%= @emisor.amaterno.upcase %> <%= @emisor.nombre.upcase %> - <%= @emisor.departamento.nombre.upcase %> <%= @emisor.departamento.establecimiento.nombre.upcase %> (EMISOR)</option>
			<% end %>
			<option disabled>───────────────────────────────</option>
			<% Usuario.daem.each do |u| %>
        		<option value="<%= u.id %>"><%= u.apaterno.upcase %> <%= u.amaterno.upcase %> <%= u.nombre.upcase %> - <%= u.departamento.nombre.upcase %></option>
        	<% end %>

		</select>
	</div>
</div>

<div style="display:none" id="compra">
	<div id="ordenes">
		<div class="form-group" >
			<label  class="col-lg-2 control-label">ID OC:</label>
			<div class="col-lg-10">
				<input type="text" id="oc_mercado"  name="compra[orden_compra]" class="form-control required">
			</div>
		</div>
		<div class="form-group" >
			<label  class="col-lg-2 control-label">Fecha OC:</label>
			<div class="col-lg-10">
				<input type="date" id="oc_fecha" placeholder="Ej. 15/03/2015"  name="compra[fecha]" class="form-control required">
			</div>
		</div>
		<div id="oc_en_usd" style="display: none">
			<div class="form-group" >
				<label  class="col-lg-2 control-label">Tipo Moneda:</label>
				<div class="col-lg-10">
					<input type="text" readonly="" id="oc_tipo_moneda"  name="compra[tipo_moneda]" placeholder="Ej. 15/03/2015"  class="form-control" value="">
				</div>
			</div>
			<div class="form-group" >
				<label  class="col-lg-2 control-label">Valor Dolar:</label>
				<div class="col-lg-10">
					<input type="text" id="oc_dolar"  name="compra[dolar]" class="form-control required">
				</div>
			</div>
			<div class="form-group" >
				<label  class="col-lg-2 control-label">Monto en Dolar:</label>
				<div class="col-lg-10">
					<input type="text" id="monto_dolar"  name="compra[monto_dolar]" class="form-control required">
				</div>
			</div>
		</div>
		<div class="form-group" >
			<label  class="col-lg-2 control-label">Monto OC:</label>
			<div class="col-lg-10">
				<input type="number" id="oc_monto"  name="compra[monto]" class="form-control required">
			</div>
		</div>
		
		<div class="form-group" >
			<label  class="col-lg-2 control-label">Adjuntar OC:</label>
			<div class="col-lg-10">
				<input type="file"  name="doc[archivo]" class="form-control required">
			</div>
		</div>
	
	</div>
		<!--
	<hr />
	<div class="form-group" >
		<label  class="col-lg-2 control-label"></label>
		<div class="col-lg-10">
			<button type="button" class="btn btn-success btn-sm" id="btn_orden"><i class="fa fa-plus"></i> Agregar otra orden </button>
		</div>
	</div>
	-->
</div>	
<div style="display:none" id="licitacion">
	<div class="form-group" >
		<label  class="col-lg-2 control-label">ID Mercado Publico:</label>
		<div class="col-lg-10">
			<input type="text"  name="licitacion[][cod]" class="form-control required">
			<input type="hidden" value="-"  name="licitacion[][url]" class="form-control required">

		</div>
	</div>

	<div class="form-group" >
		<label  class="col-lg-2 control-label">Fecha Inicio:</label>
		<div class="col-lg-10">
			<div class="input-group">
				<input type="date" class="form-control required" placeholder="Desde..." name="licitacion[][inicio]">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="form-group" >
		<label  class="col-lg-2 control-label">Fecha Termino:</label>
		<div class="col-lg-10">
			<div class="input-group">
				<input type="date" class="form-control required" placeholder="hasta..." name="licitacion[][termino]">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<hr />
	<div class="form-group" >
		<label  class="col-lg-2 control-label"></label>
		<div class="col-lg-10">
			<button type="button" class="btn btn-success btn-sm" id="btn_licitacion"><i class="fa fa-plus"></i> Agregar otra licitación </button>
		</div>
	</div>
</div>
<div class="form-group">
						<label  class="col-lg-2 control-label">Comentario:</label>
						<div class="col-lg-10">
							<input type="text" name="comentario" value=" " class="form-control">
						</div>
					</div>
<div class="form-group">
	<label  class="col-lg-2 control-label"></label>
	<div class="col-lg-10">
		<button type="submit" id="enviar_btn" class="btn btn-primary">Enviar</button>

		<%= link_to 'Volver', :back, :class => "btn btn-default" %>
	</div>
</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$("#oc_mercado").change(function(){
			url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?codigo=' + $("#oc_mercado").val() + '&ticket=9CBA3DC3-8095-4BD9-BD61-F37046C6F490'
			$.getJSON(url, function(data){
				console.log(data.Cantidad)
				$.each(data.Listado, function(index, v) { 
					$("#oc_monto").val(v.Total)
					date = new Date(v.Fechas.FechaCreacion)
					year = date.getFullYear();
					month = date.getMonth()+1;
					dt = date.getDate();

					if (dt < 10) {
					  dt = '0' + dt;
					}
					if (month < 10) {
					  month = '0' + month;
					}

					console.log(year+'-' + month + '-'+dt);
					$("#oc_fecha").val(year+'-' + month + '-'+dt)
					if(v.TipoMoneda == "USD"){
						$("#oc_en_usd").show()
						$("#oc_tipo_moneda").val("US Dollar")
						url_dolar = 'https://mindicador.cl/api/dolar/' + dt + '-' + month + '-' + year + ''
						$.getJSON(url_dolar, function(dolar){
							$.each(dolar.serie, function(i, x) { 
								$("#oc_dolar").val(x.valor)
								$("#monto_dolar").val(v.Total)
								monto_total = x.valor * v.Total
								$("#oc_monto").val(parseInt(monto_total));
							})
						})
					}else{
						$("#oc_tipo_moneda").val("CLP")
					}
				})
			})
		})
})
</script>