<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Ordenes de Compra</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
          
        <table class="table table-striped tabla_ordenes" id="datatable">
            <thead>
              <tr>
                <th style="width:85px !important">OC</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Fecha</th>
                <th class="text-center" style="width:85px !important">estado</th>
                <th class="text-center">OPI</th>
                <th class="text-center">Subvencion</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @adquisiciones.each do |a| %>
                <tr>
                  <td>
                    <%= a.orden_compra %>
                  </td>
                  <td class="text-left">
                    <%= dinero(a.monto.to_i) %>
                  </td>
                  <td class="text-left">
                    <%= fecha(a.fecha) %>
                  </td>
                  <td class="text-left">
                    <% if a.eliminada %>
                      <span class="label label-danger">Eliminada</span>
                      <div><%= a.motivo %></div>
                    <% else %>
                      <span class="label label-success">Vigente</span>
                    <% end %>
                  </td>
                  <td class="text-left">
                    <%= a.orden_id %>
                  </td>
                  <td class="text-left">
                    <%= a.orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>
                  </td>
                  <td class="text-left">
                  <% if !a.orden_compra_doc.blank? %>
                <a target="_blank" href="<%= a.orden_compra_doc.archivo %>"><i class="fa fa-cloud-download"></i> Descargar</a>
                <% end %>
                <% if @usuario_actual.departamento_id == 1 || @usuario_actual.departamento_id == 6 %>
                <!--
                <a href="#" data-toggle="modal" data-target="#EliminarOrden" class="eliminar_oc"><i class="fa fa-trash"></i> Eliminar</a>
                -->
                <input type="hidden" name="id_oc_hide" value="<%= a.id %>">
                <input type="hidden" name="number_oc_hide" value="<%= a.orden_compra %>">
                <% end %>
                  
                    <a href="<%= ver_opi_path a.orden_id %>"><i class="fa fa-search"></i> Ver </a>
                  </td>
                
                </tr>
              <% end %>
            </tbody>
          </table>


      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="EliminarOrden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Orden <strong><span class="num_oc"></span></strong></h4>
      </div>
      <form action="<%= elimina_orden_path %>" method="post" id="elimina_oc_form">
      <div class="modal-body">
          <div class="alert alert-danger" id="error_motivo" style="display:none">
        
          <h4><i class="fa fa-ban"></i> <strong>Error!</strong></h4>
          <p>Debe especificar el motivo</p>
      </div>
        <div class="form-group">
          <label for="motivo">Motivo:</label>
            <input type="text" class="form-control" name="motivo" id="motivo">
            <input type="hidden" name="id" value="" id="oc_id_modal">
                           
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </div>
      </form>
    </div>
  </div>
</div>













<script type="text/javascript">



// pre-submit callback 
function showRequest(formData, jqForm, options) { 

        $("#error_motivo").hide(); 
        
        if($("#motivo").val() == ""){
            $("#error_motivo").show("slow"); 
            return false; 
          }else{
            return true; 
          }
        
} 
 
// post-submit callback 
function showResponse(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){
    $('#EliminarOrden').modal('hide')

    $("table.tabla_ordenes tbody").find("input[name^='id_oc_hide']").each(function(i, v) {
            if(v.value == responseText.id){
                $(this).parent().prev().prev().prev().html('<span class="label label-danger">Eliminada</span><div>' + responseText.motivo + '</div>')
                $(this).parent().find('a.eliminar_oc').hide("")
                $(this).parent().find('a.eliminar_oc').hide("")
            }
        })

  }
}


$(document).ready(function() {

      var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
        dataType:  'json'
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 


 
    // bind to the form's submit event 
    $('#elimina_oc_form').submit(function() { 
        $(this).ajaxSubmit(options); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 


  $('#datatable').DataTable({
    "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

  $(".eliminar_oc").click(function  () {
    $id = $(this).parent().find("input[name^='id_oc_hide']").val();
    $num = $(this).parent().find("input[name^='number_oc_hide']").val();
    $("#oc_id_modal").val($id)
    $(".num_oc").html($num)
  })

})
</script>


