
<div class="form-horizontal">
  <div class="col-lg-12">
    <div class="main-box">
      <header class="main-box-header clearfix">
        <h2>Usuarios DADOS DE BAJA</h2>

      </header>

      <div class="main-box-body clearfix">
      <a href="<%= nuevo_usuario_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Registrar nuevo Empleado </a>
        <table class="table table-striped" id="datatable" data-source="<%= @url %>">
            <thead>
              <tr>
                <th class="text-left">Rut</th>
                <th class="text-left">Nombres</th>
                <th class="text-left">A. Paterno</th>
                <th class="text-left">A. Materno</th>
                <th class="text-left">Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% Usuario.bajas.each do |e| %>
              <tr>
                <td><%= e.rut %></td>
                <td><%= e.nombre %></td>
                <td><%= e.apaterno %></td>
                <td><%= e.amaterno %></td>
                <td><%= e.email %></td>
                <td><a href="<%= editar_usuario_path e.id %>"><i class="fa fa-search"></i> </a></td>
              </tr>

            <% end %>
            </tbody>
          </table>

          <a href="<%= bajas_usuario_path %>" ><i class="fa fa-trash"></i> Listado Usuarios dados de baja </a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
        $('#datatable').dataTable();



})
</script>