

<div class="col-sm-12">
	<h1>Actualizar Empleado</h1>
</div>
<form action="<%= actualiza_password_path @usuario.id %>" method="post" id="new_pass">
<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Resetear Password</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					
					<div class="form-group" >
						<label for="password2" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-4">
							<input type="password" placeholder="" value="" name="password" id="password2" class="form-control required">
						</div>
						<label for="valida_pass2" class="col-sm-2 control-label">Valida password</label>
						<div class="col-sm-4">
							<input type="password" placeholder="" value="" id="valida_pass2" class="form-control required">
						</div>
					</div>

				</div>
				<div class="form-horizontal">
					
					<div class="form-group" >
						<label for="password" class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							<button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Actualizar Password</button>
						</div>
						<label for="valida_pass" class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							
						</div>
					</div>

				</div>


			</div>
		</div>
	</div>
</form>
<div class="col-sm-12">
	<div class="main-box clearfix">
		<header class="main-box-header clearfix">
			<h2>Firma Digital Funcionario</h2>
		</header>
		<div class="main-box-body clearfix form-horizontal">

				
				<% if not @usuario.firma_usuario.blank? %>	
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Firma Actual:</label>
						<div class="col-lg-3">
							<img src="<%= @usuario.firma_usuario.archivo.url %>" style="width: 200px;height: 100px" >
						</div>
						<div class="col-lg-7">
							<form method="post" enctype="multipart/form-data" action="<%= borra_firma_path @usuario.id %>">
								<button type="submit" class="btn btn-default"><i class="fa fa-remove"></i></button>
							</form>
						</div>
					</div>
				<% end %>
				<form method="post" enctype="multipart/form-data" action="<%= sube_firma_path @usuario.id %>">
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Imagen Firma:</label>
						<div class="col-lg-10">
							<input type="file" accept="image/x-png,image/gif,image/jpeg" name="doc[archivo]" class="form-control required">
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
						<div class="alert alert-info">
						<i class="fa fa-info-circle fa-fw fa-lg"></i>
						<strong>Importante!</strong> La firma debe estar encuadrada en una imagen de 600 X 300 Pixeles o en una proporción similar (2:1), en un fondo blanco y escaneada al menos en 300 ppp (dpi)
						</div>
						</div>
					</div>	
					<div class="form-group" >
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Subir</button>
						</div>
					</div>		
				</form>
						
		
		</div>

			


		
	</div>
</div>
<form action="<%= actualizar_usuario_path @usuario.id %>" method="post" id="new_empleado">
	


<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Datos personales</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="rut" class="col-sm-2 control-label">Rut</label>
						<div class="col-sm-4">
							<input type="text" placeholder="Ej. 12.345.678-9" maxlength="12" value="" name="emp[rut]" id="rut" class="form-control required ">
						</div>
						<label for="nombres" class="col-sm-2 control-label">Nombres</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[nombre]" id="nombres" class="form-control required">
						</div>

					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">A. Paterno</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[apaterno]" id="apaterno" class="form-control required">
						</div>
						<label for="amaterno" class="col-sm-2 control-label">A. Materno</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[amaterno]" id="amaterno" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label for="establecimiento" class="col-sm-2 control-label">Establecimiento</label>
						<div class="col-sm-4">
							<select class="form-control required" id="sel_establecimiento">
								<option value="" >Seleccione</option>
								<%= Establecimiento.todos.each do |e| %>
									<option value="<%= e.id %>" ><%= e.nombre %></option>
								<% end %>
							</select>
						</div>
						<label for="departamento" class="col-sm-2 control-label">Departamento</label>
						<div class="col-sm-4">
							<select class="form-control required" id="sel_dpto" disabled="" name="emp[departamento_id]">
								<option value="" >Seleccione departamento</option>
								
							</select>
						</div>
					</div>
					<div class="form-group">
						
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[email]" id="email" class="form-control required">
						</div>
					</div>


				
					<div class="form-group" id="bloque_pass">
						<label for="password" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-4">
							<input type="password" placeholder="" value=""  id="password" class="form-control required">
						</div>
						<label for="valida_pass" class="col-sm-2 control-label">Valida password</label>
						<div class="col-sm-4">
							<input type="password" placeholder="" name="emp[password]" value="" id="valida_pass" class="form-control required">
						</div>
					</div>

				</div>


			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Modulos</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="finanzas" class="col-sm-2 control-label">Finanzas</label>
						<div class="col-sm-4">
							<select name="finanzas" id="finanzas" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>
						<label for="admin" class="col-sm-2 control-label">Tesoreria</label>
						<div class="col-sm-4">
							<select name="tesoreria" id="tesoreria" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>

					</div>
					<div class="form-group">
						<label for="finanzas" class="col-sm-2 control-label">Adquisiciones</label>
						<div class="col-sm-4">
							<select name="adquisiciones" id="adquisiciones_sis" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>
						<label for="admin" class="col-sm-2 control-label">Admin</label>
						<div class="col-sm-4">
							<select name="admin" id="admin" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>

					</div>

					<div class="form-group" style="display:none" >
						<label for="dotacion" class="col-sm-2 control-label">Dotacion Docente</label>
						<div class="col-sm-4">
							<select name="dotacion" id="dotacion" class="form-control">
								<option value="No">No</option>
								<option value="Solicitar">Solicitar</option>
								<option value="Autorizar">Autorizar</option>
							</select>
						</div>
						<label for="admin" class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							
						</div>

					</div>
					
					

				

				</div>


			</div>
		</div>
	</div>

</form>






<div class="form-horizontal">
	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
			
			</header>
			<div class="main-box-body clearfix">
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Actualizar Datos Personales</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form action="<%= baja_path @usuario.id %>" method="post" id="dar_baja">
<input type="hidden" name="admin" value="1">
<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Dar de baja</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					
					<div class="form-group" >
						<label for="baja" class="col-sm-2 control-label">¿Dar de baja?</label>
						<div class="col-sm-4">
							<select name="baja" id="baja" class="form-control required">
								<option value="">Seleccione</option>
								<option value="1">Si</option>
								<option value="0">No</option>
							</select>
						</div>
						<label for="valida_pass2" class="col-sm-2 control-label"></label>
						<button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i> Guardar</button>
					</div>

				</div>
		


			</div>
		</div>
	</div>
</form>


<script type="text/javascript">

// Funcion antes de enviarse
function showRequest (formData, jqForm, options) { 

	var validator = $( "#new_empleado" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

  
    alertify.success("Se ha actualizado el usuario exitosamente", function(){
     	//document.location.href = "/empleados/"
  	});

   
  }else
   alertify.error("Error, no se ha actualizado el usuario, revise los campos ingresados");
}


	$(document).ready(function() {

		$("select#sel_establecimiento").change(function(){
		if($("select#sel_establecimiento").val() == ""){
			$("select#sel_dpto").val("");
			$("select#sel_dpto").attr("disabled", true);
		}else{
			$.get(
			"<%= get_dpto_path %>",
			{ id: $(this).val() },
			function(data){
				$("select#sel_dpto").removeAttr("disabled");
				$("select#sel_dpto").html(data);
			},
			"html"
			)	
		}	
	})

		$( "#new_pass" ).validate();
		$( "#dar_baja" ).validate();

		
		//Opciones jquery.forms
		    var options = { 
		        beforeSubmit:  showRequest,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_empleado').ajaxSubmit(options); 
		      })

		      $("#rut").Rut({
			    format: true,
			    on_error: function(){ 
			    	rut = $("#rut").val()
			    	$("#rut").val("");
			      $("#rut").focus().select();
			      alertify.alert("El Rut ingresado " + rut + " es incorrecto");
			      
			    },

			    
			  })

			  $("#valida_pass2").change(function() {
			  	if($("#valida_pass2").val() != $("#password2").val()){
			  		$("#valida_pass2").val("")
			  		$("#valida_pass2").focus().select();
			  		alertify.alert("Las passwords no coinciden");
			  		
			  	}
			  })


			  $("#usuario").change(function(){
			  	console.log($("#usuario").val())
				$.getJSON("<%= get_usuario_path %>", { usuario: $("#usuario").val() }, function(data){
				if(data.existe != "no"){
					$("#usuario").val("")
			  		$("#usuario").focus().select();
			  		alertify.alert("El nombre de usuario " + data.existe + " ya fue ocupado, seleccione otro");

			}
		})
		})

 <% if not @usuario.blank? %>
	$("#rut").val("<%= @usuario.rut %>")
	$("#nombres").val("<%= @usuario.nombre %>")
	$("#apaterno").val("<%= @usuario.apaterno %>")
	$("#amaterno").val("<%= @usuario.amaterno %>")
	$("#email").val("<%= @usuario.email %>")
	$("#sel_establecimiento").val(<%= @usuario.departamento.establecimiento.id %>)

	$.get(
			"<%= get_dpto_usuario_path %>",
			{ id: <%= @usuario.id %> },
			function(data){
				$("select#sel_dpto").removeAttr("disabled");
				$("select#sel_dpto").html(data);
			},
			"html"
			)	
		$("#admin").val(<%= @usuario.sistema.admin %>)
		$("#finanzas").val(<%= @usuario.sistema.finanzas %>)
		$("#adquisiciones_sis").val(<%= @usuario.sistema.adquisiciones %>)
		$("#tesoreria").val(<%= @usuario.sistema.tesoreria %>)

		<% if @usuario.sistema.dotacion == 1 %>
			<% if @usuario.sistema.dotacion_admin == 1 %>
				$("#dotacion").val("Autorizar");
			<% else %>
				$("#dotacion").val("Solicitar");
			<% end %>	
		<% end %>
	
 <% end %>

		$("#bloque_pass").remove()
	})
</script>
