

<div class="col-sm-12">
	<h1>Nuevo Usuario</h1>
</div>


<form action="<%= guardar_usuario_path %>" method="post" id="new_empleado">

	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Datos personales</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="rut" class="col-sm-2 control-label">Rut</label>
						<div class="col-sm-4">
							<input type="text" placeholder="Ej. 12.345.678-9" maxlength="12" value="" name="emp[rut]" id="rut" class="form-control required ">
						</div>
						<label for="nombres" class="col-sm-2 control-label">Nombres</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[nombre]" id="nombres" class="form-control required">
						</div>

					</div>
					<div class="form-group">
						<label for="apaterno" class="col-sm-2 control-label">A. Paterno</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[apaterno]" id="apaterno" class="form-control required">
						</div>
						<label for="amaterno" class="col-sm-2 control-label">A. Materno</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[amaterno]" id="amaterno" class="form-control required">
						</div>
					</div>
					<div class="form-group">
						<label for="establecimiento" class="col-sm-2 control-label">Establecimiento</label>
						<div class="col-sm-4">
							<select class="form-control required" id="sel_establecimiento">
								<option value="" >Seleccione</option>
								<%= Establecimiento.todos.each do |e| %>
									<option value="<%= e.id %>" ><%= e.nombre %></option>
								<% end %>
							</select>
						</div>
						<label for="departamento" class="col-sm-2 control-label">Departamento</label>
						<div class="col-sm-4">
							<select class="form-control required" id="sel_dpto" disabled="" name="emp[departamento_id]">
								<option value="" >Seleccione departamento</option>
								
							</select>
						</div>
					</div>
					<div class="form-group">
						
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-4">
							<input type="text" placeholder="" value="" name="emp[email]" id="email" class="form-control required">
						</div>
					</div>


				
					<div class="form-group" id="bloque_pass">
						<label for="password" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-4">
							<input type="password" placeholder="" value=""  id="password" class="form-control required">
						</div>
						<label for="valida_pass" class="col-sm-2 control-label">Valida password</label>
						<div class="col-sm-4">
							<input type="password" placeholder="" name="emp[password]" value="" id="valida_pass" class="form-control required">
						</div>
					</div>

				</div>


			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2><span>Modulos</span></h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="finanzas" class="col-sm-2 control-label">Finanzas</label>
						<div class="col-sm-4">
							<select name="finanzas" id="finanzas" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>
						<label for="admin" class="col-sm-2 control-label">Admin</label>
						<div class="col-sm-4">
							<select name="admin" id="admin" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>

					</div>

					<div class="form-group">
						<label for="finanzas" class="col-sm-2 control-label">Adquisiciones</label>
						<div class="col-sm-4">
							<select name="adquisiciones" id="adquisiciones_sis" class="form-control">
								<option value="0">No</option>
								<option value="10">Si</option>
							</select>
						</div>
						<label for="admin" class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							
						</div>

					</div>

					<div class="form-group" style="display:none" >
						<label for="dotacion" class="col-sm-2 control-label">Dotacion Docente</label>
						<div class="col-sm-4">
							<select name="dotacion" id="dotacion" class="form-control">
								<option value="No">No</option>
								<option value="Solicitar">Solicitar</option>
								<option value="Autorizar">Autorizar</option>
							</select>
						</div>
						<label for="admin" class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							
						</div>

					</div>
					

				

				</div>


			</div>
		</div>
	</div>


</form>





<div class="form-horizontal">
	<div class="col-sm-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
			
			</header>
			<div class="main-box-body clearfix">
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button id="crear_btn" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Empleado</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">

// Funcion antes de enviarse
function showRequest (formData, jqForm, options) { 

	var validator = $( "#new_empleado" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

  
    alertify.alert("Se ha creado el Usuario exitosamente", function(){
     	document.location.href = "/usuarios/"
  	});

   
  }else
   alertify.error(responseText.estado);
}


	$(document).ready(function() {


		$("select#sel_establecimiento").change(function(){
		if($("select#sel_establecimiento").val() == ""){
			$("select#sel_dpto").val("");
			$("select#sel_dpto").attr("disabled", true);
		}else{
			$.get(
			"<%= get_dpto_path %>",
			{ id: $(this).val() },
			function(data){
				$("select#sel_dpto").removeAttr("disabled");
				$("select#sel_dpto").html(data);
			},
			"html"
			)	
		}	
	})

		
		//Opciones jquery.forms
		    var options = { 
		        beforeSubmit:  showRequest,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


		      $("#crear_btn").click(function() {
			      $('#new_empleado').ajaxSubmit(options); 
		      })

		      $("#rut").Rut({
			    format: true,
			    on_error: function(){ 
			    	rut = $("#rut").val()
			    	$("#rut").val("");
			      $("#rut").focus().select();
			      alertify.alert("El Rut ingresado " + rut + " es incorrecto");
			      
			    },

			    
			  })

			  $("#valida_pass").change(function() {
			  	if($("#valida_pass").val() != $("#password").val()){
			  		$("#valida_pass").val("")
			  		$("#valida_pass").focus().select();
			  		alertify.alert("Las passwords no coinciden");
			  		
			  	}
			  })


			  $("#email").change(function(){
			  	console.log($("#email").val())
				$.getJSON("<%= get_usuario_path %>", { email: $("#email").val() }, function(data){
				if(data.existe != "no"){
					$("#email").val("")
			  		$("#email").focus().select();
			  		alertify.alert("El email " + data.existe + " ya fue ocupado, seleccione otro");

			}
		})
		})



	
	})
</script>
