<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="<%= pme_acciones_path @est.hex_url, :col => @est.hex_url, :dimension => @accion.pme_estrategia.pme_objetivo.pme_dimension_id %>">PME</a></li>
			<li><span><a href="<%= pme_ver_accion_path @est.hex_url, @accion.id %>">Accion</a></span></li>
			<li class="active"><span>Actividad</span></li>
		</ol>
		<h1>PME - Nueva Actividad</h1>
	</div>
</div>

<form action="<%= pme_crea_actividad_path @accion.id %>" method="post" id="pme_accion_form">
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Ingresar</h2>
			</header>
			<div class="main-box-body clearfix">
			 	

                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" value="<%= @accion.nombre %>" class="form-control " readonly="">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción Acción</label>
					<div class="col-lg-10">
						<textarea class="form-control required" rows="3" readonly="" ><%= @accion.descripcion %></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas Acción</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control" value="<%= fecha(@accion.desde) %> - <%= fecha(@accion.hasta) %>" placeholder="Desde..." readonly="">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Actividad</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" class="form-control required" name="actividad[nombre]" >
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción Act.</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="actividad[descripcion]" rows="3" ></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" class="form-control required" name="actividad[responsable_nombre]" >
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas Act.</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				
                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button id="crear_btn" class="btn btn-primary"><i class="fa fa-filter"></i> Crear Actividad</button>
                    </div>
                </div>
				
			
			</div>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">

function showRequest2(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#pme_accion_form" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Crear Accion');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha creado la actividad exitosamente", function(){
     document.location.href = "/plan-mejoramiento-educativo/<%= @usuario_actual.departamento.establecimiento.hex_url %>/ver/<%= @accion.id %>/accion/" + responseText.id + "/actividad"
  	});

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Crear Orden');
   alertify.error(responseText.estado);
	}
}


  $(document).ready(function() {

     //Opciones jquery.forms
    var options2 = { 
        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
        dataType:  'json' //tipo de dato a devolver
      }; 


      $("#crear_btn").click(function() {
	      $('#pme_accion_form').ajaxSubmit(options2); 
      })        


       $('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '01/03/<%= Time.now.year %>',
			    endDate: '05/04/<%= Time.now.year %>'
			});



   $("#dimension_sel").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
			}else{
				$.getJSON("<%= get_pme_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})


   $("#sl_objetivo").change(function(){
		if($(this).val() == ""){
			$("#sl_estrategia").html("").prop('disabled', true);
		}else{
			if($(this).val() == "0"){
				$("#sl_estrategia").prop('disabled', false);
				$("#sl_estrategia").html("<option value=''></option><option value='0'>Nueva Estrategia</option>");
			}else{
				$("#nuevo_objetivo").hide("slow");
				$.getJSON("<%= get_pme_estrategia_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_estrategia").prop('disabled', false);
						$("#sl_estrategia").html(data.opciones);
					}else{
						$("#sl_estrategia").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_estrategia").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
				}) 
			}
		} 
	})

   $("#sl_estrategia").change(function(){
		if($(this).val() == "0"){
			$("#nueva_estrategia").show("slow");
		}else{
			$("#nueva_estrategia").hide("slow");
		}	 
	})



  })
</script>