<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="<%= pme_acciones_path @est.hex_url, :col => @est.hex_url, :dimension => @accion.pme_estrategia.pme_objetivo.pme_dimension_id %>">PME</a></li>
			<li><span><a href="<%= pme_ver_accion_path @est.hex_url, @accion.id %>">Accion</a></span></li>
			<li class="active"><span>Actividad</span></li>
		</ol>
		<h1>PME - Ver Actividad</h1>
	</div>
</div>


<div class="row form-horizontal">
	<form action="<%= pme_actualiza_actividad_path @actividad.id %>" method="post" id="pme_accion_form">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Ingresar</h2>
			</header>
			<div class="main-box-body clearfix">
			 	

                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" value="<%= @accion.nombre %>" class="form-control " readonly="">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción Acción</label>
					<div class="col-lg-10">
						<textarea class="form-control required" rows="3" readonly="" ><%= @accion.descripcion %></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas Acción</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control" value="<%= fecha(@accion.desde) %> - <%= fecha(@accion.hasta) %>" placeholder="Desde..." readonly="">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Actividad</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" value="<%= @actividad.nombre %>" class="form-control required" name="actividad[nombre]" >
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción Act.</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="actividad[descripcion]" rows="3" ><%= @actividad.descripcion %></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" value="<%= @actividad.responsable_nombre %>" class="form-control required" name="actividad[responsable_nombre]" >
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas Act.</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<hr />

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Progreso</label>
					<div class="col-lg-10">
						<div class="input-group">
							<select class="form-control" name="actividad[avance]">
								<option value="0" <%=( @actividad.avance == "0" ? "selected" : "" ) %>>0%</option>
								<option value="20" <%=( @actividad.avance == "20" ? "selected" : "" ) %>>1% - 24%</option>
								<option value="40" <%=( @actividad.avance == "40" ? "selected" : "" ) %>>25% - 49%</option>
								<option value="70" <%=( @actividad.avance == "70" ? "selected" : "" ) %>>50% - 74%</option>
								<option value="90" <%=( @actividad.avance == "90" ? "selected" : "" ) %>>75% - 99%</option>
								<option value="100" <%=( @actividad.avance == "100" ? "selected" : "" ) %>>100%</option>
							</select>
						</div>
					</div>
				</div>

                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button id="crear_btn" class="btn btn-primary"><i class="fa fa-filter"></i> Guardar Cambios</button>
                    </div>
                </div>
				
			
			</div>
		</div>
	</div>
	</form>


	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Medios de Verificación</h2>
			</header>
			<div class="main-box-body clearfix">
			 	<form accept-charset="UTF-8" action="<%= subir_pme_actividad_doc_path @actividad.id %>" class="new_doc" id="new_doc" method="post" enctype="multipart/form-data">

                <div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripcion Doc.</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200"  class="form-control " name="doc[name]" >
					</div>
				</div>

				<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Archivo</label>
						<div class="col-lg-10">
							<input type="file" name="doc[archivo]" class="required form-control input-transparent">  
						</div>
					</div>

				<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-cloud-upload"></i> Subir</button>
						</div>
					</div>
			</form>
					<div class="form-group">
					
						<div class="col-lg-12">
							<table id="t_doc" class="table" role="grid" aria-describedby="datatable-table_info">
								<thead>
									<th>#</th>
									<th>Fecha</th>
									<th>Documento</th>
									<th>Subido por</th>
									<th>Enlace</th>
								</thead>
								<tbody>
									<% @actividad.pme_actividad_docs.each_with_index do |d, i| %>
									<tr>
									<td><%= i + 1 %></td>
									<td><%= d.created_at.strftime("%d/%m/%Y %H:%M") %></td>
									<td><%= d.name %></td>
									<td><%= d.usuario.nombre %> <%= d.usuario.apaterno %></td>
										<td>
										<a href='<%= d.archivo %>' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>
										<input type='hidden' name='id_doc' value='<%= d.id %>'> 
										<button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</button>
										</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>

			
				
				
			
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
// pre-submit callback 
function showRequest(formData, jqForm, options) { 

	var validator = $( "#new_doc" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}
      
     
} 
 


// post-submit callback 
function showResponse(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){

      $("table#t_doc tbody").append("<tr>" +
        "<td>" + responseText.numero + "</td>" +
        "<td>" + responseText.fecha + "</td>" +
        "<td>" + responseText.name + "</td>" +
        "<td>" + responseText.uploader + "</td>" +
        "<td>" +
          "<a href='" + responseText.url + "' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
          "<input type='hidden' name='id_doc' value='" + responseText.id + "'> <button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</buttton>" +
          "</td>" +
      "</tr>");
      $("#doc_orden").append("<input type='hidden' name='doc_guardar[][id]' value='" + responseText.id + "'>");	
      alertify.success("Se ha guardado el documento exitosamente");
  
  }
}

function showRequest2(formData, jqForm, options) { 

	$("#crear_btn").prop('disabled', true);
	$("#crear_btn").html('Enviando...');
	var validator = $( "#pme_accion_form" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		$("#crear_btn").prop('disabled', false);
		$("#crear_btn").html('Crear Accion');	
		return false;

	}




} 

// Funcion despues de enviarse 
function showResponse2(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    
    alertify.alert("Se ha guardado la actividad")
     $("#crear_btn").prop('disabled', false);
  		$("#crear_btn").html('Guardar Cambios');

   
  }else{
  $("#crear_btn").prop('disabled', false);
  $("#crear_btn").html('Crear Orden');
   alertify.error(responseText.estado);
	}
}


  $(document).ready(function() {


  	$("table#t_doc tbody").on("click", "button.borra_doc", function(){
		$id = $(this).parent().find("input[name^='id_doc']").val()
		$("#doc_orden").append("<input type='hidden' name='doc_borrar[id]' value='" + $id + "'>");		
		$(this).parent().parent().remove();

	})

    var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
        dataType:  'json'
    }; 
 
    // bind to the form's submit event 
    $('#new_doc').submit(function() { 
        $(this).ajaxSubmit(options); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 




     //Opciones jquery.forms
    var options2 = { 
        beforeSubmit:  showRequest2,  // Funcion a ejecutar antes de enviarse
        success:       showResponse2,  //Funcion a ejecutar despues de enviarse
        dataType:  'json' //tipo de dato a devolver
      }; 


      $("#crear_btn").click(function() {
	      $('#pme_accion_form').ajaxSubmit(options2); 
      })        


       $('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= fecha(@actividad.desde) %>',
			    endDate: '<%= fecha(@actividad.hasta) %>'
			});




  })
</script>