/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require font-awesome.min
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require dataTables/extras/dataTables.responsive
 *= require datepicker
 *= require daterangepicker
 *= require alertify
 *= require alertify.bootstrap
 *= require css
 *= require elements
 *= require layout
 *= require morris
 *= require nanoscroller
 *= require select2
 *= require select2-bootstrap
 */

.error { border-color: rgb(181, 101, 101) !important;color: rgb(181, 101, 101); }
.label-color { font-size: 100% !important;}
.table td {
	border-right: 1px solid #D4D4D4
}
.table thead th {
	border-right: 1px solid #D4D4D4
}

h2>span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px 5px;
}
h2 {
    border-bottom: 1px solid #C2C2C2;
    }
