<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>Gestionar orden Pedido N° <%= @orden.id %></span></li>
		</ol>
		<h1>Orden ID: <%= @orden.id %> | Periodo <%= @orden.periodo.anio %></h1>
	</div>
</div>


<form action="<%= enviar_licitacion_path @orden.id %>" class="gestionar_orden " id="gestionar_orden" method="post" onKeypress="if(event.keyCode == 13) event.returnValue = false;" enctype="multipart/form-data">
	<div class="row form-horizontal">
		<div class="col-lg-12">
			<% @orden.licitacions.each_with_index do |l, x| %>
			<div class="main-box">
				<header class="main-box-header clearfix">
					<h2>Licitación <%= x + 1 %>:  </h2>
				</header>
				<div class="main-box-body clearfix">	
					
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Cod Mercado Publico:</label>
						<div class="col-lg-10">
							<input type="text" value="<%= l.cod %>"  name="licitacion[][cod]" class="form-control required" readonly>
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">URL Mercado Publico:</label>
						<div class="col-lg-10">
							<div class="input-group">
						      <input type="text" value="<%= l.url %>"  name="licitacion[][url]" class="form-control required">
						      <span class="input-group-btn">
						        <a href="<%= l.url %>" target="_blank" class="btn btn-default"><i class="fa fa-arrow-right "></i></a>
						      </span>
						    </div><!-- /input-group -->	
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Fecha Inicio:</label>
						<div class="col-lg-10">
							<div class="input-group">
								<input type="date" class="form-control required" placeholder="Desde..." name="licitacion[][inicio]" value="<%= l.inicio.strftime('%Y-%m-%d') %>">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Fecha Termino:</label>
						<div class="col-lg-10">
							<div class="input-group">
								<input type="date" class="form-control required" placeholder="hasta..." name="licitacion[][termino]" value="<%= l.termino.strftime('%Y-%m-%d') %>">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label  class="col-lg-2 control-label">
						Estado:</label>
						<div class="col-lg-10">
							<select class="required form-control input-transparent estado_lic" name="licitacion[][estado]">
								<option value="">Seleccione Estado</option>
								<option value="Publicada" <% if l.estado == "Publicada" %> selected <% end %>>Publicada</option>
								<option value="Adjudicada" <% if l.estado == "Adjudicada" %> selected <% end %>>Adjudicada</option>
								<option value="Desierta" <% if l.estado == "Desierta" %> selected <% end %>>Desierta</option>
							</select>
						</div>
					</div>
				<% if l.estado == "Adjudicada" %>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Orden de Compra:</label>
						<div class="col-lg-10">
							<input type="text" value="<%= l.compra_licitacion.adquisicion.orden_compra %>" name="compra[][orden_compra]" class="form-control required">
							<input type="hidden"  name="compra[][mercado_publico]" value="<%= l.cod %>">
						</div>
					</div>
					
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Fecha:</label>
						<div class="col-lg-10">
							<input type="date" value="<%= l.compra_licitacion.adquisicion.fecha.strftime('%Y-%m-%d') %>" placeholder="Ej. 15/03/2015"  name="compra[][fecha]" class="form-control required">
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label">Monto Adjudicado:</label>
						<div class="col-lg-10">
							<input type="number" value="<%= l.compra_licitacion.adquisicion.monto %>"  onKeyPress='return isNumberKey(event)'  name="compra[][monto]" class="form-control required">
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="button" class="btn btn-default rm_licitacion">
							<i class="fa fa-trash"></i></button>
						</div>
					</div>
					<% else %>
					<div class="compra_licitacion" style="display: none">
						

						<div id="ordenes">
							<div class="form-group" >
								<label  class="col-lg-2 control-label">ID OC:</label>
								<div class="col-lg-10">
									<input type="text" id="oc_mercado"  name="compra[orden_compra]" class="form-control required">
								</div>
							</div>
							<div class="form-group" >
								<label  class="col-lg-2 control-label">Fecha OC:</label>
								<div class="col-lg-10">
									<input type="date" id="oc_fecha" placeholder="Ej. 15/03/2015"  name="compra[fecha]" class="form-control required">
								</div>
							</div>
							<div id="oc_en_usd" style="display: none">
								<div class="form-group" >
									<label  class="col-lg-2 control-label">Tipo Moneda:</label>
									<div class="col-lg-10">
										<input type="text" readonly="" id="oc_tipo_moneda"  name="compra[tipo_moneda]" placeholder="Ej. 15/03/2015"  class="form-control" value="">
									</div>
								</div>
								<div class="form-group" >
									<label  class="col-lg-2 control-label">Valor Dolar:</label>
									<div class="col-lg-10">
										<input type="text" id="oc_dolar"  name="compra[dolar]" class="form-control required">
									</div>
								</div>
								<div class="form-group" >
									<label  class="col-lg-2 control-label">Monto en Dolar:</label>
									<div class="col-lg-10">
										<input type="text" id="monto_dolar"  name="compra[monto_dolar]" class="form-control required">
									</div>
								</div>
							</div>
							<div class="form-group" >
								<label  class="col-lg-2 control-label">Monto OC:</label>
								<div class="col-lg-10">
									<input type="number" id="oc_monto"  name="compra[monto]" class="form-control required">
								</div>
							</div>
							
							<div class="form-group" >
								<label  class="col-lg-2 control-label">Adjuntar OC:</label>
								<div class="col-lg-10">
									<input type="file"  name="doc[archivo]" class="form-control required">
								</div>
							</div>
						
						</div>
					</div>
					<div class="form-group" >
						<label  class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="button" class="btn btn-default rm_licitacion">
							<i class="fa fa-trash"></i></button>
						</div>
					</div>

					<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">

      </header>
      <div class="main-box-body clearfix">
      <div id="licitacion" class="form-horizontal">

      </div>
       <div class="form-group" >
			<label  class="col-lg-2 control-label"></label>
			<div class="col-lg-10">
				<button type="button" class="btn btn-success btn-sm" id="btn_licitacion"><i class="fa fa-plus"></i> Agregar otra licitación nueva </button>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">

      </header>
      <div class="main-box-body clearfix">

        <div class="form-group">
			<div class="col-lg-12 text-center">
			<button type="submit" id="enviar_btn" class="btn btn-primary">Guardar</button>
				<%= link_to 'Volver', :back, :class => "btn btn-default" %>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
	<div id="doc_orden">
	</div>
</form>


<%= render "ordens/archivo" %>


<%= render "ordens/orden" %>

<%= render "ordens/movimientos" %>	



<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">

      </header>
      <div class="main-box-body clearfix">
        <div class="form-group">
			<div class="col-lg-12 text-center">
				<%= link_to 'Volver', :back, :class => "btn btn-default" %>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#oc_mercado").change(function(){
			url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?codigo=' + $("#oc_mercado").val() + '&ticket=9CBA3DC3-8095-4BD9-BD61-F37046C6F490'
			$.getJSON(url, function(data){
				console.log(data.Cantidad)
				$.each(data.Listado, function(index, v) { 
					$("#oc_monto").val(v.Total)
					date = new Date(v.Fechas.FechaCreacion)
					year = date.getFullYear();
					month = date.getMonth()+1;
					dt = date.getDate();

					if (dt < 10) {
					  dt = '0' + dt;
					}
					if (month < 10) {
					  month = '0' + month;
					}

					console.log(year+'-' + month + '-'+dt);
					$("#oc_fecha").val(year+'-' + month + '-'+dt)
					if(v.TipoMoneda == "USD"){
						$("#oc_en_usd").show()
						$("#oc_tipo_moneda").val("US Dollar")
						url_dolar = 'https://mindicador.cl/api/dolar/' + dt + '-' + month + '-' + year + ''
						$.getJSON(url_dolar, function(dolar){
							$.each(dolar.serie, function(i, x) { 
								$("#oc_dolar").val(x.valor)
								$("#monto_dolar").val(v.Total)
								monto_total = x.valor * v.Total
								$("#oc_monto").val(parseInt(monto_total));
							})
						})
					}else{
						$("#oc_tipo_moneda").val("CLP")
					}
				})
			})
		})
})
</script>



<script type="text/javascript">


// pre-submit callback 
function showRequest(formData, jqForm, options) { 

	var validator = $( "#new_doc" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}
      
     
} 
 


// post-submit callback 
function showResponse(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){

      $("table#t_doc tbody").append("<tr>" +
        "<td>" + responseText.name + "</td>" +
        "<td>" +
          "<a href='" + responseText.url + "' target='_blank' class='btn btn-default btn-sm'><i class='fa fa-cloud-download'></i> Descargar</a>" +
          "<input type='hidden' name='id_doc' value='" + responseText.id + "'> <button type='button' class='btn btn-default btn-sm borra_doc'><i class='fa fa-times'></i> Eliminar</buttton>" +
          "</td>" +
      "</tr>");
      $("#doc_orden").append("<input type='hidden' name='doc_guardar[][id]' value='" + responseText.id + "'>");	
      alertify.success("Se ha guardado el documento exitosamente");
  
  }
}

$(document).ready(function() {

	$(".estado_lic").change(function() {
		if($(this).val() == "Adjudicada"){
			$(this).parent().parent().parent().find("div.compra_licitacion").show("slow");
		}else{
			$(this).parent().parent().parent().find("div.compra_licitacion").hide("slow");
		}
	})

	$('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '<%= Time.now.day %>/<%= Time.now.month %>/<%= Time.now.year %>',
			    endDate: '<%= Time.now.day %>/<%= Time.now.month + 1 %>/<%= Time.now.year %>'
			});  

	$("#ordenes").on("click", "button.rm_orden", function() {
		$(this).parent().parent().parent().remove();
	})

	$("#licitacion").on("click", "button.rm_licitacion", function() {
		$(this).parent().parent().parent().remove();
	})
	$(".rm_licitacion").click( function() {
		$(this).parent().parent().parent().parent().remove();
	})
	$("#btn_licitacion").click(function() {
		$("#licitacion").append('<div><hr /><div class="form-group" >' +
						'<label  class="col-lg-2 control-label">Cod Mercado Publico:</label>' +
							'<div class="col-lg-10">' +
								'<input type="text"  name="licitacion[][cod]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">URL Mercado Publico:</label>' +
							'<div class="col-lg-10">' +
								'<input type="text"  name="licitacion[][url]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Fecha Inicio:</label>' +
							'<div class="col-lg-10">' +
								'<div class="input-group">' +
									'<input type="date" class="form-control required" placeholder="Desde..." name="licitacion[][inicio]">' +
									'<span class="input-group-addon"><i class="fa fa-calendar"></i></span>' +
								'</div>' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Fecha Termino:</label>' +
							'<div class="col-lg-10">' +
								'<div class="input-group">' +
									'<input type="date" class="form-control required" placeholder="hasta..." name="licitacion[][termino]">' +
									'<span class="input-group-addon"><i class="fa fa-calendar"></i></span>' +
								'</div>' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label class="col-lg-2 control-label"></label>' +
							'<div class="col-lg-10">' +
								'<button type="button" class="btn btn-default rm_licitacion"><i class="fa fa-minus"></i></button>' +
							'</div>' +
						'</div></div>')
	})

	$("#btn_orden").click(function() {
		$("#ordenes").append('<div><hr /><div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Orden de Compra:</label>' +
							'<div class="col-lg-10">' +
								'<input type="text"  name="compra[][orden_compra]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Fecha:</label>' +
							'<div class="col-lg-10">' +
								'<input type="date" placeholder="Ej. 15/03/2015"  name="compra[][fecha]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label">Monto:</label>' +
							'<div class="col-lg-10">' +
								'<input type="number"  name="compra[][monto]" class="form-control required">' +
							'</div>' +
						'</div>' +
						'<div class="form-group" >' +
							'<label  class="col-lg-2 control-label"></label>' +
							'<div class="col-lg-10">' +
								'<button type="button" class="btn btn-default rm_orden"><i class="fa fa-minus"></fa></button>' +
							'</div>' +
						'</div></div>')
	})

	$("#sl_accion_gestionar").change(function() {
		$("#licitacion").hide("slow");
		$("#destinos").hide("slow");
		$("#compra").hide("slow");
		if($(this).val() == "Consulta"){
			$("#destinos").show("slow")
		}else if($(this).val() == "Licitar"){
			$("#licitacion").show("slow");
		}else if($(this).val() == "Comprar"){
			$("#compra").show("slow");
		}else{
			$("#licitacion").hide("slow");
			$("#destinos").hide("slow");
			$("#compra").hide("slow");
		}
	})

	$("table#t_doc tbody").on("click", "button.borra_doc", function(){
		$id = $(this).parent().find("input[name^='id_doc']").val()
		$("#doc_orden").append("<input type='hidden' name='doc_borrar[id]' value='" + $id + "'>");		
		$(this).parent().parent().remove();

	})

    var options = { 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
        dataType:  'json'
    }; 
 
    // bind to the form's submit event 
    $('#new_doc').submit(function() { 
        $(this).ajaxSubmit(options); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

    $("#gestionar_orden").validate();

  });
  
  </script>  