<p><b>OPI:</b> <%= @orden.id %></p>
<p><b>Titulo:</b> <%= @orden.titulo %></p>
<p><b>Establecimiento:</b> <%= @orden.departamento.establecimiento.nombre %></p>
<p><b>Subvencion:</b> <%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %> </p>
<p><b>Favor de ingresar al sistema para ver y responder a la consulta</b> </p>
<hr />
<p><i>Este es un email de notificacion autogenerado por el Sistema de OPI Digital DAEM, favor no responder.</i></p>
<p style="font-size: 85%"><i>Tildes omitidos intencionalmente por sistema</i></p>