<p><b>OPI:</b> <%= @e.orden_id %></p>
<p><b>Titulo:</b> <%= @e.orden.titulo %></p>
<p><b>Establecimiento:</b> <%= @e.orden.departamento.establecimiento.nombre %></p>
<p><b>Subvencion:</b> <%= @e.orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %> </p>
<hr />
<p><i>Este es un email de notificacion autogenerado por el Sistema de OPI Digital DAEM, favor no responder.</i></p>
<p style="font-size: 85%"><i>Tildes omitidos intencionalmente por sistema</i></p>