

<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Articulos
			</header>
			<div class="main-box-body clearfix">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<div id="articulos">


								<%
								total = 0	
								 @orden.bien_servicios.each do |o| 
									total += o.total %>
									<div style="margin-bottom:5px">
										<div class="form-inline" role="form">    
											<div class="form-group" >
												<input type="text" value="<%= o.cantidad %>" class="required form-control  cant_a" size="2" placeholder="Cant." name="articulo[][cantidad]" onKeyPress='return isNumberKey(event)' <% if !@orden.es_editable %> disabled <% end %>>
											</div>
											<div class="form-group"  >
												<input type="text" value="<%= o.descripcion %>" class="form-control required" size="30" placeholder="Descripcion"  name="articulo[][descripcion]" <% if !@orden.es_editable %> disabled <% end %>>
											</div>
											<div class="form-group">
												<div class="input-group">
		                                            <span class="input-group-addon">$</span>
		                                            <input type="text"  value="<%= o.valor %>" class="form-control required valor_a" size="5" placeholder="Valor"name="articulo[][valor]" <% if !@orden.es_editable %> disabled <% end %>>
		                                        </div>										
											</div>
											<div class="form-group">
											<div class="input-group">
		                                            <span class="input-group-addon">Total $</span>
		                                            <input  value="<%= o.total %>" type="text" class="form-control " size="5" name="total"  readonly>
		                                            <input type="hidden" name="articulo[][total]">
		                                        </div>
												
											</div>
											<% if @orden.es_editable %>
											<button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>
											<% end %>
										</div>
									</div>
								<% end %>

						</div>
						<% if @orden.es_editable %> 
							<div style="margin-bottom:5px" >
								<button type="button" class="btn btn-success btn-xs" id="agregar"><i class="fa fa-plus"></i> Agregar</button>
							</div>
						<% end %>
						</div>
					</div>
		
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Total solicitado:</label>
					<div class="col-lg-10">
						<div class="form-inline" role="form">    
									<div class="form-group" >
										<div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input  value="<%= total %>" type="text" class="form-control " value="0" size="20" readonly="" name="solicitado" id="solicitado">
                                        </div>
										
									</div>
									
									
								</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

$(document).ready(function() {
	$("#agregar").click(function() {
		$("#articulos").append('<div style="margin-bottom:5px">' +
						'<div class="form-inline" role="form">' +    
							'<div class="form-group" >' +
								'<input type="text" class="form-control required cant_a" placeholder="Cant." size="2" name="articulo[][cantidad]" onKeyPress="return isNumberKey(event)" >' +
							'</div> ' +
							'<div class="form-group"  >' +
									'<input type="text" class="form-control required" placeholder="Descripcion" size="30" name="articulo[][descripcion]"> ' +
							'</div> ' +
							'<div class="form-group">' +
									'<div class="input-group">' +
                                            '<span class="input-group-addon">$</span>' +
                                            '<input type="text" class="form-control required valor_a" placeholder="Valor" size="5" name="articulo[][valor]">'+
                                        '</div>' +	
							'</div> ' +
							'<div class="form-group">' +
									'<div class="input-group">' +
                                            '<span class="input-group-addon">Total $</span>' +
                                            '<input type="text" class="form-control " size="5" name="total"  readonly>' +
                                            '<input type="hidden" name="articulo[][total]">' +
                                        '</div>' +
							'</div> ' +
							'<button type="button" class="btn btn-link remove_line"><i class="fa fa-remove"></i></button>' +
						'</div>' +
					'</div>')
	})
	$("#articulos").on("click", "button.remove_line", function() {
		$(this).parent().remove();
	})

	$("#articulos").on("change", ".cant_a", function() {
		$cant = $(this).val();
		$valor = $(this).parent().next().next().find("input[name^='articulo[][valor]']").val()
		if($valor == ""){
			$valor = "0";
		}
		console.log("Valor desde cantidad " + $valor)
		$valor = $valor.replace(/\./g,'')
		console.log("Valor desde cantidad " + $valor)
		$total = ($cant * $valor);
		$(this).parent().next().next().next().find("input[name^='articulo[][total]']").val($total)
		$to = puntitos($total);
		$(this).parent().next().next().next().find("input[name^='total']").val($to)
		recalcular()

	})

	$("#articulos").on("change", ".valor_a", function() {
		$valor = $(this).val();
		$(this).val(puntitos($valor));
		$cant = $(this).parent().parent().prev().prev().find("input[name^='articulo[][cantidad]']").val()
		if($valor == ""){
			$valor = "0";
		}
		console.log("Valor desde va " + $valor)
		$valor = $valor.replace(/\./g,'')
		console.log("Valor desde va " + $valor)
		$total = ($cant * $valor)

		$(this).parent().parent().next().find("input[name^='articulo[][total]']").val($total)
		$to = puntitos($total);
		$(this).parent().parent().next().find("input[name^='total']").val($to)
		recalcular()
	})

	function recalcular() {
        // Los totales
        var neto = 0;
        var cantidad = 0;
        $("#articulos").find("input[name^='articulo[][total]']").each(function(i, v) {
            neto += parseInt(v.value);
            cantidad++;
        })
        var total = neto
      //  neto = Math.round(total / 1.19)
       // iva = Math.round(neto * 0.19);

        $("#solicitado").val(puntitos(total));

     }
})
</script>