<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span><%= @usuario_actual.departamento.establecimiento.nombre %></span></li>
		</ol>
		<h1>PME</h1>
	</div>
</div>


<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Plan de Mejoramiento Educativo <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
			
				<table class="table table-striped table-hover" id="datatable">
		            <thead>
		              <tr>
		                <th><a href="#"><span>Dimension</span></a></th>
		                <th class="text-center"><a href="#"><span>Subdimension</span></a></th>
		                <th class="text-center"><a href="#" class="asc"><span>Objetivo</span></a></th>
		                <th class="text-center"><span>Acciones</span></th>
		                <th class="text-center"><span>Costo Estimado</span></th>
		                <th class="text-center"><a href="#" class="desc"><span>Nivel ejecución</span></a></th>
		                <th>&nbsp;</th>
		              </tr>
		            </thead>
		            <tbody>
		            	<%  @objetivos.each do |o| %>
				              <tr>
				                <td>
				                  <span style="font-size: 13px"><%= o.dimencion.area.nombre %></span>
				                </td>
				                <td class="text-right">
				                  <%= o.dimencion.nombre %>
				                </td>
				                <td class="text-right">
				                  <div class='edit_nombre tool' id='<%= o.id %>' rel="tooltip" title="Click para editar..." ><%= o.nombre %></div>
				                </td>
				                <td class="text-center">
				                  <%= o.accions(:es_vigente => true).size %>
				                </td>
				                <td class="text-center">
				                	<% 
				                	sum = 0
				                	total = 0
				                	o.accions(:es_vigente => true).each do |a| 
				                		sum += a.presupuesto.to_i
				                		ordenes = Orden.all(
						                  	:es_nula => false, 
						                  	:periodo_id => session[:periodo].id, 
						                  	:orden_tiene_accion => {
						                  		:accion_id => a.id
						                  	})
					                  	ordenes.each do |o|
					                  		total += o.bien_servicios.sum(:total)
					                  	end
				                	end
				                	%>
				                   <%= sum  %>
				                </td>
				                <td class="text-center">
				                <% if sum == 0 %>
				                	0%
				                <% else %>
				                	<%= (total*100) / sum %>%
				                <% end %>
				                 
				                </td>
				                <td style="width: 15%;">
				                  <a href="<%= ver_acciones_plan_path o.id %>" class="table-link">
				                    <span class="fa-stack">
				                      <i class="fa fa-square fa-stack-2x"></i>
				                      <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
				                    </span>
				                  </a>
				                </td>
				              </tr>
		           		<% end %>
		            </tbody>
		          </table>
			
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

     $('.tool').tooltip({
    'placement':'top',
    delay: { show: 500, hide: 100 } 
});
   $("#datatable tbody").on("click", ".edit_nombre",function() {
    $(this).editable('<%= jeditable_nombre_objetivo_path %>', { 
       id   : 'elementid',
       name : 'newvalue',
   });    
   });         


  })
</script>