<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">PME</a></li>
			<li class="active"><span><%= @usuario_actual.departamento.establecimiento.nombre %></span></li>
		</ol>
		<h1>Plan de Mejoramiento Educativo</h1>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Nueva accion PME <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= crear_accion_path %>" method="post" class="validaf" id="nueva_accion">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Dimension</label>
						<div class="col-lg-10">
							<select id="sl_area"  class=" form-control select-block-level required" >
								<option value="">Seleccione Dimension</option>
								<% Area.todos(session[:periodo].id).each do |s| %>
								<option value="<%= s.id %>"><%= s.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
						<div class="col-lg-10">
							<select id="sl_dimencion" class=" form-control select-block-level required" disabled="" >
								<option value="">Seleccione Subdimension</option>
							</select>   
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
						<div class="col-lg-10">
							<select id="sl_objetivo" name="accion[objetivo_id]" class=" form-control select-block-level required" disabled="" >
								<option value="">Seleccione Objetivo</option>
							</select>
						</div>
					</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input type="text" maxlength="200" class="form-control required" name="accion[nombre]">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"></textarea> 
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
							<input type="text" class="form-control required" placeholder="Nombre..." name="accion[responsable_nombre]" maxlength="200">

					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Presupuesto:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input type="text" class="form-control required"  onKeyPress='return isNumberKey(event)' name="accion[presupuesto]">
						</div>
						
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label"></label>
					<div class="col-lg-10">
						<button type="button" class="btn btn-primary" id="crear_btn">Guardar acción</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>


		 	

<script type="text/javascript">


// Funcion antes de enviarse
function showRequest(formData, jqForm, options) { 

	var validator = $( "#nueva_accion" ).validate();
	if(validator.form()){
		return true;
	}else{
		alertify.error("Error, Por favor compruebe los campos señalados.");
		return false;

	}



} 

// Funcion despues de enviarse 
function showResponse(responseText, statusText)  { 

  console.log(responseText);
  console.log(statusText);

  if(responseText.estado == "Exito"){

    $("#exito_producto").show("slow").fadeOut(6000);
    alertify.success("Se ha guardado la accion exitosamente");
    $("#nueva_accion")[0].reset();
    $("#sl_dimencion").html("<option value=''>Seleccione Dimención</option>");
	$("#sl_dimencion").attr('disabled', true);
	$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
	$("#sl_objetivo").attr('disabled', true);
  }else
   alertify.error("Error, no se ha guardado la accion, revise los campos ingresados");
}
	$(document).ready(function() {

		   $('.datepicker').daterangepicker(
			{
			    locale: {
			      format: 'DD/MM/YYYY'
			    },
			    startDate: '01/03/<%= Time.now.year %>',
			    endDate: '05/04/<%= Time.now.year %>'
			}); 



		 var options = { 
		        beforeSubmit:  showRequest,  // Funcion a ejecutar antes de enviarse
		        success:       showResponse,  //Funcion a ejecutar despues de enviarse
		        dataType:  'json' //tipo de dato a devolver
		      }; 


      $("#crear_btn").click(function() {
	      $('#nueva_accion').ajaxSubmit(options); 
      })


		$("#sl_area").change(function(){
			if($(this).val() == ""){
				$("#sl_dimencion").html("<option value=''>Seleccione Dimención</option>");
				$("#sl_dimencion").attr('disabled', true);
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
			}else{
				$.getJSON("<%= sl_dimencion_path %>", { id: $(this).val() }, function(data){
					console.log(data)
					$("#sl_dimencion").removeAttr("disabled");
					$("#sl_dimencion").html(data.opciones);
					$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
					$("#sl_objetivo").attr('disabled', true);
				}) 
			} 
		})

		$("#sl_dimencion").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
			}else{
				$.getJSON("<%= sl_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})

	$(".validaf").validate({
    
      ignore: "",
      invalidHandler: function(form, validator) {
        alertify.error("Error Por favor, compruebe que ha ingresado correctamente la información.");
      },
      submitHandler: function(form) {
          form.submit();
      }   
    
  });
	

	})
</script>
