<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">Inicio</a></li>
			<li class="active"><span>PME</span></li>
		</ol>
		<h1>PME</h1>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Establecimiento</h2>
			</header>
			<div class="main-box-body clearfix">
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Establecimiento</label>
						<div class="col-lg-10">
							<select class="form-control" name="establecimiento_id">
								<option>Seleccione establecimiento</option>
								<% Establecimiento.todos.each do |e| %>
									<option value="<%= e.id %>"><%= e.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
			
			</div>
		</div>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Plan de Mejoramiento Educativo <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
			
				<table class="table">
		            <thead>
		              <tr>
		                <th><a href="#"><span>Dimension</span></a></th>
		                <th class="text-center"><a href="#"><span>Subdimension</span></a></th>
		                <th class="text-center"><a href="#" class="asc"><span>Objetivo</span></a></th>
		                <th class="text-center"><span>Acciones</span></th>
		                <th class="text-center"><span>Costo Estimado</span></th>
		                <th class="text-center"><a href="#" class="desc"><span>Nivel ejecución</span></a></th>
		                <th>&nbsp;</th>
		              </tr>
		            </thead>
		            <tbody>
		            	<%  @objetivos.each do |o| %>
				              <tr>
				                <td>
				                  <span style="font-size: 13px"><%= o.dimencion.area.nombre %></span>
				                </td>
				                <td class="text-right">
				                  <%= o.dimencion.nombre %>
				                </td>
				                <td class="text-right">
				                  <%= o.nombre %>
				                </td>
				                <td class="text-center">
				                  <%= o.accions.size %>
				                </td>
				                <td class="text-center">
				                	<% 
				                	sum = 0
				                	o.accions.each do |a| 
				                		sum += a.presupuesto.to_i
				                	end
				                	%>
				                   <%= sum  %>
				                </td>
				                <td class="text-center">
				                  0%
				                </td>
				                <td style="width: 15%;">
				                  <a href="#" class="table-link">
				                    <span class="fa-stack">
				                      <i class="fa fa-square fa-stack-2x"></i>
				                      <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
				                    </span>
				                  </a>
				                  <a href="#" class="table-link">
				                    <span class="fa-stack">
				                      <i class="fa fa-square fa-stack-2x"></i>
				                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				                    </span>
				                  </a>
				                </td>
				              </tr>
		           		<% end %>
		            </tbody>
		          </table>
			
			</div>
		</div>
	</div>
</div>