  <div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        <li><a href="#">PME</a></li>
            <li class="active"><span><%= @usuario_actual.departamento.establecimiento.nombre %></span></li>
        </ol>
        <h1>Plan de Mejoramiento Educativo</h1>
    </div>
</div>
<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Ver Objetivo Plan <span></span></h2>
            </header>
            <div class="main-box-body clearfix">
            <form action="<%= crear_objetivo_path %>" method="post" class="validaf">
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Dimension</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" readonly value="<%= @o.dimencion.area.nombre %>">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" readonly value="<%= @o.dimencion.nombre %>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control required"   readonly value="<%= @o.nombre %>">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Acciones ingresadas</h2>

      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="datatable">
            <thead>
              <tr>
                <th>Nombre Accion</th>
                <th>Responsable</th>
                <th>Presupuesto</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            
              <% @o.accions(:es_vigente => true).each do |a| %>
                <tr>
                  <td><%= a.nombre %></td>
                  <td><%= a.responsable_nombre %> </td>
                  <td><%= dinero(a.presupuesto.to_i) %></td>
                  <td>
                  <a href="<%= ver_accion_plan_path a.id %>" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                    
                  </td>
                  <td>
                    <form action="<%= borrar_accion_plan_path a.id %>" method="post" ONSUBMIT="return confirm('¿Esta seguro que desea eliminar la acción <%= a.nombre %>?');">
                    <button type="submit" class="btn btn-danger ">
                        <i class="fa fa-trash-o"></i>
                    </button>
                  </form>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

