<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		<li><a href="#">PME</a></li>
			<li class="active"><span><%= @usuario_actual.departamento.establecimiento.nombre %></span></li>
		</ol>
		<h1>Plan de Mejoramiento Educativo</h1>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Ver Accion PME <span></span></h2>
			</header>
			<div class="main-box-body clearfix">
				<form action="<%= actualiza_accion_plan_path @a.id %>" method="post" class="validaf" id="nueva_accion">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Dimension</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" value="<%= @a.objetivo.dimencion.area.nombre %>">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" value="<%= @a.objetivo.dimencion.nombre %>">  
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
						<div class="col-lg-10">
							<input type="text" class="form-control required" value="<%= @a.objetivo.nombre %>">
						</div>
					</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<input type="text" class="form-control required" name="accion[nombre]" value="<%= @a.nombre %>">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Descripción</label>
					<div class="col-lg-10">
						<textarea class="form-control required" name="accion[descripcion]" rows="3"><%= @a.descripcion %></textarea> 
					</div>
				</div>


				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Fechas</label>
					<div class="col-lg-10">
						<div class="input-group">
							<input type="text" class="form-control  datepicker required" placeholder="Desde..." name="fechas" value="<%= fecha(@a.desde) %> - <%= fecha(@a.hasta) %>">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Responsable</label>
					<div class="col-lg-10">
						<div class="form-inline" role="form">    
							<input type="text" class="form-control required" placeholder="Nombre..." name="accion[responsable_nombre]" value="<%= @a.responsable_nombre %>">
							
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Presupuesto:</label>
					<div class="col-lg-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input type="text" value="<%= @a.presupuesto %>" class="form-control required" name="accion[presupuesto]">
						</div>
						
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label"></label>
					<div class="col-lg-10">
						<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Actualizar</button>
						
					</div>
				</div>

				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Ordenes accion</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
           
          </div>

        </div>
      </header>
      <div class="main-box-body clearfix">
        
        <%= render "ordens/tabla" %>
      </div>
    </div>
  </div>
</div>
		 	


