
<div class="row ">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Contrato</h2>
			</header>
			<div class="main-box-body clearfix">
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<select id="sl_tipo" class="required form-control input-transparent" name="contrato[tipo]">
											<option value="">Tipo Contrato</option>
											<option value="Tipo 1">Tipo 1</option>
											<option value="Tipo 2">Tipo 2</option>
										</select>

									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control input-transparent" placeholder="Cargo" size="30" name="contrato[cargo]" value="<%= @orden.contrato.cargo %>">
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Funcion" size="40" name="contrato[funcion]" value="<%= @orden.contrato.funcion %>">
									</div>
								</div>
							</div>
						</div>
						<div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="required form-control input-transparent" onkeyup=mascara(this,'/',patron,true) placeholder="Desde.." id="fecha_desde" size="15" name="contrato[fecha_desde]"  value="<%= @orden.contrato.fecha_desde %>">
									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control input-transparent" onkeyup=mascara(this,'/',patron,true) placeholder="Hasta.." id="fecha_hasta" size="15" name="contrato[fecha_hasta]"  value="<%= @orden.contrato.fecha_hasta %>">
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Bienios" size="10" name="contrato[bienios]"  value="<%= @orden.contrato.bienios %>">
									</div>
									<div class="form-group">
										 <div class="checkbox checkbox-primary">
										    <input type="checkbox" id="checkbox1" name="es_titulado" <% if @orden.contrato.titulado %> checked <% end %>>
										    <label for="checkbox1">
										        Titulado (a)
										    </label>
										  </div>
									</div>
									<div class="form-group">
										 <div class="checkbox checkbox-primary">
										    <input type="checkbox" id="checkbox2" name="tiene_mencion" <% if @orden.contrato.mencion %> checked <% end %>>
										    <label for="checkbox2">
										        Mencion
										    </label>
										  </div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {

		$("#sl_tipo").val("<%= @orden.contrato.tipo %>");

$("#fecha_desde").change(function(e){ 

        if(!isValidDate($(this).val())){
            alert("Fecha erronea");
            $(this).val("")
            $(this).focus();
       }
        
       
    });

$("#fecha_hasta").change(function(e){ 

        if(!isValidDate($(this).val())){
            alert("Fecha erronea");
            $(this).val("")
            $(this).focus();
       }
        
       
    });
	})
</script>