<% if !@orden.adquisicions.blank? %>
<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Adquisicion </h2>
			</header>
			<div class="main-box-body clearfix">
			
					<table class="table table-striped tabla_ordenes" id="table_oc" >
            <thead>
              <tr>
                <th>OC</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Fecha</th>
                
                <th class="text-center" >estado</th>
                <th class="text-center">Licitacion</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @orden.adquisicions(:es_nula => false, :eliminada => false).each do |a| %>
                <tr>
                  <td>
                    <%= a.orden_compra %>
                  </td>
                  <td class="text-left">
                    <%= dinero(a.monto.to_i) %>
                  </td>
                  <td class="text-left">
                    <%= fecha(a.fecha) %>
                  </td>
                  <td class="text-left">
                    <% if a.eliminada %>
                      <span class="label label-danger">Eliminada</span>
                      <div><%= a.motivo %></div>
                    <% else %>
                      <span class="label label-success">Vigente</span>
                    <% end %>
                  </td>

                  <td class="text-left">
                  	<% if a.fue_licitacion %>
				
						<%= a.cod_licitacion %>
					<% else %>
					-
					<% end %>

                  </td>
                  <td class="text-left">
                  <% if !a.orden_compra_doc.blank? %>
                <a target="_blank" href="<%= a.orden_compra_doc.archivo %>"><i class="fa fa-cloud-download"></i> Descargar</a>
                <% end %>
                <% if @usuario_actual.departamento_id == 1 || @usuario_actual.departamento_id == 6 %>
                <a href="#" data-toggle="modal" data-target="#EliminarOrden" class="eliminar_oc"><i class="fa fa-trash"></i> Eliminar</a>
               
                <input type="hidden" name="id_oc_hide" value="<%= a.id %>">
                <input type="hidden" name="number_oc_hide"  value="<%= a.orden_compra %>">
                 <% end %>
              
                    
                  </td>
                
                </tr>
              <% end %>
            </tbody>
          </table>
				<% if @usuario_actual.departamento_id == 1 || @usuario_actual.departamento_id == 6 %>
          <button type="button" class="btn btn-primary" id="cargar_oc_btn" data-toggle="modal" data-target="#CargarOrdenCompra"><i class="fa fa-ok"></i> Cargar Orden de Compra</button>
					<% end %>

			
			</div>
		</div>
	</div>
</div>
	<% end %>


<!-- Modal -->
<div class="modal fade" id="EliminarOrden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Orden <strong><span class="num_oc"></span></strong></h4>
      </div>
      <form action="<%= elimina_orden_path %>" method="post" id="elimina_oc_form">
        <div class="modal-body">
          <div class="alert alert-danger" id="error_motivo" style="display:none">
            <h4><i class="fa fa-ban"></i> <strong>Error!</strong></h4>
            <p>Debe especificar el motivo</p>
          </div>
          <div class="form-group">
            <label for="motivo">Motivo:</label>
            <input type="text" class="form-control" name="motivo" id="motivo">
            <input type="hidden" name="id" value="" id="oc_id_modal">

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="CargarOrdenCompra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cargar Orden de Compra</h4>
      </div>
      <form action="<%= guarda_oc_path @orden.id %>" method="post" id="guarda_oc_form" class="form-horizontal">
        <div class="modal-body">
          
            <div id="ordenes">
              <div class="form-group" >
      <label  class="col-lg-2 control-label">ID OC:</label>
      <div class="col-lg-10">
        <input type="text" id="oc_mercado"  name="compra[orden_compra]" class="form-control required">
      </div>
    </div>
    <div class="form-group" >
      <label  class="col-lg-2 control-label">Fecha OC:</label>
      <div class="col-lg-10">
        <input type="date" id="oc_fecha" placeholder="Ej. 15/03/2015"  name="compra[fecha]" class="form-control required">
      </div>
    </div>
    <div id="oc_en_usd" style="display: none">
      <div class="form-group" >
        <label  class="col-lg-2 control-label">Tipo Moneda:</label>
        <div class="col-lg-10">
          <input type="text" readonly="" id="oc_tipo_moneda"  name="compra[tipo_moneda]" placeholder="Ej. 15/03/2015"  class="form-control" value="US Dollar">
        </div>
      </div>
      <div class="form-group" >
        <label  class="col-lg-2 control-label">Valor Dolar:</label>
        <div class="col-lg-10">
          <input type="text" id="oc_dolar"  name="compra[dolar]" class="form-control required">
        </div>
      </div>
      <div class="form-group" >
        <label  class="col-lg-2 control-label">Monto en Dolar:</label>
        <div class="col-lg-10">
          <input type="text" id="monto_dolar"  name="compra[monto_dolar]" class="form-control required">
        </div>
      </div>
    </div>
    <div class="form-group" >
      <label  class="col-lg-2 control-label">Monto OC:</label>
      <div class="col-lg-10">
        <input type="number" id="oc_monto"  name="compra[monto]" class="form-control required">
      </div>
    </div>
    
    <div class="form-group" >
      <label  class="col-lg-2 control-label">Adjuntar OC:</label>
      <div class="col-lg-10">
        <input type="file"  name="doc[archivo]" class="form-control required">
      </div>
    </div>
            
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>




<script type="text/javascript">

function showRequest_oc_guarda(formData, jqForm, options) { 

       
            return true; 
          
        
} 
 
// post-submit callback 
function showResponse_oc_guarda(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){
    
    $('#CargarOrdenCompra').modal('hide')
    $("table.tabla_ordenes tbody").append('<tr>' +
                  '<td>' + responseText.oc + '</td>' +
                  '<td class="text-left">' + responseText.monto + '</td>' +
                  '<td class="text-left">' + responseText.fecha + '</td>' +
                  '<td class="text-left"><span class="label label-success">Vigente</span></td>' +
                  '<td class="text-left">-</td>' +
                  '<td class="text-left">' +
                   '<a target="_blank" href="' + responseText.url + '"><i class="fa fa-cloud-download"></i> Descargar</a>' +
                  '<a href="#" data-toggle="modal" data-target="#EliminarOrden" class="eliminar_oc"><i class="fa fa-trash"></i> Eliminar</a>' +
                '<input type="hidden" name="id_oc_hide" value="' + responseText.id + '">' +
                '<input type="hidden" name="number_oc_hide"  value="' + responseText.oc + '">' +                    
                  '</td>' +
                '</tr>')
  }
}

// pre-submit callback 
function showRequest_oc(formData, jqForm, options) { 

        $("#error_motivo").hide(); 
        
        if($("#motivo").val() == ""){
            $("#error_motivo").show("slow"); 
            return false; 
          }else{
            return true; 
          }
        
} 
 
// post-submit callback 
function showResponse_oc(responseText, statusText)  { 

    console.log(responseText);
    console.log(statusText);

 if(responseText.estado == "Exito"){
    $('#EliminarOrden').modal('hide')

    $("table.tabla_ordenes tbody").find("input[name^='id_oc_hide']").each(function(i, v) {
            if(v.value == responseText.id){
                $(this).parent().prev().prev().html('<span class="label label-danger">Eliminada</span><div>' + responseText.motivo + '</div>')
                $(this).parent().find('a.eliminar_oc').hide("")
                $(this).parent().find('a.eliminar_oc').hide("")
            }
        })

  }
}


$(document).ready(function() {


  $("#oc_mercado").change(function(){
      url = 'http://api.mercadopublico.cl/servicios/v1/publico/ordenesdecompra.json?codigo=' + $("#oc_mercado").val() + '&ticket=9CBA3DC3-8095-4BD9-BD61-F37046C6F490'
      $.getJSON(url, function(data){
        console.log(data.Cantidad)
        $.each(data.Listado, function(index, v) { 
          $("#oc_monto").val(v.Total)
          date = new Date(v.Fechas.FechaCreacion)
          year = date.getFullYear();
          month = date.getMonth()+1;
          dt = date.getDate();

          if (dt < 10) {
            dt = '0' + dt;
          }
          if (month < 10) {
            month = '0' + month;
          }

          console.log(year+'-' + month + '-'+dt);
          $("#oc_fecha").val(year+'-' + month + '-'+dt)
          if(v.TipoMoneda == "USD"){
            $("#oc_en_usd").show()
            url_dolar = 'https://mindicador.cl/api/dolar/' + dt + '-' + month + '-' + year + ''
            $.getJSON(url_dolar, function(dolar){
              $.each(dolar.serie, function(i, x) { 
                $("#oc_dolar").val(x.valor)
                $("#monto_dolar").val(v.Total)
                monto_total = x.valor * v.Total
                $("#oc_monto").val(parseInt(monto_total));
              })
            })
          }
        })
      })
    })

      var options_oc = { 
        beforeSubmit:  showRequest_oc,  // pre-submit callback 
        success:       showResponse_oc,  // post-submit callback 
        dataType:  'json'
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 

    var options_oc_guarda = { 
        beforeSubmit:  showRequest_oc_guarda,  // pre-submit callback 
        success:       showResponse_oc_guarda,  // post-submit callback 
        dataType:  'json'
    }; 


 
    // bind to the form's submit event 
    $('#elimina_oc_form').submit(function() { 
        $(this).ajaxSubmit(options_oc); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

    $('#guarda_oc_form').submit(function() { 
        $(this).ajaxSubmit(options_oc_guarda); 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 


  $('#datatable').DataTable({
    "sDom": "R<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    responsive: true
  });


  $('[data-toggle="tooltip"]').tooltip()

  $("table.tabla_ordenes tbody").on("click", "a.eliminar_oc", function  () {
    $id = $(this).parent().find("input[name^='id_oc_hide']").val();
    $num = $(this).parent().find("input[name^='number_oc_hide']").val();
    $("#oc_id_modal").val($id)
    $(".num_oc").html($num)
  })



})
</script>


