<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Información Personal</h2>
			</header>
			<div class="main-box-body clearfix">
				
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<div id="personal">
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="required form-control input-transparent" placeholder="RUT" size="7" name="persona[rut]" value="<%= @orden.recurso_humano.rut %>">
									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control input-transparent" placeholder="Nombres..." size="30" name="persona[nombre]" value="<%= @orden.recurso_humano.nombre %>">
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Apellido Paterno" size="10" name="persona[apaterno]" value="<%= @orden.recurso_humano.apaterno %>">
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Apellido Materno" size="10" name="persona[amaterno]" value="<%= @orden.recurso_humano.amaterno %>">
									</div>
								</div>
							</div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										
										<select id="sl_sexo" name="persona[sexo]" class="required form-control input-transparent">
											<option value="">Sexo...</option>
											<option value="Masculino">Masculino</option>
											<option value="Femenino">Femenino</option>
										</select>
									</div>
									<div class="form-group"  >
						
										<input type='text' placeholder=" Fecha Nacimiento..." class="required form-control input-transparent" onkeyup=mascara(this,'/',patron,true) name="persona[nacimiento]" id="fecha_nac" value="<%= @orden.recurso_humano.nacimiento %>" />
									</div>
									<div class="form-group">
									
										<select id="sl_estado_civil" name="persona[estado_civil]" class="required form-control input-transparent">
											<option value="">Estado Civil...</option>
											<option value="Casado">Casado</option>
											<option value="Soltero">Soltero</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Nacionalidad" size="20" name="persona[nacionalidad]" value="<%= @orden.recurso_humano.nacionalidad %>">
									</div>
								</div>
							</div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="required form-control input-transparent" placeholder="Comuna" size="20" name="persona[comuna]" value="<%= @orden.recurso_humano.comuna %>">
									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control input-transparent" placeholder="Calle..." size="30" name="persona[calle]" value="<%= @orden.recurso_humano.calle %>">
									</div>
									<div class="form-group">
										<input type="text" class="required form-control input-transparent" placeholder="Numero" size="7" name="persona[numero]" value="<%= @orden.recurso_humano.numero %>">
									</div>
									<div class="form-group">
										<input type="text" class="form-control input-transparent" placeholder="Dpto" size="7" name="persona[dpto]" value="<%= @orden.recurso_humano.dpto %>">
									</div>
								</div>
							</div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="required form-control input-transparent" placeholder="Telefono" size="11" name="persona[telefono]" value="<%= @orden.recurso_humano.telefono %>">
									</div>
									<div class="form-group"  >
										<input type="text" class="required form-control input-transparent" placeholder="Email" size="30" name="persona[email]" value="<%= @orden.recurso_humano.email %>">
									</div>
									<div class="form-group">
										<select id="sl_afp" name="persona[afp]" class="required form-control input-transparent">
											<option value="">AFP...</option>
											<option value="Capital">Capital</option>
											<option value="Cuprum">Cuprum</option>
											<option value="Habitat">Habitat</option>
											<option value="Modelo">Modelo</option>
											<option value="Planvital">Planvital</option>
											<option value="Provida">Provida</option>
										</select>
									</div>
									<div class="form-group">
										<select id="sl_salud" name="persona[salud]" class="required form-control input-transparent">
											<option value="">Salud...</option>
											<option value="Fonasa">Fonasa</option>
											<option value="Consalud">Consalud</option>
											<option value="Masvida">Masvida</option>
											<option value="Banmédica">Banmédica</option>
											<option value="Cruz Blanca">Cruz Blanca</option>
											<option value="Vida Tres">Vida Tres</option>
											<option value="Colmena Golden Cross">Colmena Golden Cross</option>
											<option value="Chuquicamata">Chuquicamata</option>
											<option value="Cruz del Norte">Cruz del Norte</option>
											<option value="Optima">Optima</option>
											<option value="Fundación">Fundación</option>
											<option value="Fusat">Fusat</option>
											<option value="Río Blanco">Río Blanco</option>
											<option value="San Lorenzo">San Lorenzo</option>
											
											
										</select>
									</div>
								</div>
							</div>
							<div style="margin-bottom:5px">
								<div class="form-inline" role="form">    
									<div class="form-group" >
										<input type="text" class="form-control input-transparent" placeholder="Profesion" size="40" name="persona[profesion]">
									</div>
									<div class="form-group"  >
										<select id="sl_nivel_educacional" name="persona[nivel_educacional]" class="required form-control input-transparent">
											<option value="">Nivel educacional...</option>
											<option value="Basica Incompleta">Basica Incompleta</option>
											<option value="Basica Completa">Basica Completa</option>
											<option value="Media Incompleta">Media Incompleta</option>
											<option value="Media Completa">Media Completa</option>
											<option value="CFT">CFT</option>
											<option value="Instituto Profesional">Instituto Profesional</option>
											<option value="Universitaria">Universitaria</option>			
										</select>
									</div>

								</div>
							</div>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	$(document).ready(function() {

		$("#sl_nivel_educacional").val("<%= @orden.recurso_humano.nivel_educacional %>");
		$("#sl_salud").val("<%= @orden.recurso_humano.salud %>");
		$("#sl_afp").val("<%= @orden.recurso_humano.afp %>");
		$("#sl_sexo").val("<%= @orden.recurso_humano.sexo %>");
		$("#sl_estado_civil").val("<%= @orden.recurso_humano.estado_civil %>");


$("#fecha_nac").change(function(e){ 

        if(!isValidDate($(this).val())){
            alert("Fecha erronea");
            $(this).val("")
            $(this).focus();
       }
        
       
    });
	})
</script>