<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Plan de Mejora 
				</h2>
			</header>
			<div class="main-box-body clearfix">
				<div id="pme_sl">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
						<div class="col-lg-10">
							<select id="sl_area" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Area</option>
								<% Area.todos(session[:periodo].id).each do |s| %>
								<option value="<%= s.id %>"><%= s.nombre %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subdimension</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_dimencion" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Dimensión</option>
							</select>   
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Objetivo</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_objetivo" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Objetivo</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Acción</label>
					<div class="col-lg-10">
						<select id="sl_accion" <% if !@orden.es_editable %> disabled <% end %>  class="required form-control select-block-level input-transparent" name="accion_id">
							<option value="">Seleccione Accion</option>
						</select>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		$("#sl_area").change(function(){
			if($(this).val() == ""){
				$("#sl_dimencion").html("<option value=''>Seleccione Dimención</option>");
				$("#sl_dimencion").attr('disabled', true);
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_dimencion_path %>", { id: $(this).val() }, function(data){
					console.log(data)
					$("#sl_dimencion").removeAttr("disabled");
					$("#sl_dimencion").html(data.opciones);
				}) 
			} 
		})

		$("#sl_dimencion").change(function(){
			if($(this).val() == ""){
				$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
				$("#sl_objetivo").attr('disabled', true);
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_objetivo_path %>", { id: $(this).val() }, function(data){
					if(data.mensaje == ""){
						$("#sl_objetivo").removeAttr("disabled");
						$("#sl_objetivo").html(data.opciones);
					}else{
						$("#sl_objetivo").html("<option value=''>Seleccione Objetivo</option>");
						$("#sl_objetivo").attr('disabled', true);
						alertify.alert(data.mensaje);
					}
					
				}) 
			} 
		})

		$("#sl_objetivo").change(function(){
			if($(this).val() == ""){
				$("#sl_accion").html("<option value=''>Seleccione Accion</option>");
			}else{
				$.getJSON("<%= sl_accion_path %>", { id: $(this).val() }, function(data){
					console.log(data)
					$("#sl_accion").removeAttr("disabled");
					$("#sl_accion").html(data.opciones);
				}) 
			} 
		})

		$("#sl_accion").change(function(){
			if($(this).val() == ""){
				$("#pme_sl").show("slow");
			}else{
				$.getJSON("<%= presupuesto_accion_path %>", { id: $(this).val() }, function(data){
					console.log(data)
					$("#p_total").val(data.total);
					$("#p_gastado").val(data.gastado);
					$("#p_restante").val(data.restante);
					$("#pme_sl").hide("slow");
					$("#ampliar_pme").show();
				}) 
				
			} 
		})


	})
</script>