<div class="row form-horizontal">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Presupuesto </h2>
			</header>
			<div class="main-box-body clearfix">	
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Presupuesto:</label>
					<div class="col-lg-10">
						<div class="form-inline" role="form">    
							<div class="input-group">
								<span class="input-group-addon">Total</span>
								<input type="text" disabled="" id="p_total" size="10" class="form-control" >
							</div>
							<div class="input-group">
								<span class="input-group-addon">Gastado</span>
								<input type="text" disabled="" id="p_gastado" size="10" class="form-control" >
							</div>
							<div class="input-group">
								<span class="input-group-addon">Disponible</span>
								<input type="text" disabled="" id="p_restante" size="10" class="form-control" >
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


