<div class="row form-horizontal">
	<div class="col-lg-12" id="cat_gasto_box">
		<div  class="main-box">
			<header class="main-box-header clearfix">
				<h2>Categoria gasto 
				<button type="button" value="0"  id="ampliar_categorizar" style="border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-search-plus icono_categorizar"></i></button>
				<% if @orden.es_editable? %>
				<button type="button" value="0" id="edit_cat_gasto"  style=";border: none;padding: 2px 6px;" class="btn btn-primary"><i class="fa fa-edit "></i> Editar</button>
				<% end %>
				</h2>
			</header>
			<div class="main-box-body clearfix">
				<div id="categorizar_gasto_sl" style="display:none">
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subvención</label>
						<div class="col-lg-10">
							<input disabled="" type="text" value="<%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %>"  class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Tipo de Gasto</label>
						<div class="col-lg-10">
							 <input  disabled="" type="text" value="<%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.nombre %>"  class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Categoría de Gasto</label>
						<div class="col-lg-10">
							<input disabled="" type="text" value="<%= @orden.subcategoria_gasto.categoria_gasto.nombre %>"  class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Subcategoría de Gasto</label>
					<div class="col-lg-10">
						<input disabled="" type="text" value="<%= @orden.subcategoria_gasto.nombre %>"  class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6" id="cat_gasto_box_edit" style="display:none">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Nueva Categoria gasto </h2>
			</header>
			<div class="main-box-body clearfix">
				<div >
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Subvención</label>
						<div class="col-lg-10">
							<select id="sl_subvencion" class=" form-control select-block-level input-transparent" >
								<option value="<%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.id %>"><%= @orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.nombre %></option>
								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Tipo de Gasto</label>
						<div class="col-lg-10">
							<select id="sl_tipo_gasto" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione tipo de gasto</option>
								<%= TipoGasto.subvencion(@orden.subcategoria_gasto.categoria_gasto.tipo_gasto.subvencion.id).each do |t| %>
								<option value="<%= t.id %>"><%= t.nombre %></option>
								<% end %>
							</select>   
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Categoría de Gasto</label>
						<div class="col-lg-10">
							<select disabled="" id="sl_categoria_gasto" class=" form-control select-block-level input-transparent" >
								<option value="">Seleccione Categoría de gasto</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-2 control-label">Subcategoría de Gasto</label>
					<div class="col-lg-10">
						<select id="sl_subcategoria_gasto" class="required form-control select-block-level input-transparent" <% if !@orden.es_editable %> disabled <% end %> name="orden[subcategoria_gasto_id]">
							<option value="">Seleccione Subcategoría de gasto</option>
						</select> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row form-horizontal" style="display:none">
	
</div>




<script type="text/javascript">
	$(document).ready(function() {


		$("#edit_cat_gasto").click(function() {
			if($(this).val() == 0){
				$("#cat_gasto_box").removeClass("col-lg-12");
				$("#cat_gasto_box").addClass("col-lg-6");
				$("#cat_gasto_box_edit").show("slow");
				$("#edit_cat_gasto").val(1);
			}else{
				$("#cat_gasto_box_edit").hide();
				$("#cat_gasto_box").removeClass("col-lg-6");
				$("#cat_gasto_box").addClass("col-lg-12");
				$("#edit_cat_gasto").val(0);
			}


		})


		$("#sl_subvencion").change(function(){
			if($(this).val() == ""){
				$("#sl_tipo_gasto").html("<option value=''>Seleccione Tipo Gasto</option>");
				$("#sl_tipo_gasto").attr('disabled', true);
				$("#sl_categoria_gasto").html("<option value=''>Seleccione Categoria de Gasto</option>");
				$("#sl_categoria_gasto").attr('disabled', true);
				$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
			}else{
				$.getJSON("<%= sl_tipo_gasto_path %>", { id: $(this).val() }, function(data){
					$("#sl_tipo_gasto").removeAttr("disabled");
					$("#sl_tipo_gasto").html(data.opciones);
				}) 
			} 
		})

		$("#sl_tipo_gasto").change(function(){
			if($(this).val() == ""){
				$("#sl_categoria_gasto").html("<option value=''>Seleccione Categoria de Gasto</option>");
				$("#sl_categoria_gasto").attr('disabled', true);
				$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
			}else{
				$.getJSON("<%= sl_categoria_gasto_path %>", { id: $(this).val() }, function(data){
					$("#sl_categoria_gasto").removeAttr("disabled");
					$("#sl_categoria_gasto").html(data.opciones);
				}) 
			} 
		})

		$("#sl_categoria_gasto").change(function(){
			if($(this).val() == ""){
				$("#sl_subcategoria_gasto").html("<option value=''>Seleccione Subcategoria de Gasto</option>");
			}else{
				$.getJSON("<%= sl_subcategoria_gasto_path %>", { id: $(this).val() }, function(data){
					$("#sl_subcategoria_gasto").removeAttr("disabled");
					$("#sl_subcategoria_gasto").html(data.opciones);
				}) 
			} 
		})

		$("#ampliar_categorizar").click(function(){
			if($(this).val() == 1){
				$("#categorizar_gasto_sl").hide("slow");
				$("#ampliar_categorizar").val(0);
				$(".icono_categorizar").removeClass("fa-search-minus");
				$(".icono_categorizar").addClass("fa-search-plus");
				
			}else{
				$("#categorizar_gasto_sl").show("slow");
				$("#ampliar_categorizar").val(1);
				$(".icono_categorizar").removeClass("fa-search-plus");
				$(".icono_categorizar").addClass("fa-search-minus");
				
			}
			
		})
	})
</script>