<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Gestión de Subvenciones</title>


<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<link type="image/x-icon" href="#" rel="shortcut icon">

<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
        <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
            .en-markup-crop-options {
                top: 18px !important;
                left: 50% !important;
                margin-left: -100px !important;
                width: 200px !important;
                border: 2px rgba(255,255,255,.38) solid !important;
                border-radius: 4px !important;
            }

            .en-markup-crop-options div div:first-of-type {
                margin-left: 0px !important;
            }
        </style></head>
        <body class="theme-whbl  fixed-header boxed-layout fixed-leftmenu pace-done"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
          <div class="pace-progress-inner"></div>
      </div>
      <div class="pace-activity"></div></div>
      <div id="theme-wrapper">


      <%= render "partials/header"  %>

        <div id="page-wrapper" class="container">
            <div class="row">
                <%= render "partials/left" %>
                <div id="content-wrapper">
                    <div class="row" style="opacity: 1;">
                        <div class="col-lg-12">
                        <%= render "partials/mensajes" %>
                            <%= yield %>
                        </div>
                    </div>
                    <footer id="footer-bar" class="row" style="opacity: 1;">
                        <p id="footer-copyright" class="col-xs-12">
                            © 2016 <a href="#" target="_blank"></a>. Gestión de Subvenciones DAEM SPP
                        </p>
                    </footer>
                </div>
     
            </div>

        </div>
        
    </div>
</div>
</div>
</div>

<%= render :partial => "recepcionar/proveedor" %> 

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Periodo actual <b><%= session[:periodo].anio %></b></h4>
      </div>
      <form action="<%= cambiar_periodo_path %>" method="post">
      <div class="modal-body">

        <div class="form-group">
          <label for="exampleInputEmail1">Cambiar periodo a:</label>
        <select class="form-control" name="periodo">
                            <option value="">Seleccione periodo</option>
                              <%= Periodo.todos.each do |p| %>
                                <option value="<%= p.id %>"><%= p.anio %></option>
                              <% end %>
                        </select>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Cambiar</button>
      </div>
      </form>
    </div>
  </div>
</div>



</body></html>