<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Gestión Subvenciones</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body id="login-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="login-box">
          <div id="login-box-holder">
            <div class="row">
              <div class="col-xs-12">
                <header id="login-header">
                  <div id="login-logo" style="  text-transform: none;  font-size: 20px;">
                  Gestión de Subvenciones
                  </div>
                </header>
                <div id="login-box-inner">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
          <div id="login-box-footer">
            <div class="row">
              <div class="col-xs-12">
                DAEM SAN PEDRO DE LA PAZ
                <a href="#">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>
</html>